<md-dialog arial-label="Data type conflict" style="max-width:600px;">
  <md-dialog-content class="md-dialog-content">
    <h2 class="md-title">{{'SHARED.APPLY_DOMAIN_TYPE.REMOVE_DT' | translate}}</h2>
    <div class="md-dialog-content-body">
      <p [translate]="'SHARED.APPLY_DOMAIN_TYPE.COLOUMN_FIELD_DESC' | translate" [translateParams]="{columnName:columnDef.name, domainType:domainType.title, propertyName:propertyName,propertyValue:propertyValue }"></p>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button ng-click="cancel()">{{'view.main.cancel' | translate}}</md-button>
    <md-button ng-click="keep()">{{'view.main.keep' | translate}}</md-button>
    <md-button class="md-raised md-primary" ng-click="remove()">{{'views.entity-access-control.Remove' translate}}</md-button>
  </md-dialog-actions>
</md-dialog>
