<h2 mat-dialog-title class="push-bottom-sm" *ngIf="!uploading">Upload file</h2>
<h2 mat-dialog-title class="push-bottom-sm" *ngIf="uploading">Uploading file</h2>
<mat-card-subtitle>Upload local file(s) to remote filesystem input folder</mat-card-subtitle>
<div mat-dialog-content >
  <div fxLayout="column" fxFlex fxLayoutAlign="start">
    <mat-progress-spinner [diameter]="50" mode="indeterminent" *ngIf="uploading" color="accent"></mat-progress-spinner>
    <div *ngIf="errorMessage != '' && !uploading" fxLayout="row wrap">
     <mat-icon color="warn">error</mat-icon>
      <span class="pad-left">{{errorMessage}}</span>
    </div>
    <file-upload #fileUpload (onCancel)="cancel()" (onSubmit)="onUploadFiles($event)" *ngIf="!uploading"></file-upload>
  </div>
</div>
