<div fxLayout="column" [class.visual-query-auto-complete-centered]="chartViewModel.data.nodes.length ==0" [class.visual-query-auto-complete-top]="chartViewModel.data.nodes.length >0">
  <div *ngIf="error != null" class="visual-query-error" fxLayout="row">
    <ng-md-icon icon="error" style="margin-right:20px;"></ng-md-icon>
    <div fxLayout="column">
      <div style="font-weight:500;line-height:24px;">Error!</div>
      <div style="line-height:20px;">{{error}}</div>
    </div>
  </div>

  <ng-template tdLoading [tdLoadingUntil]="!loadingPage" tdLoadingStrategy="overlay" tdLoadingType="circular" class="layout-fill">
    <form [formGroup]="form" >
      <div fxLayout="column" class="mat-padding">

        <div fxLayout="row" fxLayoutAlign="start start" class="mat-padding">
          <!-- Datasource dropdown -->

          <mat-form-field *ngIf="showDatasources">
            <mat-select formControlName="datasource" placeholder="Data Source">
              <mat-option *ngFor="let datasource of availableDatasources" [value]="datasource.id">{{datasource.name}}</mat-option>
            </mat-select>
          </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="start start" *ngIf="!advancedMode" fxFlex>

          <!-- datasource autocomplete -->
          <div *ngIf="model.$selectedDatasourceId != 'FILE' " fxLayout="row" class="pad-left pad-right" fxFlex="70">
            <mat-form-field style="width:100%">
              <input matInput placeholder="Table" aria-label="Table" formControlName="tableAutocomplete" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="tableAutocompleteDisplay">
                <mat-option *ngFor="let table of filteredTables | async" [value]="table" class="autocomplete-option">
                  <span class="title">
                    <ng-md-icon icon="table_grid" size="20" style="fill:#F08C38"></ng-md-icon>
                    <span md-highlight-text="tableAutocomplete.value" md-highlight-flags="^i" style="padding-left:5px;"> {{table.fullName}} </span>
                  </span>
                  <br/>
                  <span>
                    <span>
                      <span class="sub-title hint">Schema:</span>
                      <span class="sub-title" md-highlight-text="tableAutocomplete.value" md-highlight-flags="^i">{{table.schema}}</span>
                    </span>
                    <span class="item-metastat" style="padding-left:10px;">
                      <span class="sub-title hint">Table:</span>
                      <span class="sub-title" md-highlight-text="tableAutocomplete.value" md-highlight-flags="^i">{{table.tableName}}</span>
                    </span>
                  </span>
                </mat-option>
              </mat-autocomplete>
              <div class="hint md-warn-text" *ngIf="databaseConnectionError">Unable to connect to selected data source.</div>
            </mat-form-field>
          </div>
          <button *ngIf="model.$selectedDatasourceId != 'FILE'" mat-raised-button color="primary" (click)="onAddTable()" class="pad-left">Add Table</button>

          <button mat-raised-button (click)="toggleAdvancedMode()" [disabled]="error != null" *ngIf="model.$selectedDatasourceId != 'FILE'">Edit SQL</button>

          <div *ngIf="model.$selectedDatasourceId == 'FILE' " fxLayout="row" class="pad-left pad-right" fxFlex="70">
            <upload-sample-file [model]="model" [engine]="engine" [isValid]="isValid" (onFileUploaded)="onFileUploaded()"></upload-sample-file>
          </div>

        </div>

          <div fxFlex *ngIf="advancedMode" ></div>

          <div fxLayout="row">
            <button mat-button (click)="cancel()" type="button" *ngIf="showCancel">Cancel</button>
            <button mat-button (click)="goBack()" type="button" [disabled]="stepper.selectedIndex === 0">Back</button>
            <button mat-button [color]="form.valid ? 'primary' : ''" (click)="goForward()" type="button" [disabled]="!form.valid">Next</button>
          </div>
        </div>

        <!-- Canvas -->

        <div class="visual-query-canvas" style="margin-top:8px;" mouse-capture [fxHide]="chartViewModel.data.nodes.length == 0 || advancedMode == true">
          <mat-divider></mat-divider>
          <div class="svg-container" browser-height browser-height-scroll-y="true" browser-height-scroll-x="true" [browser-height-offset]="getBrowserHeightOffset(161)">
            <flow-chart id="visual-query-canvas" #flowChart [chart]="chartViewModel"></flow-chart>
          </div>
        </div>

        <!-- SQL Editor -->
        <sql-editor [sql]="this.model.sql"  [datasourceId]="model.$selectedDatasourceId"  [allowFullscreen]="false" [allowDatabaseBrowse]="false"
                    [allowExecuteQuery]="false" [height]="400" *ngIf="advancedMode == true"></sql-editor>

        <!-- nothing set and user cant change datasources mesage-->
        <ng-template *ngIf="(chartViewModel.data.nodes.length == 0 || sql == '') && !showDatasources">
          No tables have been selected. Please complete all previous sections before attempting to transform the data.
        </ng-template>

      </div>


    </form>
  </ng-template>
</div>
