<div fxLayout="column" [class.visual-query-auto-complete-centered]="chartViewModel.data.nodes.length ==0" [class.visual-query-auto-complete-top]="chartViewModel.data.nodes.length >0">
  <div *ngIf="error != null" class="visual-query-error" fxLayout="row">
    <ng-md-icon icon="error" style="margin-right:20px;"></ng-md-icon>
    <div fxLayout="column">
      <div style="font-weight:500;line-height:24px;">Error!</div>
      <div style="line-height:20px;">{{error}}</div>
    </div>
  </div>

  <ng-template tdLoading [tdLoadingUntil]="!loadingPage" tdLoadingStrategy="overlay" tdLoadingType="circular" class="layout-fill">
    <form [formGroup]="form" fxLayout="column">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center start" *ngIf="showDatasources && !advancedMode" class="mat-padding">

          <mat-form-field>
            <mat-select formControlName="datasource" placeholder="Datasource">
              <mat-option *ngFor="let datasource of availableDatasources" [value]="datasource.id">{{datasource.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- datasource autocomplete -->
          <mat-form-field style="width:100%" *ngIf="model.$selectedDatasourceId != 'FILE' " class="pad-left pad-right" fxFlex="70">
            <input matInput placeholder="Table" aria-label="Table" formControlName="tableAutocomplete" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="tableAutocompleteDisplay">
              <mat-option *ngFor="let table of filteredTables | async" [value]="table">
                  <span class="item-title">
                    <ng-md-icon icon="table_grid" size="20" style="fill:#F08C38"></ng-md-icon>
                    <span md-highlight-text="tableAutocomplete.value" md-highlight-flags="^i" style="padding-left:5px;"> {{table.fullName}} </span>
                  </span>
                <span class="item-metadata">
                    <span class="item-metastat">
                      <span style="color:grey;">Schema:</span>
                      <span md-highlight-text="tableAutocomplete.value" md-highlight-flags="^i">{{table.schema}}</span>
                    </span>
                    <span class="item-metastat">
                      <span style="color:grey;">Table:</span>
                      <span md-highlight-text="tableAutocomplete.value" md-highlight-flags="^i">{{table.tableName}}</span>
                    </span>
                  </span>
              </mat-option>
            </mat-autocomplete>
            <mat-hint class="mat-error" *ngIf="databaseConnectionError">Unable to connect to selected data source.</mat-hint>
          </mat-form-field>
          <button *ngIf="model.$selectedDatasourceId != 'FILE'" mat-raised-button color="primary" (click)="onAddTable()" class="pad-left">Add Table</button>

          <div fxFlex="70" fxLayout="row" *ngIf="model.$selectedDatasourceId == 'FILE'">
            <upload-sample-file [model]="model" [engine]="engine" [isValid]="isValid" (onFileUploaded)="onFileUploaded()"></upload-sample-file>
          </div>
          <button mat-raised-button (click)="toggleAdvancedMode()" [disabled]="error != null">Edit SQL</button>

          <div fxLayout="row">
            <button mat-button (click)="goBack()" type="button" [disabled]="stepper.selectedIndex === 0">Back</button>
            <button mat-button [color]="form.valid ? 'primary' : ''" (click)="goForward()" type="button" [disabled]="!form.valid">Next</button>
          </div>
        </div>

        <div class="visual-query-canvas" style="margin-top:8px;" mouse-capture [fxHide]="chartViewModel.data.nodes.length == 0 || advancedMode == true">
          <div class="svg-container" browser-height browser-height-scroll-y="true" browser-height-scroll-x="true" [browser-height-offset]="getBrowserHeightOffset(161)">
            <flow-chart id="visual-query-canvas" #flowChart [chart]="chartViewModel"></flow-chart>
          </div>
        </div>
      </div>

      <ng-template *ngIf="chartViewModel.data.nodes.length == 0 && !showDatasources">
        No tables have been selected. Please complete all previous sections before attempting to transform the data.
      </ng-template>
    </form>
  </ng-template>
</div>
