:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.visual-query-error{
  color:#e53935;
  background-color:rgba(229,57,53,.15);
  margin:0 auto;
  min-height:52px;
  padding:0 20px;"
}
.svg-container {
  overflow: scroll;
}
