<md-card>
<inline-field-policy-form ng-model="vm.schemaParser" policy-parameter="sparkSchemaParser" default-value="XML" select-label="{{'views.define-feed-table.Cf' | translate}} "></inline-field-policy-form>

<div layout="row" layout-align="start start">
  <upload-file upload-file-model="vm.sampleFile" input-size="20"></upload-file>
</div>
<md-button aria-label="Upload sample file" id="upload-sample-file-btn" class="md-raised md-block md-primary" ng-click="vm.uploadSampleFile();" ng-if="vm.sampleFile != null"
           ng-disabled="vm.uploadBtnDisabled">
  {{"views.define-feed-table.Upload" | translate}}
</md-button>
</md-card>