<div fxLayout="column" class="pad-left" fxFill>
  <form [formGroup]="policyForm">
  <inline-field-policy-form [policyForm]="policyForm" [(selectedPolicyRule)]="schemaParser" policyParameter="sparkSchemaParser" defaultValue="XML" selectLabel="Parser"></inline-field-policy-form>

  <file-upload #fileUpload [files]="sampleFile" (onSubmit)="uploadSampleFile($event)"></file-upload>

  </form>
  <!--
  <button mat-raised-button aria-label="Upload sample file" id="upload-sample-file-btn" color="primary" (click)="uploadSampleFile()" *ngIf="sampleFile != null"
           [disabled]="uploadBtnDisabled">Upload
</button>
-->
</div>