ol {
  display: flex;
  flex-wrap: wrap;
  padding: .75rem 1rem .75rem 0;
  //margin-bottom: 1rem;
  list-style: none;

  margin-bottom: 0;
  margin-top: 0;

  a {
    color: #007bff;
    text-decoration: none;
  }
  li + li::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #868e96;
    content: "/";
  }
}
.selected-items {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  margin-top: -12px;
  margin-bottom: -20px;
}

.cell-icon {

  ng-md-icon {
    fill: #607D8B;
   /* display: contents;*/
  }
}
.cell-value {
}