<div>
  <mat-progress-bar color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div layout="row" layout-align="center start" *ngIf="!loading">
    <div layout="column" class="layout-max-width">
      <div style="width:100%" class="" layout="row" layout-align="center start">
        <mat-content flex layout="row" class="" layout-align="center start" style="border:2px solid #EEEEEE;overflow:hidden">
          <span style="width:40px;max-width:40px;"></span>
          <mat-form-field class="condensed-no-float" md-no-float class="md-block" flex style="margin-top:10px;margin-bottom:-10px;">
            <input matInput [(ngModel)]="searchQuery" placeholder="{{'FEED_MGR.DOMAIN_TYPES.FILTER_TYPES_PLACEHOLDER' | translate}}">
          </mat-form-field>
          <div style="padding:5px 5px 5px 40px;margin-top:12px;">
            <ng-md-icon icon="more_vert" style="fill:#676767"></ng-md-icon>
          </div>
        </mat-content>
      </div>
    </div>
  </div>
  <div layout="row" flex class="md-padding feed-categories" layout-align="start start" layout-wrap *ngIf="!loading">
    <mat-card style="width:400px;max-width:400px;max-height:121px;height:121px" *ngFor="let type of domainTypes" flex="initial"
             flex-md="initial" flex-sm="50" (click)="editDomainType(type)">
      <mat-card-title style="display: flex; justify-content: space-between; padding-top: 0;">
        <mat-card-title-text>
          <span style="font-size: 16px;font-weight:400;letter-spacing:.005em;">{{type.title}}</span>
          <span class="md-subhead category-subheader" style="display: flex;font-size: 12px;font-weight: 400;color: rgba(0,0,0,0.54);">
            {{getAllFieldPolicies(type) | truncate:50}}
          </span>
        </mat-card-title-text>
        <mat-card-title-media>
          <ng-md-icon icon="{{type.icon}}" size="40" [ngStyle]="{'fill':type.iconColor}" style="margin-right:20px;" class="md-media-xs"></ng-md-icon>
        </mat-card-title-media>
      </mat-card-title>
      <mat-card-content style="padding-top: 0;">
        <div style="word-wrap:break-word;color:rgba(0,0,0,0.54);">{{type.description | truncate:100}}</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
