<div ng-controller="CategoryDetailsController as vm">
    <md-progress-linear md-mode="indeterminate" ng-if="vm.loadingCategory"></md-progress-linear>
    <card-layout body-css="md-padding" class="centered" ng-if="!vm.loadingCategory">
        <header-section>
            <div layout="row" layout-align="center start">
                <h2 class="md-title">Category Details</h2>
                <span flex></span>
                <ng-md-icon icon="{{vm.model.icon}}" style="fill:{{vm.model.iconColor}}; padding-right:16px;" size="30"></ng-md-icon>
            </div>
        </header-section>
        <body-section>
            <thinkbig-category-definition></thinkbig-category-definition>
            <thinkbig-category-properties ng-if="vm.model.id != null"></thinkbig-category-properties>
            <thinkbig-category-feed-properties ng-if="vm.model.id != null"></thinkbig-category-feed-properties>
            <thinkbig-category-feeds ng-if="vm.model.id != null"></thinkbig-category-feeds>
        </body-section>
    </card-layout>
</div>
