<mat-card class="kylo-card-template cursor-pointer push-bottom push-right" fxLayout="row" fxLayoutAlign="start stretch">
        <div [ngStyle]="{'background-color':'yellow'}" fxFlex="20">
            <mat-icon size="40" class="kylo-card-icon">build</mat-icon>
        </div>
        <div fxFlex>
            <div flex class="kylo-content-template push-top-md push-left">
                <div class="kylo-card-title pad-bottom-sm">ProjectName</div>
                <div style="padding-right:36px" class="kylo-card-subtitle tc-grey-600 block-with-text">
                    {{'No description provided'}}
                </div>
            </div>
            <hr/>
        </div>
</mat-card>