.profile-stats-panel {
  padding-top: 35px;
  overflow-y: hidden;
}

.profile-columns {
  height: 900px;
  margin-right: 15px;
}

.subhead {
  font-size: 18px;
}

.stats-panel {
  padding-bottom: 15px;

  mat-list mat-list-item {
    font-size: 14px;
  }
}

.string-stats-item {
  height: 65px;
}

.profiled-icon {
  height: auto;
  color: #f08c38;
  font-size: 10px;
}
