.profile-stats-panel {
  overflow-y: hidden;
}

.profile-columns {
  height: 900px;
  margin-right: 15px;
}

.subhead {
  font-size: 18px;
  margin-bottom: 7px;
}

.stats-panel {
  padding-bottom: 15px;

  mat-list mat-list-item {
    font-size: 14px;
  }
}

.string-stats-item {
  height: 60px;
}

.profiled-icon {
  height: auto;
  color: #f08c38;
  font-size: 10px;
}

.selected-column {
  color: black;
  background-color: #CCC;
}