ng-md-icon {
  color: #707070;
  fill: currentColor;
}
.connectors-empty {
  height: 100%;

  ng-md-icon {
    height: 96px;
    margin: 0;
    width: 96px;
  }
}

.icon-component {
  color: #607D8B;
  fill: #607D8B;
}