<div class="flex-container" fxLayoutAlign="center center">
  <mat-progress-bar flex="90" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <mat-card flex="70">
      <mat-card-title>
          <mat-toolbar style="background: none;">
              <div class="card-title">{{"FEED_MGR.DATASOURCE.DETAILS.DATASOURCE_DETAILS" | translate}}</div>
              <span flex></span>
              <ng-md-icon icon="{{model.icon}}" [ngStyle]="{'fill':model.iconColor}" style="padding-right:16px;" size="30"></ng-md-icon>
          </mat-toolbar>
      </mat-card-title>
      <mat-card-body>
      <form #datasourceDetailsForm="ngForm">
        <vertical-section-layout section-title="'Details'" (on-delete)="onDelete()" [allowDelete]="!isNew()" (on-save-edit)="onDetailsSave()" (on-edit)="onEdit()" (on-cancel-edit)="onCancel()"
                                [editable]="isDetailsEditable" [isValid]="datasourceDetailsForm.form.valid" [allowEdit]="allowEdit">
          <readonly-section>
            <div layout="row" class="layout-padding-top-bottom">
              <span flex="25" class="property-name">{{"FEED_MGR.DATASOURCE.DETAILS.DATASOURCE_NAME" | translate}}</span>
              <div flex>{{model.name}}</div>
            </div>
            <div layout="row" class="layout-padding-top-bottom">
              <span flex="25" class="property-name">{{"FEED_MGR.DATASOURCE.DETAILS.DATASOURCE_DESCRIPTION" | translate}}</span>
              <div flex>{{model.description}}</div>
            </div>
            <div layout="row" class="layout-padding-top-bottom">
              <span flex="25" class="property-name">{{"FEED_MGR.DATASOURCE.DETAILS.DATASOURCE_TYPE" | translate}}</span>
              <div flex>{{model.type}}</div>
            </div>
            <div layout="row" class="layout-padding-top-bottom">
              <span flex="25" class="property-name">{{"FEED_MGR.DATASOURCE.DETAILS.DATABASE_CONNECTION" | translate}}</span>
              <div flex>{{model.databaseConnectionUrl}}</div>
            </div>
            <div layout="row" class="layout-padding-top-bottom">
              <span flex="25" class="property-name">{{"FEED_MGR.DATASOURCE.DETAILS.DATABASE_DRIVER_CLASS" | translate}}</span>
              <div flex>{{model.databaseDriverClassName}}</div>
            </div>
            <div layout="row" class="layout-padding-top-bottom">
              <span flex="25" class="property-name">{{"FEED_MGR.DATASOURCE.DETAILS.DATABASE_DRIVER_LOCATION" | translate}}</span>
              <div flex>{{model.databaseDriverLocation}}</div>
            </div>
            <div layout="row" class="layout-padding-top-bottom">
              <span flex="25" class="property-name">{{"FEED_MGR.DATASOURCE.DETAILS.DATABASE_USER" | translate}}</span>
              <div flex>{{model.databaseUser}}</div>
            </div>
            <div layout="row" class="layout-padding-top-bottom" ngFor="(key,list) of model.references" *ngIf="model.references">
              <span flex="25" class="property-name">{{"FEED_MGR.DATASOURCE.DETAILS.KEY_REFERENCES" | translate : key}}</span>
              <div flex>{{list.length}}</div>
            </div>
            <div layout="row" class="layout-padding-top-bottom" layout-align="start start">
              <span flex="25" class="property-name">{{"FEED_MGR.DATASOURCE.DETAILS.ICON" | translate}}</span>

              <div layout="column">
                  <ng-md-icon icon="{{model.icon}}" [ngStyle]="{'fill':model.iconColor}" style="margin:inherit" size="45"></ng-md-icon>
              </div>
            </div>
          </readonly-section>
          <editable-section>
              <mat-form-field class="block">
                <mat-label>{{"FEED_MGR.DATASOURCE.DETAILS.DATASOURCE_NAME" | translate}}</mat-label>
                <input matInput required [(ngModel)]="editModel.name" name="datasourceName"/>
                <mat-error *ngIf="isDataSourceNameEmpty()">Data Source name is required.</mat-error>
                <mat-error *ngIf="isDataSourceNameDuplicate()">Data Source name is already in use.</mat-error>
              </mat-form-field>

              <mat-form-field class="block">
                <mat-label>{{"FEED_MGR.DATASOURCE.DETAILS.DATASOURCE_DESCRIPTION" | translate}}</mat-label>
                <input matInput [(ngModel)]="editModel.description" name="description"/>
              </mat-form-field>

              <mat-form-field class="block">
                <mat-label>{{"FEED_MGR.DATASOURCE.DETAILS.DATABASE_CONNECTION" | translate}}</mat-label>
                <input matInput required [(ngModel)]="editModel.databaseConnectionUrl" name="connectionURL"/>
              </mat-form-field>

              <mat-form-field class="block">
                <mat-label>{{"FEED_MGR.DATASOURCE.DETAILS.DATABASE_DRIVER_CLASS" | translate}}</mat-label>
                <input matInput required [(ngModel)]="editModel.databaseDriverClassName" name="driverClassName"/>
              </mat-form-field>

              <mat-form-field class="block">
                <mat-label>{{"FEED_MGR.DATASOURCE.DETAILS.DATABASE_DRIVER_LOCATION" | translate}}</mat-label>
                <input matInput [(ngModel)]="editModel.databaseDriverLocation" name="driverLocation"/>
              </mat-form-field>

              <mat-form-field class="block">
                <mat-label>{{"FEED_MGR.DATASOURCE.DETAILS.DATABASE_USER" | translate}}</mat-label>
                <input matInput autocomplete="new-password" [(ngModel)]="editModel.databaseUser" name="databaseUser"/>
              </mat-form-field>

              <mat-form-field class="block">
                <mat-label>{{"FEED_MGR.DATASOURCE.DETAILS.PASSWORD" | translate}}</mat-label>
                <input matInput type="password" autocomplete="new-password" [(ngModel)]="editModel.password" (change)="onPasswordChange()" name="password"/>
              </mat-form-field>

                <div layout="row" layout-align="start center">
                  <button mat-button [disabled]="!datasourceDetailsForm.valid" color="primary" (click)="testConnection()" style="margin-left: 0">Test Connection</button>
                  <!-- <div *ngIf="testConnectionResult && !testConnectionResult.status" style="color: rgb(221,44,0);">{{testConnectionResult.msg}}</div> -->
                  <mat-icon *ngIf="testConnectionResult.status" size="30" style="margin: inherit; margin-top: -10px; fill: green">check</mat-icon>
                </div>

              <div layout="column">
                <div layout="row" layout-align="start start" class="layout-padding-top-bottom">
                  <span class="mat-input-label" style="font-size: 11px;" flex="25">Icon </span>
                  <ng-md-icon icon="{{editModel.icon}}" size="45" style="margin:inherit;" ng-style="{'fill': editModel.iconColor}"></ng-md-icon>
                  <button mat-button color="primary" (click)="showIconPicker()" style="margin-left:35px;">
                      {{"FEED_MGR.DATASOURCE.DETAILS.CHANGE_ICON" | translate}}
                  </button>
                </div>
              </div>
          </editable-section>
        </vertical-section-layout>
      </form>
      <ng-form name="datasourceAccessControlForm" *ngIf="allowChangePermissions && !isNew()">
        <vertical-section-layout section-title="Access Control" (on-save-edit)="onAccessControlSave()" (on-edit)="onEdit()" [editable]="isAccessControlEditable" [is-valid]="isValid">
          <readonly-section>
            <entity-access-control (entity)="model" (entityType)="datasource" (theForm)="datasourceAccessControlForm" (readOnly)="true"></entity-access-control>
          </readonly-section>
          <editable-section>
            <entity-access-control (entity)="editModel" (entityType)="datasource" (theForm)="datasourceAccessControlForm"></entity-access-control>
          </editable-section>
        </vertical-section-layout>
      </ng-form>

      <vertical-section-layout allow-edit="false" show-vertical-check="true" section-title="Related Feeds" *ngIf="!isNew()">
        <readonly-section>
          <mat-list layout-fill class="list-item-table list-condensed" id="policy-list" *ngIf="model.sourceForFeeds.length > 0">
            <mat-list-item>
              <div layout="row" layout-fill>
                <div flex="50" class="mat-list-item-text hint">
                  {{"FEED_MGR.DATASOURCE.DETAILS.DATASOURCE_NAME" | translate}}
                </div>
                <div flex="10" class="mat-list-item-text hint">
                    {{"FEED_MGR.DATASOURCE.DETAILS.ACTIVE" | translate}}
                </div>
                <div flex="40" class="mat-list-item-text hint">
                    {{"FEED_MGR.DATASOURCE.DETAILS.LAST_MODIFIED" | translate}}
                </div>
              </div>
            </mat-list-item>
            <mat-list-item ngFor="feed of model.sourceForFeeds">
              <div layout="row" class="hover" layout-fill (click)="onFeedClick(feed)">
                <div flex="50" class="mat-list-item-text">
                    <div>{{feed.displayName}}</div>
                </div>
                <div flex="10" class="mat-list-item-text ">
                  <mat-icon *ngIf="feed.state == 'ENABLED'">check</mat-icon>
                </div>
                <div flex="40" class="mat-list-item-text ">
                  {{feed.modifiedTime | date : 'MM/dd/yyyy hh:mm:ss'}}
                </div>
              </div>
            </mat-list-item>
          </mat-list>
          <div *ngIf="model.sourceForFeeds == null || model.sourceForFeeds.length === 0">
           {{"FEED_MGR.DATASOURCE.DETAILS.NO_FEEDS_ASSOCIATED" | translate}}
          </div>
        </readonly-section>
      </vertical-section-layout>
    </mat-card-body>
    </mat-card>
</div>