<mat-card class="mat-typography" fxFlex>
  <mat-card-header>
    <mat-card-title>Profile Stats: {{timeInMillis | date:'full'}}</mat-card-title>
    <mat-card-subtitle>Profile Stats as of {{timeInMillis | timeAgo:reference}}</mat-card-subtitle>
    <span fxFlex></span>
  </mat-card-header>


  <mat-card-content>
    <div>
      <mat-tab-group [selectedIndex]="selected.value">
        <mat-tab label="Profile">
          <div class="profile-tab">
            <profile-stats2 [feedId]="feedId" [processingdttm]="processingdttm"></profile-stats2>
          </div>
        </mat-tab>
        <mat-tab label="Valid">
          <div class="profile-tab">
            <profile-valid [feedId]="feedId" [processingdttm]="processingdttm" [offsetHeight]="400"></profile-valid>
          </div>
        </mat-tab>
        <mat-tab label="Invalid">
          <div class="profile-tab">
            <profile-invalid [feedId]="feedId" [processingdttm]="processingdttm" fxFlex></profile-invalid>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card-content>
</mat-card>