.ide
.classpath
.project
.settings
.factorypath
target
bin
.DS_Store
*.iml
*.bak
*.swp
.Rproj.user
.metadata/
.vagrant
.recommenders
derby.log
.springBeans
**/logs/
**/node_modules/
target/
test-output/
**/*.log
dependency-reduced-pom.xml
${modeshape.index.dir}

