.idea
.classpath
.project
.settings
.factorypath
target
bin
.DS_Store
.idea
*.iml
.Rproj.user
.metadata/
.vagrant
.recommenders
derby.log
.springBeans
**/logs/
**/node_modules/
target/
test-output/
**/*.log
