<mat-horizontal-stepper [linear]="true" #stepper class="mat-stepper-no-header">
  <mat-step [stepControl]="buildQueryFormGroup">
    <form [formGroup]="buildQueryFormGroup" fxFlex="1 1 auto" fxLayout="column">
      <ng-template matStepLabel>Build Query</ng-template>
      <build-query-ng2 [form]="buildQueryFormGroup" [stepper]="stepper" [engine]="engine" [model]="dataModel.model" [showDatasources]="showDatasources" *ngIf="engine != undefined"></build-query-ng2>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Transform Data</ng-template>
    <thinkbig-visual-query-transform [stepper]="stepper" [engine]="engine" [model]="dataModel.model" *ngIf="engine != null"></thinkbig-visual-query-transform>
  </mat-step>
  <mat-step *ngIf="showSaveStep">
    <ng-template matStepLabel>Save</ng-template>
    <thinkbig-visual-query-store [engine]="engine" [model]="dataModel.model" (back)="stepper.previous()" *ngIf="stepper.selectedIndex == 2"></thinkbig-visual-query-store>
  </mat-step>
</mat-horizontal-stepper>
