visual-query md-tabs.visual-query-tabs > md-tabs-wrapper {
  display: none; }

visual-query md-tabs.visual-query-tabs > md-tabs-content-wrapper {
  top: 0; }

/* Loading elements */
.visual-query-loading-wrapper {
  position: relative; }
  .visual-query-loading-wrapper .visual-query-loading {
    background: rgba(255, 255, 255, 0.8);
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000; }

.autocomplete-hive-table-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }

.autocomplete-hive-table-template li:last-child {
  border-bottom-width: 0; }

.autocomplete-hive-table-template .item-title,
.autocomplete-hive-table-template .item-metadata {
  display: block;
  line-height: 2; }

.autocomplete-hive-table-template .item-title ng-md-icon {
  height: 18px;
  width: 18px; }

.autocomplete-hive-table-template .item-metadata .highlight, .autocomplete-hive-table-template .item-title .highlight {
  color: #3483BA; }
