<md-card layout-align="center center">
  <span class="card-title kpi-header">Realtime Snapshot</span>
  <span class="md-caption kpi-subtitle ">Current Nifi Summary</span>
  <md-card-content layout="column" flex layout-align="center center" class="kpi-content" style="width:100%;">
    <div ng-if="vm.dataLoaded" layout="column">
      <div layout="column">
        <div layout="row" flex="100">
          <span flex="25">Queued</span>
          <span>671 / 91.68 MB</span>
          <span flex></span>
        </div>
        <div layout="row" flex="100">
          <span flex="25">In</span>
          <span>0 / 0 bytes</span>
          <span flex></span>
        </div>
        <div layout="row" flex="100">
          <span flex="25">Read/Write</span>
          <span>0 / 0 bytes</span>
          <span flex></span>
        </div>
        <div layout="row" flex="100">
          <span flex="25">Out</span>
          <span>0 / 0 bytes</span>
          <span flex></span>
        </div>
      </div>
      <md-input-container class="md-block layout-padding-top-bottom">
        <label class="md-container-ignore label-small layout-padding-top">Select Chart</label>
        <md-select ng-model="vm.chartType" ng-change="vm.onChartTypeChange()" aria-label="Rule Type">
          <md-option value="{{opt.value}}" ng-repeat="opt in vm.chartTypes track by opt.value">{{ opt.label }}</md-option>
        </md-select>
      </md-input-container>
      <nvd3 flex options="vm.chartOptions" data="vm.chartData" api="vm.chartApi" config="{deepWatchData:true,deepWatchOptions:true}"></nvd3>
    </div>
    <div ng-if="!vm.dataLoaded" class="kpi-loading">
      <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>

  </md-card-content>
</md-card>
