.feed-summary-card {
  max-width:700px;
  min-width:700px;
}


.feed-summary-right-card {
  max-width:300px;
  min-width:300px;

  mat-divider {
    position: initial;
  }
}

.active {
  background-color:#CCC;
}