<td-layout>

<td-layout-manage-list opened="true" mode="side">
    <mat-toolbar td-sidenav-content (click)="gotoFeeds()" style="cursor:pointer">
      <mat-toolbar-row>
        <mat-icon class="push-left-xs" style="margin-right:20px">linear_scale</mat-icon>
        <span class="push-left-sm">{{'views.main.feeds' | translate}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div td-sidenav-content>
      <mat-nav-list>

        <ng-template let-link let-last="last" ngFor [ngForOf]="summaryLinks" >
          <a mat-list-item (click)="selectLink(link)"  [ngClass]="{'selected-step': link.selected}">
            <mat-icon [color]=" link.selected ? 'accent': ''" mat-list-icon *ngIf="link.icon != null">{{link.icon}}</mat-icon>
            <div mat-line style="margin-left:-16px">{{link.label | translate}}</div>
            <span></span>
          </a>
        </ng-template>


        <ng-container >
          <!--<mat-divider></mat-divider>
          <h3 mat-subheader>Links</h3>-->
          <ng-template let-link let-last="last" ngFor [ngForOf]="staticFeedLinks">
            <a mat-list-item (click)="selectLink(link)"  [ngClass]="{'selected-step': link.selected, 'disabled-step': additionalLinksDisabled, 'pointer':!additionalLinksDisabled}">
              <mat-icon [color]=" link.selected ? 'accent': ''" mat-list-icon *ngIf="link.icon != null">{{link.icon}}</mat-icon>
              <div mat-line style="margin-left:-16px">{{link.label | translate}}</div>
              <span></span>
            </a>
            <!--<mat-divider *ngIf="!last"></mat-divider>-->
          </ng-template>
        </ng-container>

      </mat-nav-list>

    </div>
          <ui-view></ui-view>
  </td-layout-manage-list>
</td-layout>
