/* Preview field */
.preview-field {
  width: 100%; }
  .preview-field.preview-loading mat-progress-bar {
    visibility: visible; }
  .preview-field mat-progress-bar {
    top: 11px;
    visibility: hidden; }

.preview-error {
  color: red; }
