<div ng-controller="FeedsTableController as vm" >

        <card-layout  header-css="filter-header" class="centered" >
            <header-section tba-card-filter-header  flex layout card-title="vm.cardTitle" page-name="{{vm.pageName}}" view-type="vm.viewType" sort-options="vm.sortOptions" on-selected-option="vm.selectedTableOption" filter-model="vm.filter">

            </header-section>


        <body-section>

            <md-list flex layout-fill class="list-item-table">
                <md-list-item  class="md-secondary" dir-paginate="feed in vm.feedData |orderBy:vm.paginationData.sort |filter:vm.filter|itemsPerPage:vm.paginationData.rowsPerPage" pagination-id="vm.paginationId"  ng-click="vm.feedDetails($event,feed)">
                    <div layout="row" layout-fill>
                        <div flex="30" layout="column" class="item-column md-list-item-text ">
                                     <span class="item-title" title="{{feed.feedName}}">
                                      {{feed.feedName}}
                                   </span>
                                   <span class="column-title column-title-bottom">
                                     Feed Name
                                   </span>

                        </div>
                        <div flex="15" layout="column" class="item-column md-list-item-text ">

                                   <span  class="item-title" title="{{feed.active}}"  >
                                    <ng-md-icon md-icon icon="highlight_off" ng-if="!feed.active"></ng-md-icon>
                                        <ng-md-icon md-icon icon="done" ng-if="feed.active"></ng-md-icon>
                                   </span>
                                     <span class="column-title column-title-bottom">
                                     Active
                                   </span>
                        </div>
                        <div flex="30" layout="column" class="item-column md-list-item-text ">
                                   <span class="item-title">{{feed.category.name}}
                                   </span>
                              <span class="column-title column-title-bottom">
                                          <ng-md-icon icon="{{feed.category.icon}}" size="20" hide-xs style="fill:{{feed.category.iconColor}}">
                                          </ng-md-icon>
                                    Category
                                   </span>
                        </div>
                        <div flex="30" layout="column" class="item-column md-list-item-text ">
                                   <span class="item-title">{{feed.updateDate | date: 'MM/dd/yyyy @ h:mm:ssa' }}
                                   </span>
                            <span class="column-title column-title-bottom">Last Modified</span>
                        </div>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
                <md-list-item  ng-show="vm.loading == false && vm.feedData.length ==0" class="md-padding">
                    No results found
                </md-list-item >
                <md-divider></md-divider>
                <md-list-item   layout-align="end center"  layout-row class="pagination-list-item">
                    <dir-pagination-controls pagination-id="vm.paginationId"
                                             auto-hide="false"
                                             max-size="5"
                                             direction-links="true"
                                             boundary-links="false"
                                             template-url="js/vendor/dirPagination/dirPagination.tpl.html"
                                             current-page="vm.currentPage()"
                                             on-page-change="vm.onPaginationChange(newPageNumber)"
                                             label="Rows per page"
                                             rows-per-page="vm.paginationData.rowsPerPage"
                                             rows-per-page-options="vm.paginationData.rowsPerPageOptions"
                                             class="pagination-row">
                    </dir-pagination-controls>
                </md-list-item>
            </md-list>

        </body-section>

    </card-layout>
</div>