<card-layout flex header-css="filter-header">
  <header-section tba-card-filter-header transclude-to="head" flex layout card-title="vm.cardTitle" page-name="{{vm.pageName}}" view-type="vm.viewType" sort-options="vm.sortOptions"
                  on-selected-option="vm.selectedTableOption" filter-model="vm.filter" filter-model-options="{debounce:1000}">

  </header-section>
  <body-section transclude-to="body">
    <md-tabs flex md-selected="vm.tabMetadata.selectedIndex"
             md-align-tabs="top" layout-fill md-dynamic-height>

      <md-tab ng-repeat="tab in vm.tabs"
              ng-disabled="tab.disabled"
              md-on-select="vm.onTabSelected(tab)" flex
      >
        <md-tab-label> {{tab.title}}</md-tab-label>
        <md-tab-body>
          <md-divider></md-divider>
          <div ng-hide="vm.viewType != 'list'" ng-show="vm.viewType == 'list'">
            <div ng-if="vm.showProgress" class="md-list-table-progress">
              <md-progress-linear md-mode="indeterminate"></md-progress-linear>
              <br/><br/>
            </div>
            <md-list flex layout-fill ng-show="vm.loading == false" class="list-item-table">
              <md-list-item dir-paginate="alert in tab.data.content|itemsPerPage:vm.paginationData.rowsPerPage" pagination-id="vm.paginationId(tab)" total-items="tab.data.total"
                            current-page="tab.currentPage">
                <div layout="row" layout-fill>
                  <div flex="15" layout="column" style="overflow:hidden; text-overflow:ellipsis;" class="item-column  md-list-item-text" ng-click="vm.alertDetails($event,alert)">
                                   <span class="item-title">
                                       {{alert.level}}
                                   </span>
                    <span class="column-title column-title-bottom">Level</span>
                  </div>

                  <div flex="15" layout="column" hide show-gt-xs show-lg show-xl show-sm show-md class="item-column  md-list-item-text" ng-click="vm.alertDetails($event,alert)">
                    <span class="item-title">{{alert.state }}</span>
                    <span class="column-title column-title-bottom">State</span>
                  </div>

                  <div flex="20" layout="column" hide show-gt-xs show-lg show-xl show-sm show-md class="item-column  md-list-item-text" ng-click="vm.alertDetails($event,alert)">
                    <span class="item-title">{{alert.createdTime | date: 'MMM d, yyyy HH:mm:ss'}}</span>
                    <span class="column-title column-title-bottom">Start Time</span>
                  </div>

                  <div flex="50" layout="column" hide show-gt-xs show-lg show-xl show-sm show-md class="item-column  md-list-item-text" ng-click="vm.alertDetails($event,alert)">
                    <span class="item-title">{{alert.description }}</span>
                    <span class="column-title column-title-bottom">Description</span>
                  </div>

                </div>
                <md-divider ng-if="!$last"></md-divider>

              </md-list-item>
              <md-item ng-show="vm.showProgress == false && tab.data.content.length ==0" style="padding:10px">
                No results found
              </md-item>
              <md-divider></md-divider>
              <md-list-item layout-align="end center" layout-row class="pagination-list-item">
                <dir-pagination-controls pagination-id="vm.paginationId(tab)" ng-if="vm.viewType == 'list'"
                                         auto-hide="false"
                                         max-size="5"
                                         direction-links="true"
                                         boundary-links="false"
                                         template-url="js/vendor/dirPagination/dirPagination.tpl.html"
                                         on-page-change="vm.onPaginationChange(newPageNumber)"
                                         label="Rows per page"
                                         rows-per-page="vm.paginationData.rowsPerPage"
                                         rows-per-page-options="vm.paginationData.rowsPerPageOptions"
                                         class="pagination-row">
                </dir-pagination-controls>
              </md-list-item>


            </md-list>
          </div>
          <div ng-hide="vm.viewType != 'table'" ng-show="vm.viewType == 'table'">

            <md-table-container>
              <table md-table md-progress="vm.deferred.promise">
                <thead md-head md-order="vm.paginationData.sort" md-on-reorder="vm.onOrderChange">
                <tr md-row>
                  <th md-column name="Level">Level</th>
                  <th md-column name="State">State</th>
                  <th md-column name="Start Time" md-order-by="startTime" hide show-gt-sm>Start Time</th>
                  <th md-column name="Description">Description</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="alert in tab.data.content" ng-click="vm.alertDetails($event,alert)">
                  <td md-cell>{{alert.level}}</td>
                  <td md-cell>{{alert.state}}</td>
                  <td md-cell hide show-gt-sm>{{alert.createdTime | date:'MMM d, yyyy HH:mm:ss'}}</td>
                  <td md-cell>{{alert.description}}</td>
                </tr>
                </tbody>
              </table>
            </md-table-container>

            <md-table-pagination md-limit="vm.paginationData.rowsPerPage" md-page="tab.currentPage" md-total="{{tab.data.total}}" md-on-paginate="vm.onPaginationChange"
                                 md-limit-options="[5,10,20,50,100]"></md-table-pagination>

          </div>

          <div ng-if="(tab.data.content == undefined || tab.data.content.length == 0 ) && vm.loading == false && vm.refreshing == false" layout="column" layout-align="center center">
            No Data Found
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </body-section>
</card-layout>
