mat-card-header .mat-card-title, ::ng-deep mat-card-header .mat-card-title  {
  font-size: 20px;
}

mat-card-header .mat-card-subtitle, ::ng-deep mat-card-header .mat-card-title{
  font-size: 14px;
}

mat-card-header .mat-card-header-text, ::ng-deep mat-card-header .mat-card-header-text {
  margin: 0px;
}



.selected-step{

}

.disabled-step{

}

.overview-step {
  cursor: pointer;
}
.completed-step {

}

.mat-card-header {
  align-items: center;
}

.mat-card-title {
  font-size: 24px;
}

.mat-card-subtitle{
  font-size: 14px;
}

.mat-card.steps .mat-subheader {
  background-color: #F9F9F9;
}

.mat-card.steps .mat-card-content {
  padding:0
}


.mat-card.steps .mat-card-header-text {
  margin:0 !important;
}

.mat-card.steps .mat-line {
  /*line-height: 15px;*/
}
