<td-layout-nav color="none">
  <div td-toolbar-content>
    <div *ngIf="feed != undefined">Feed Lineage - {{feed.feedName}} </div>
    <span fxFlex="100"></span>
  </div>
      <mat-card class="feed-card" >
       <div fxLayout="row" >
          <div fxLayout="column" class="mat-card-header" fxLayoutAlign="start start" fxFlex="50">
          <mat-card-title>
            <mat-icon>{{kyloIcons.Links.lineage}}</mat-icon>
            <span translate>Lineage.Name</span>
          </mat-card-title>
          <mat-card-subtitle translate>Lineage.Description</mat-card-subtitle>
          </div>

          <div fxLayout="row" fxFlex="" fxLayoutAlign="end center" class="pad-right">
            <mat-button-toggle-group aria-label="Graph mode"
                                     #group="matButtonToggleGroup"
                                     (change)="networkView(group.value)"
                                     [value]="graphMode">
              <mat-button-toggle value="{{graphModes.SIMPLE}}">SHOW FEEDS</mat-button-toggle>
              <mat-button-toggle value="{{graphModes.DETAILED}}">SHOW FEEDS AND SOURCES</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
       </div>
      <mat-card-content>

        <div kyloDraggable style="position: absolute; z-index: 1">
          <div fxLayout="row">
              <select-network-node [selectedNode]="selectedNode"></select-network-node>
          </div>
        </div>
        <kylo-vis-network *ngIf="!loading"
                            [data]="data"
                            [options]="options"
                            (onLoad)="onLoad($event)"
                            (onSelect)="onSelect($event)"
                            (stabilized)="stabilized($event)"
                            [heightPx]="550"></kylo-vis-network>
      </mat-card-content>
    </mat-card>
</td-layout-nav>