<div *ngIf="!enabled">
  <span>{{'SHARED.ENTITY_ACCESS_CONTROL.EAC_NOT_ENABLED' | translate}}</span>
</div>
<div layout-padding *ngIf="enabled">
  <div layout="row" *ngIf="allowOwnerChange">
    <div flex>
      <!-- for 0.8.1 disable access to change the owner -->
      <md-autocomplete flex="45"
                       md-input-name="owner"
                       ng-disabled="true"
                       md-selected-item="entity.owner"
                       md-search-text-change="ownerAutoComplete.searchTextChanged(ownerAutoComplete.searchText)"
                       md-search-text="ownerAutoComplete.searchText"
                       md-selected-item-change="ownerAutoComplete.selectedItemChange(item)"
                       md-items="item in queryUsers(ownerAutoComplete.searchText)"
                       md-item-text="item.displayName"
                       md-min-length="1"
                       md-floating-label='{{"views.entity-access-control.Owner" | translate}}'>
        <md-item-template>
                  <span class="item-title">
                    <span> {{item.displayName}} </span>
                  </span>
        </md-item-template>
        <md-not-found>
          {{'SHARED.ENTITY_ACCESS_CONTROL.NO_MATCHING_USER_PART1' | translate}}"{{ownerAutoComplete.searchText}}"{{'SHARED.ENTITY_ACCESS_CONTROL.NO_MATCHING_USER_PART2' | translate}}
        </md-not-found>
        <div class="hint"> {{"views.entity-access-control.DefAUser" | translate}} </div>
        <div ng-messages="theForm.owner.$error">
          <div ng-message="required">{{'views.common.required.text' | translate}}</div>
        </div>
      </md-autocomplete>

    </div>
  </div>



  <div layout="row" style="border-bottom: 1px solid rgba(0,0,0,0.12);">
    <div flex="40" style="align-self:center;">
      <span class="item-title" style="color:grey"> {{"views.entity-access-control.Roles" | translate}} </span>
    </div>
    <div flex class="">
      <span class="item-title" style="color:grey"> {{"views.entity-access-control.Members" | translate}} </span>
    </div>
  </div>
  <div layout="column" *ngFor="let roleMembership of entityRoleMemberships">
    <div layout="row">
      <div flex="40" style="align-self:center;" layout="column">
        <span>{{roleMembership.role.title | translate}}</span>
        <div class="hint" *ngIf="roleMembership.role.description" class="layout-padding-top" ng-bind-html="roleMembership.role.description">
        </div>


      </div>

      <md-input-container class="md-block layout-padding-top-bottom flex-gt-sm condensed" md-no-float="true" flex>
        <md-chips ng-model="roleMembership.members" 
                  md-autocomplete-snap
                  readonly="readOnly"
                  md-require-match="true" 
                  md-on-remove="onRemovedMember($chip, roleMembership.members)"
                  class="layout-padding-top-bottom">
          <md-autocomplete
              md-min-length="0"
              md-selected-item="roleMembership.ui.members.selectedItem"
              md-search-text="roleMembership.ui.members.searchText"
              md-items="item in queryUsersAndGroups(roleMembership.ui.members.searchText)"
              md-item-text="item.title"
              md-no-cache="true"
              md-clear-button="true"
              placeholder='{{"views.entity-access-control.AUGa" | translate}}'>
            <span md-highlight-text="roleMembership.ui.members.searchText">{{item.title}}</span>
            <md-item-template>
                  <span class="item-title">
                     <ng-md-icon icon="group" style="fill:orange;" *ngIf="item.type=='group'"></ng-md-icon>
                     <ng-md-icon icon="account_circle" style="fill:blue;" *ngIf="item.type=='user'"></ng-md-icon>
                     <span> {{item.title}} </span>
                  </span>
            </md-item-template>
          </md-autocomplete>
          <button 
                  *ngIf="$chip.editable == undefined || $chip.editable == true"
                  class="md-chip-remove ng-scope"
                  md-chip-remove 
                  type="button"
                  aria-hidden="true" 
                  tabindex="-1">
              <ng-md-icon icon="close"></ng-md-icon>
              <span class="md-visually-hidden ng-binding"> {{"views.entity-access-control.Remove" | translate}} </span>
          </button>
          <md-chip-template>
            <span>
               <ng-md-icon icon="group" ng-style="$chip.editable == false ? { 'opacity':'0.6' } : { 'opacity':'1.0' }" style="fill:orange" *ngIf="$chip.type=='group'"></ng-md-icon>
               <ng-md-icon icon="account_circle" ng-style="$chip.editable == false ? { 'opacity':'0.6' } : { 'opacity':'1.0' }" style="fill:blue" *ngIf="$chip.type=='user'"></ng-md-icon>
               <span ng-style="$chip.editable == false ? { 'opacity':'0.6' } : { 'opacity':'1.0' }" style="font-weight:bold">{{$chip.title}}</span>
            </span>
          </md-chip-template>
        </md-chips>
      </md-input-container>

    </div>
    <mat-divider></mat-divider>

  </div>
    <br/>
    <br/>




</div>
