<div class="layout-padding">

  <md-input-container>
    <label>Limit</label>
    <md-select ng-model="vm.limit" ng-change="vm.onLimitChange()">
      <md-option ng-repeat="opt in vm.limitOptions track by $index" ng-value="opt">
        {{opt}}
      </md-option>
    </md-select>
  </md-input-container>
  <div class="layout-padding"  ng-if="vm.executingQuery">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
  </div>
  <div class="layout-padding-bottom">
    <div ui-grid-auto-resize
         browser-height
         browser-height-scroll-y="false"
         browser-height-offset="374"
         ui-grid="gridOptions"
         ui-grid-move-columns
         flex>
    </div>

  </div>
</div>
