<card-layout body-css="md-padding">
    <header-section>
        <div layout="row" layout-align="space-between-center" flex>
          <div class="card-title" flex>Feed Details</div>
          <h2 class="md-subheader">{{vm.stepNumber}} of {{vm.totalSteps}}</h2>
        </div>
      <thinkbig-feed-errors-card-header></thinkbig-feed-errors-card-header>
    </header-section>
<body-section class="md-padding">
    <div layout="column">
                <div style="padding-bottom:10px;" ng-if="vm.model.inputProcessor != null">
                    <div class="md-subhead">Choose a Feed Input</div>
                    <div class="layout-padding-indent" style="padding-top:8px;">
                    <md-radio-group ng-model="vm.inputProcessorId" layout="row" >
                        <md-radio-button ng-repeat="inputProcessor in vm.inputProcessors"
                                         ng-value="inputProcessor.processorId"
                                         aria-label="{{inputProcessor.name}}">
                            {{inputProcessor.name}}
                            <div class="hint" ng-if="vm.model.inputProcessor.config.comments != ''">{{vm.inputProcessor.config.comments}}</div>
                        </md-radio-button>
                    </md-radio-group>
                    </div>
                </div>



            <div flex ng-if="vm.model.inputProcessor != null && (vm.model.inputProcessor.feedPropertiesUrl == null || vm.model.inputProcessor.feedPropertiesUrl == undefined)">
                <div class="layout-padding-indent">
                        <md-input-container ng-class="{'condensed':property.renderType == 'radio' }" nifi-property-input class="md-block layout-padding-top-bottom" property="property"  flex-gt-sm  ng-repeat="property in vm.model.inputProcessor.properties | filter:{userEditable:true}" track by property.key/>
                    </div>
            </div>
        <div ng-if="vm.model.inputProcessor != null && vm.model.inputProcessor.feedPropertiesUrl != null">
          <custom-processor-rendering template-url="{{vm.model.inputProcessor.feedPropertiesUrl}}" processor="vm.model.inputProcessor" ></custom-processor-rendering>
        </div>


            <div ng-repeat="processor in vm.model.nonInputProcessors track by processor.processorId" flex ng-if="processor.userEditable">
                <div class="md-subhead">{{processor.name}}</div>
                <div class="layout-padding-indent" ng-if="processor.feedPropertiesUrl == null  || processor.feedPropertiesUrl == undefined">
                    <div ng-repeat="property in processor.properties | filter:{userEditable:true} track by property.key">
                         <md-input-container ng-class="{'condensed':property.renderType == 'radio' }" nifi-property-input property="property" class="md-block layout-padding-top-bottom" flex-gt-sm />
                    </div>
                </div>
              <div ng-if="processor.feedPropertiesUrl != null">
                <custom-processor-rendering template-url="{{processor.feedPropertiesUrl}}" processor="processor" ></custom-processor-rendering>
              </div>

            </div>

    </div>
    <thinkbig-step-buttons can-continue="vm.isValid" step-index="{{::vm.stepIndex}}" ></thinkbig-step-buttons>
</body-section>
    </card-layout>