<form #myForm name="form">
  <vertical-section-layout section-title="Properties" (on-save-edit)="onSave()" (on-edit)="onEdit()" (on-cancel-edit)="onCancel()" 
                            [editable]="isEditable" [isValid]="myForm.$valid" [allowEdit]="allowEdit">
    <readonly-section>
      <div layout="row" class="layout-padding-top-bottom">
        <span flex="25" class="property-name">{{"FEED_MGR.DOMAIN_TYPES.DETAILS.RULES.FIELD_NAME" | translate}}</span>
        <div flex>{{model.field.name}}</div>
      </div>
      <div layout="row" class="layout-padding-top-bottom">
        <span flex="25" class="property-name">{{"FEED_MGR.DOMAIN_TYPES.DETAILS.RULES.DATA_TYPE" | translate}}</span>
        <div flex>
          {{model.field.derivedDataType}}
          <span *ngIf="model.field.derivedDataType == 'decimal' && model.field.precisionScale">({{model.field.precisionScale}})</span>
        </div>
      </div>
      <div layout="row" class="layout-padding-top-bottom">
        <span flex="25" class="property-name">{{"FEED_MGR.DOMAIN_TYPES.DETAILS.RULES.TAGS" | translate}}</span>

        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of model.field.tags">
              <mat-chip><strong>{{tag.name}}</strong></mat-chip>
          </mat-chip>
        </mat-chip-list>

      </div>
      <div layout="row" class="layout-padding-top-bottom">
        <span flex="25" class="property-name">{{"FEED_MGR.DOMAIN_TYPES.DETAILS.RULES.RULES" | translate}}</span>
        <div flex>
          <ul class="layout-padding-left-16" style="margin:0">
            <li *ngFor="let rule of getAllFieldPolicies(model)">{{rule.name}}</li>
          </ul>
        </div>
      </div>
    </readonly-section>
    <editable-section *ngIf = "editModel.field">
      <p style="margin: 0 0 32px 0;">{{"FEED_MGR.DOMAIN_TYPES.DETAILS.RULES.PROPERTIES_DESCRIPTION" | translate}}</p>

      <mat-form-field class="md-block" style="margin-bottom: 18px; width:100%">
        <input matInput name="fieldName" placeholder='{{"FEED_MGR.DOMAIN_TYPES.DETAILS.RULES.FIELD_NAME" | translate}}' [(ngModel)]="editModel.field.name"/>
      </mat-form-field>

      <div layout="row" style="margin-top:-18px">
        <div flex class="md-block">
          <mat-select name="derivedDataType" [(ngModel)]="editModel.field.derivedDataType" placeholder="{{'FEED_MGR.DOMAIN_TYPES.DETAILS.RULES.DATA_TYPE' | translate}}" (change)="onDataTypeChange()">
            <mat-option value=""><em>{{"FEED_MGR.DOMAIN_TYPES.DETAILS.RULES.NONE" | translate}}</em></mat-option>
            <mat-option *ngFor="let dataType of availableDefinitionDataTypes" value="{{dataType}}" aria-label="{{dataType}}">
              {{dataType}}
            </mat-option>
          </mat-select>
          <!-- <div ng-messages="domainTypeForm.precisionScale.$error" md-auto-hide="false">
            <div ng-message="pattern">Format expected in form precision, scale (e.g. 10,0)</div>
          </div> -->
        </div>
        <mat-form-field flex="10" *ngIf="editModel.field.derivedDataType == 'decimal'">
          <mat-label>{{"FEED_MGR.DOMAIN_TYPES.DETAILS.RULES.PRECISION" | translate}}</mat-label>
          <input matInput name="precisionScale" [(ngModel)]="editModel.field.precisionScale" placeholder="10,0" ng-pattern="/^\d+,\d+$/" name="precisionScale">
        </mat-form-field>
      </div>

      <div class="block layout-padding-top-bottom flex-gt-sm">
          <mat-label class="label-small md-container-ignore">{{"FEED_MGR.DOMAIN_TYPES.DETAILS.RULES.TAGS" | translate}}</mat-label>

          <td-chips [chipAddition]="true"
                  [chipRemoval]="true"
                  [items]="this.FeedTagService.querySearch(tagChips.searchText)"
                  [(ngModel)]="tagList"
                  placeholder="Add a Tag"
                  [disabled]="false"
                  (add)="addGroup($event)"
                  [ngModelOptions]="{standalone: true}"
                  (remove)="removeGroup($event)">
          </td-chips>

      </div>

      <div layout="column" style="margin:18px 0">
        <div layout="row" layout-align="start start" class="layout-padding-top-bottom">
          <span class="md-input-label" style="font-size: 11px;" flex="25">{{"FEED_MGR.DOMAIN_TYPES.DETAILS.RULES.RULES" | translate}} </span>
          <div style="color:#2D78B1;">
            <button class="icon-btn md-button md-kylo-theme md-ink-ripple" style="padding-left:2px;padding-right:2px;">
              <mat-icon (click)="showFieldRuleDialog(editModel)" style="fill:#2D78B1;">add_circle_outline</mat-icon>
            </button>
            ADD
          </div>
          <div *ngIf="hasFieldPolicies(editModel)" class="orange layout-padding-bottom" style="padding-left:32px;" layout="column">
            <span *ngIf="editModel.fieldPolicy.standardization.length > 0">{{editModel.fieldPolicy.standardization.length}} {{"FEED_MGR.DOMAIN_TYPES.DETAILS.RULES.STANDARDIZERS" | translate}}</span>
            <span *ngIf="editModel.fieldPolicy.validation.length > 0">{{editModel.fieldPolicy.validation.length}} {{"FEED_MGR.DOMAIN_TYPES.DETAILS.RULES.VALIDATORS" | translate}}</span>
          </div>
        </div>
      </div>
    </editable-section>
  </vertical-section-layout>
</form>
