<div class="md-padding">

  <div ng-if="vm.editSla == null" layout="row" flex layout-fill layout-padding>
    <md-input-container flex style="margin-top:0px;margin-bottom:0px;">
      <label>Filter</label>
      <input ng-model="vm.filter"/>
    </md-input-container>
    <div layout="row" layout-align="" space-between center
    ">
    <tba-view-type-selection view-type="vm.viewType" style="margin-left:10px;"></tba-view-type-selection>
    <tba-options-menu sort-options="vm.sortOptions" show-pagination="false" menu-key="{{vm.pageName}}" selected-option="vm.selectedTableOption" show-view-type="false"
                      menu-icon="more_vert"></tba-options-menu>
  </div>
</div>

<div>
  <div flex layout="column" layout-align="center start" ng-if="vm.editSla == null && vm.allowEdit">
    <md-button class="md-primary" aria-label="Add" ng-click="vm.onNewSla($event)">Add SLA</md-button>
  </div>
  <ng-include src="'js/sla/service-level-agreement-body.html'"></ng-include>
</div>


</div>
