<md-content layout="column">

  <div flex layout="column" layout-align="center end" ng-if="vm.editSla == null">
    <md-button class="md-raised md-primary" aria-label="Add" ng-click="vm.onNewSla($event)">New SLA</md-button>
  </div>
  <md-list ng-if="vm.editSla == null && vm.serviceLevelAgreements.length >0" flex layout-fill class="list-item-table">

  <md-list-item ng-repeat="sla in vm.serviceLevelAgreements">
      <div layout="row" layout-fill>
        <div flex="50" layout="column" class="item-column md-list-item-text ">
          <span class="item-title">{{sla.name}}</span>
          <span class="column-title column-title-bottom">{{sla.description}}</span>
      </div>
        <div flex="30" class="item-column md-list-item-text " ng-show="sla.feedNames != ''">
          <span class="item-title">{{sla.feedNames}}</span>
          <span class="column-title column-title-bottom">Related Feeds</span>
        </div>
        <md-button class="icon-btn md-icon-button auto-height" class="md-secondary" ng-click="vm.onEditSla($index)">
        <ng-md-icon icon="edit" size="20" style="fill:grey;"></ng-md-icon>
      </md-button>
      <md-divider ng-if="!$last"></md-divider>
      </div>
    </md-list-item>
  </md-list>
  <div ng-if="vm.serviceLevelAgreements.length ==0 && !vm.creatingNewSla" class="layout-padding">
    No Service Level Agreements exist.
  </div>


  <ng-form name="vm.slaForm" ng-if="vm.editSla != null" class="layout-padding-left-right layout-padding-top">
    <md-button class="md-raised" ng-click="vm.onBackToList($event)">Back to List</md-button>

    <div layout="column" layout-padding>
      <md-input-container class="md-block">
        <label>Name</label>
        <input name="slaName" type="text" ng-model="vm.editSla.name" md-placeholder="SLA name"
               required/>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Description</label>
        <input name="slaDescription" type="text" ng-model="vm.editSla.description" md-placeholder="SLA Description"
               required/>
      </md-input-container>
    </div>


    <div>
      <h4 class="subhead">SLA Conditions</h4>

      <div ng-repeat="rule in vm.editSla.rules" layout="column" class="layout-padding-left-right">
        <div layout="row" flex class="primary-color-1 md-subhead">
          <div style="padding-top:25px;" class="layout-padding-right">{{($index+1)}}.</div>
          <md-input-container class="md-block layout-padding-left" ng-if="!$first" md-no-float>
            <label class="md-container-ignore label-small layout-padding-top">Condition</label>
            <md-select ng-model="rule.condition" aria-label="Condition" ng-disabled="!rule.editable" placeholder="Condition">
              <md-option value="REQUIRED">AND</md-option>
              <md-option value="SUFFICIENT">OR</md-option>
            </md-select>
          </md-input-container>

          <div layout="column" flex class="layout-padding-left" style="padding-top:25px">
            <span>{{rule.name}}</span>
            <span class="hint">{{rule.description}}</span>
          </div>
          <div>
            <div style="padding-top:25px;">
              <md-button class="icon-btn md-icon-button auto-height" ng-click="vm.onDeleteSlaMetric($index)" ng-if="rule.editable">
                <ng-md-icon icon="delete" size="20" style="fill:grey;"></ng-md-icon>
              </md-button>
            </div>
          </div>
        </div>
        <thinkbig-policy-input-form the-form="vm.slaForm" rule="rule" mode="vm.mode" feed="vm.feed"></thinkbig-policy-input-form>

        <md-divider ng-if="!$last"></md-divider>
        <div ng-if="vm.addingSlaCondition == false && $last" flex layout="row">
          <span flex></span>
          <md-button class="md-raised" ng-click="vm.addNewCondition()">Add Another Condition</md-button>
        </div>

      </div>

      <div ng-if="vm.addingSlaCondition" class="layout-padding-left-right" layout="row" flex>


        <md-input-container class="md-block layout-padding-top-bottom" ng-if="vm.editSla != null && vm.editSla.rules.length >0" md-no-float>
          <label class="md-container-ignore label-small layout-padding-top">Condition</label>
          <md-select ng-model="vm.ruleTypeCondition" aria-label="Condition">
            <md-option value="REQUIRED">AND</md-option>
            <md-option value="SUFFICIENT">OR</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block layout-padding-top-bottom">
          <label class="md-container-ignore label-small layout-padding-top">Select New Condition Rule</label>
          <md-select ng-model="vm.ruleType" ng-model-options="{trackBy: '$value.name'}" ng-change="vm.onAddConditionRuleTypeChange()" aria-label="Rule Type">
            <md-option ng-value="opt" ng-repeat="opt in vm.options">{{ opt.name }}</md-option>
          </md-select>
        </md-input-container>
        <span flex></span>
        <md-button class="icon-btn md-icon-button auto-height" ng-click="vm.addingSlaCondition = false" ng-if="vm.editSla != null && vm.editSla.rules.length >0">
          <ng-md-icon icon="delete" size="20" style="fill:grey;"></ng-md-icon>
        </md-button>
      </div>

      <div>
        <h4 class="subhead">SLA Actions</h4>

        <div class="layout-padding" ng-if="vm.editSla.actionConfigurations.length ==0" layout="column">
          <span>All SLA violations will generate an Alert.</span>
          <span ng-if="vm.showActionOptions"">Click the 'Add Action' button to add additional actions when an SLA is violated</span>
        </div>
        <div ng-repeat="rule in vm.editSla.actionConfigurations" layout="column" class="layout-padding-left-right">

          <div layout="row" flex class="primary-color-1 md-subhead">
            <div style="padding-top:25px;" class="layout-padding-right">{{($index+1)}}.</div>

            <div layout="column" flex class="layout-padding-left" style="padding-top:25px">
              <span>{{rule.name}}</span>
              <span class="hint">{{rule.description}}</span>
              <span ng-if="rule.validConfiguration == false" class="error"><strong>Warning</strong>  Configuration Error!  You can still assign this action, but it may not fire due to configuration issues. {{rule.validationMessage}}</span>
            </div>
            <div>
              <div style="padding-top:25px;">
                <md-button class="icon-btn md-icon-button auto-height" ng-click="vm.onDeleteSlaAction($index)" ng-if="rule.editable">
                  <ng-md-icon icon="delete" size="20" style="fill:grey;"></ng-md-icon>
                </md-button>
              </div>
            </div>
          </div>


          <thinkbig-policy-input-form the-form="vm.slaForm" rule="rule"></thinkbig-policy-input-form>
          <md-divider ng-if="!$last"></md-divider>
        </div>
        <div ng-if="vm.addingSlaAction" class="layout-padding-left-right" layout="row">
          <md-input-container class="md-block layout-padding-top-bottom">
            <label class="md-container-ignore label-small layout-padding-top">Select New Action</label>
            <md-select ng-model="vm.slaAction" ng-model-options="{trackBy: '$value.name'}" ng-change="vm.onAddSlaActionChange()" aria-label="Rule Type">
              <md-option ng-value="opt" ng-repeat="opt in vm.slaActionOptions">{{ opt.name }}</md-option>
            </md-select>
          </md-input-container>
          <md-button class="icon-btn md-icon-button auto-height" ng-click="vm.addingSlaAction = false">
            <ng-md-icon icon="delete" size="20" style="fill:grey;"></ng-md-icon>
          </md-button>
        </div>
        <div ng-if="vm.addingSlaAction == false" flex layout="row">
          <span flex></span>
          <md-button class="md-raised" ng-click="vm.addingSlaAction = true" ng-if="vm.showActionOptions">Add Action</md-button>
        </div>
      </div>


      <div class="layout-padding-top-bottom" flex layout="row">
        <md-button class="md-raised md-warn" ng-click="vm.onDeleteSla($event)" ng-if="vm.editSla != null && vm.editSlaIndex != null">Delete</md-button>
        <span flex></span>
        <md-button class="md-raised" ng-click="vm.cancelEditSla()" ng-if="vm.editSla != null">Cancel</md-button>
        <md-button class="md-primary md-raised" ng-click="vm.saveSla()" ng-if="vm.editSla != null && vm.editSla.rules.length >0">Save SLA</md-button>
      </div>

    </div>

  </ng-form>
</md-content>
