<define-feed-step-card [(feed)]="feed" [(step)]="step" [singleCardView]="true" (cancelEdit)="onCancelEdit()" (saved)="onSave()" [displayEditActions]="displayEditActions">

  <feed-step-readonly-content>
    <div fxLayout="column" *ngIf="feed.readonly">
      <!-- feed properties -->
      <property-list [editable]="false" [properties]="feed.userProperties"></property-list>

    </div>

  </feed-step-readonly-content>

  <feed-step-edit-content>
   <form [formGroup]="formGroup" *ngIf="!feed.readonly">
     <!-- feed properties -->
     <property-list #propertyList  [editable]="true" [parentFormGroup]="formGroup" [(properties)]="feed.userProperties" (propertiesChange)="onPropertiesChanged($event)"></property-list>

   </form>

  </feed-step-edit-content>

</define-feed-step-card>