<mat-toolbar mat-dialog-title class="mat-dialog-title" [color]="['primary']" >
  <div fxFlex fxLayout="row">
    <span class="text-truncate">{{title}}</span>
    <span fxFlex></span>
    <button mat-icon-button (click)="cancel()">
      <mat-icon arial-label="Close dialog">close</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div mat-dialog-content class="mat-dialog-content">
  <form [formGroup]="formGroup">
    <system-feed-name [formGroup]="formGroup"></system-feed-name>
    <category-autocomplete [formGroup]="formGroup" >
    </category-autocomplete>
  </form>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button [color]="['primary']" [disabled]="!formGroup.valid" (click)="create()">Create</button>
</div>