


<mat-toolbar mat-dialog-title class="mat-dialog-title" [color]="['primary']">
  <span>New Feed</span>
  <span fxFlex=""></span>
  <button mat-icon-button (click)="cancel()">
    <mat-icon arial-label="Close dialog">close</mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content class="mat-dialog-content">
  <div fxLayout="column">
  <div class="mat-subheader">Create a new {{template.templateName}} feed</div>
  <form [formGroup]="formGroup">
    <system-feed-name [formGroup]="formGroup"></system-feed-name>
    <category-autocomplete [formGroup]="formGroup" >
    </category-autocomplete>
  </form>
  </div>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button [color]="['primary']" [disabled]="!formGroup.valid" (click)="create()">Create</button>
</div>