<mat-card class="feed-info-card feed-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>{{kyloIcons.Feed.alerts}}</mat-icon>
      <span translate>views.alerts-template.Alerts</span>
    </mat-card-title>
    <span fxFlex></span>
  </mat-card-header>
  <mat-card-content>

    <mat-list role="list" dense >

      <ng-container *ngFor="let alert of alerts; let $last=last">
        <mat-list-item (click)="navigateToAlerts(alert)">
          <h4 mat-line>{{alert.groupDisplayName}} {{'views.alerts-template.' + alert.typeDisplayName | translate}}</h4>
          <div mat-line fxLayout="row" fxLayoutAlign="space-between-stretch">
            <span  *ngIf="alert.count ==1">{{alert.count}} {{"views.alerts-template.ALERT1" | translate}}</span>
            <span  *ngIf="alert.count > 1 && alert.count < 5">{{alert.count}} {{"views.alerts-template.ALERT2" | translate}}</span>
            <span  *ngIf="alert.count > 4">{{alert.count}} {{"views.alerts-template.ALERT5" | translate}}</span>
            <span fxFlex></span>
            <span>{{alert.since}}</span>
          </div>
        </mat-list-item>
        <mat-divider *ngIf="!$last"></mat-divider>
      </ng-container>

      <mat-list-item *ngIf="alerts.length == 0">
        <h4 mat-line >{{"views.alerts-template.Na" | translate}}</h4>
      </mat-list-item>

    </mat-list>
  </mat-card-content>
</mat-card>