
::ng-deep .mat-dialog-content .mat-horizontal-content-container {
  min-height: 55vh;
  overflow: auto !important;
  height: 55vh;
}


:host ::ng-deep .mat-dialog-content {
  overflow: hidden !important;
}
