 <div layout="row" layout-align="center start">
    <div layout="column" flex >

      <mat-card class="centered" style="width:70%;margin:auto;">
        <mat-card-title layout="row" layout-align="space-between-center" flex>
          <span *ngIf="searchResult != null" class="md-subhead">
            {{"view.search.Srf" | translate}} {{searchResult.from}} {{"view.search.to" | translate}} {{searchResult.to}} {{"view.search.of" | translate}} {{searchResult.totalHits}}
            <span class="hint">({{(searchResult.tookInMillis/1000).toFixed(3)}} {{"view.search.seconds" | translate}})</span>
          </span>
        </mat-card-title>

        <mat-card-content class="md-padding">
          <div *ngIf="searchResult != null">
            <div *ngIf="searchResult.searchResults.length >0 ">
              <mat-list flex layout-fill>
                <mat-list-item class="searchList" style="height:auto; font-size: 14px;" (click)="onSearchResultItemClick($event,searchHit)"
                    *ngFor="let searchHit of searchResult.searchResults">
                  <div flex="10" style="z-index: 1" layout="column" layout-xs="row">
                    <span style="z-index: 1">
                      <ng-md-icon *ngIf="searchHit.type == 'KYLO_DATA'" icon="{{searchHit.icon}}" style="fill:rgba(240,140,56,0.54);"
                                  size="48" matTooltip="{{'view.search.Dft' | translate}} {{searchHit.schemaName}}.{{searchHit.tableName}} "
                                  placement="left">
                      </ng-md-icon>
                      <ng-md-icon *ngIf="searchHit.type == 'KYLO_SCHEMA'" icon="{{searchHit.icon}}" style="fill:rgba(240,140,56,0.54);"
                                  size="48" matTooltip="{{'view.search.Sft' | translate}} {{searchHit.databaseName}}.{{searchHit.tableName}}"
                                  placement="left">
                      </ng-md-icon>
                      <ng-md-icon *ngIf="searchHit.type == 'KYLO_FEEDS'" icon="{{searchHit.icon}}" style="fill:rgba(240,140,56,0.54);"
                                  size="48" matTooltip="{{'view.search.Fmf' | translate}} {{searchHit.feedTitle}}"
                                  placement="left">
                      </ng-md-icon>
                      <ng-md-icon *ngIf="searchHit.type == 'KYLO_CATEGORIES'" icon="{{searchHit.icon}}" style="fill:rgba(240,140,56,0.54);"
                                  size="48" matTooltip="{{'view.search.Cmf' | translate}} {{searchHit.categoryTitle}}"
                                  placement="left">
                      </ng-md-icon>
                      <ng-md-icon *ngIf="searchHit.type == 'KYLO_UNKNOWN'" icon="{{searchHit.icon}}" style="fill:rgba(240,140,56,0.54);"
                                  size="48" matTooltip="{{'view.search.Urt' | translate}}"
                                  placement="left">
                      </ng-md-icon>
                    </span>
                  </div>
                  <div flex="90" layout="column" layout-xs="row" layout-fill>

                    <div *ngIf="searchHit.type == 'KYLO_DATA'" layout="row" layout-xs="column" layout-wrap="true">
                      <div flex="100">
                        <div layout="row" layout-xs="column" style="font-weight: bold; padding-bottom: 10px; padding-top: 5px;" class="item-title">
                          {{searchHit.schemaName}}.{{searchHit.tableName}}
                        </div>
                        <div layout="column" layout-wrap="true">

                          <div style="overflow-x:auto; padding-bottom: 10px;">
                            <table style="border-collapse:collapse; border-spacing:0;">
                              <tr *ngFor="let highlight of searchHit.highlights;">
                                <td style="text-align:left; padding-left: 3px;" >{{('view.search.' + highlight.key) | translate}}</td>
                                <td style="text-align:left; padding-left: 50px;" [innerHTML]="highlight.value"></td>
                              </tr>
                            </table>
                          </div>

                          <div style="overflow-x:auto; padding-bottom: 10px;">
                            <table style="border-collapse:collapse; border-spacing:0;">
                              <tr *ngFor="let field of searchHit.columnNamesAndValues; let i=index">
                                <td *ngIf="i<3" style="text-align:left; padding-left: 3px;">{{field.key}}</td>
                                <td *ngIf="i<3" style="text-align:left; padding-left: 50px;">{{field.value}}</td>
                              </tr>
                            </table>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div *ngIf="searchHit.type == 'KYLO_SCHEMA'" layout="row" layout-xs="column" layout-wrap="true">
                      <div flex="100">
                        <div layout="row" layout-xs="column" style="font-weight: bold;padding-bottom: 10px; padding-top: 5px;" class="item-title">
                          {{searchHit.databaseName}}.{{searchHit.tableName}}
                        </div>
                        <div layout="column" layout-wrap="true">

                          <div style="overflow-x:auto; padding-bottom: 10px;">
                            <table style="border-collapse:collapse; border-spacing:0;">
                              <tr *ngFor="let highlight of searchHit.highlights">
                                <td style="text-align:left; padding-left: 3px;">{{('view.search.' + highlight.key) | translate}}</td>
                                <td style="text-align:left; padding-left: 50px;" [innerHTML]="renderHtml(highlight.value)"></td>
                              </tr>
                            </table>
                          </div>

                          <div layout-align="start center">
                            <ul style="list-style-type: none; margin:0; padding:0">
                              <div style="overflow-x:auto; padding-bottom: 10px;">
                                <table style="border-collapse:collapse; border-spacing:0;">
                                  <tr *ngFor="let hiveColumn of searchHit.hiveColumns; let i=index">
                                    <td *ngIf="i<2" style="text-align:left; padding-left: 3px;">{{hiveColumn.columnName}}</td>
                                    <td *ngIf="i<2" style="text-align:left; padding-left: 50px;">{{hiveColumn.columnType}}</td>
                                    <td style="text-align:left; padding-left: 50px;" *ngIf="hiveColumn.columnComment != '' && i<2">{{hiveColumn.columnComment}}</td>
                                  </tr>
                                </table>
                              </div>
                            </ul>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div *ngIf="searchHit.type == 'KYLO_FEEDS'" layout="row" layout-xs="column" layout-wrap="true">
                      <div flex="100">
                        <div layout="row" layout-xs="column" class="item-title" style="font-weight: bold; padding-bottom: 10px; padding-top: 5px;">
                          <div layout-align="start center">
                            {{searchHit.feedTitle}}
                          </div>
                        </div>
                        <div layout="column" layout-wrap="true">

                          <div style="overflow-x:auto; padding-bottom: 10px;">
                            <table style="border-collapse:collapse; border-spacing:0;">
                              <tr *ngFor="let highlight of searchHit.highlights">
                                <td style="text-align:left; padding-left: 3px;">{{('view.search.' + highlight.key) | translate}}</td>
                                <td style="text-align:left; padding-left: 50px;" [innerHTML]="renderHtml(highlight.value)"></td>
                              </tr>
                            </table>
                          </div>

                          <div layout-align="start center" style="padding-bottom: 10px;">
                            <ul style="list-style-type: none; margin:0; padding:0">
                              <li>{{searchHit.feedDescription}}</li>
                              <li *ngFor="let feedTag of searchHit.feedTags; let i=index">
                                <ng-template *ngIf="i<2">
                                  {{feedTag}}
                                </ng-template>
                              </li>
                            </ul>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div *ngIf="searchHit.type == 'KYLO_CATEGORIES'" layout="row" layout-xs="column" layout-wrap="true">
                      <div flex="100">
                        <div layout="row" layout-xs="column" class="item-title" style="font-weight: bold; padding-bottom: 10px; padding-top: 5px;">
                          <div layout-align="start center">
                            {{searchHit.categoryTitle}}
                          </div>
                        </div>
                        <div layout="column" layout-wrap="true">

                          <div style="overflow-x:auto; padding-bottom: 10px;">
                            <table style="border-collapse:collapse; border-spacing:0;">
                              <tr *ngFor="let highlight of searchHit.highlights">
                                <td style="text-align:left; padding-left: 3px;">{{('view.search.' + highlight.key) | translate}}</td>
                                <td style="text-align:left; padding-left: 50px;" [innerHTML]="renderHtml(highlight.value)"></td>
                              </tr>
                            </table>
                          </div>

                          <div layout-align="start center" style="padding-bottom: 10px;">
                            <ul style="list-style-type: none; margin:0; padding:0">
                              <li>{{searchHit.categoryDescription}}</li>
                            </ul>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div *ngIf="searchHit.type == 'KYLO_UNKNOWN'" layout="row" layout-xs="column" layout-wrap="true">
                      <div flex="100">
                        <div layout="row" layout-xs="column" class="item-title" style="font-weight: bold;">
                          <div layout-align="start center">
                            {{"view.search.unknown-result" | translate}}
                          </div>
                        </div>
                        <div layout="column" layout-wrap="true">
                          <div layout-align="start center" style="padding-bottom: 10px;">
                            <ul style="list-style-type: none; margin:0; padding:0">
                              <li>{{"view.search.Dna" | translate}}</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <mat-divider *ngIf="!last"></mat-divider>
                </mat-list-item>
                <mat-divider></mat-divider>

                <td-paging-bar #pagingBar [firstLast]="false" [pageSize]="pageSize" [total]="searchResult.totalHits" (change)="onPaginationChange($event)" style="float: right;">
                    <span hide-xs>{{"views.main.rows-per-page" | translate}}</span>
                    <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
                        <mat-option *ngFor="let size of ['5', '10', '20', '50', '100']" [value]="size">
                          {{size}}
                        </mat-option>
                    </mat-select>
                    {{pagingBar.range}}
                    <span hide-xs>of {{pagingBar.total}}</span>
                </td-paging-bar>

              </mat-list>
            </div>
          </div>
          <div *ngIf="searchResult == null && !searching">
            {{"views.common.Nrf" | translate}}
          </div>
          <div *ngIf="searching">
            <mat-spinner mode="indeterminate" class="md-accent"></mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
