<div [formGroup]="formGroup" fxFlex="50">
<mat-form-field >
  <input matInput placeholder="Category" aria-label="Category" formControlName="category" [matAutocomplete]="auto" required>
  <mat-error *ngIf="checkRequired(formGroup, 'category')"> {{"views.define-feed-general-info.Req" | translate}} </mat-error>
  <mat-error *ngIf="checkFeedCreateAccess(formGroup, 'category')"> {{"views.define-feed-general-info.YouAreNot" | translate}} </mat-error>

  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="categoryAutocompleteDisplay" (onCategorySelected)="categorySelected($event)" >
    <mat-option *ngFor="let category of filteredCategories | async" [value]="category" class="autocomplete-option">
                  <span [class.disabled]="!category.createFeed">
                       <ng-md-icon [icon]="category.icon" [ngStyle]="{'fill':category.iconColor}" *ngIf="category.createFeed"></ng-md-icon>
                    <ng-md-icon icon="block" class="disabled" *ngIf="!category.createFeed"></ng-md-icon>
                    <span class="title"> {{category.name}}</span>
                    <br/>
                    <span class="sub-title hint">{{category.description}}</span>
                  </span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
</div>