<mat-toolbar td-sidenav-content (click)="gotoFeeds()" style="cursor:pointer">Feeds</mat-toolbar>
<div td-sidenav-content>
  <mat-nav-list>
    <a mat-list-item  [ngClass]="{'selected-step': summaryLink.selected}" (click)="onLinkSelected(summaryLink)" >
      <mat-icon [color]=" summaryLink.selected ? 'accent': ''" mat-list-icon>dashboard</mat-icon>
      <h3 matLine>Summary</h3>
      <span></span>
    </a>
    <!-- step guid links only display when not on summary -->
    <mat-divider *ngIf="!summaryLink.selected"></mat-divider>
    <ng-template let-link let-last="last" ngFor [ngForOf]="stepLinks" *ngIf="!summaryLink.selected">
      <a mat-list-item (click)="onLinkSelected(link)" class="pad-left-sm" [ngClass]="{'selected-step': link.selected}">
        <mat-icon [color]=" link.selected ? 'accent': ''" mat-list-icon *ngIf="link.icon != null">{{link.icon}}</mat-icon>
        <div mat-line>{{link.label}}</div>
        <span></span>
      </a>
    </ng-template>

    <ng-container  *ngIf="!feed.isDraft()">
      <mat-divider></mat-divider>
      <h3 mat-subheader>Links</h3>
      <ng-template let-link let-last="last" ngFor [ngForOf]="feedLinks">
        <a mat-list-item (click)="onLinkSelected(link)" class="pad-left-sm" [ngClass]="{'selected-step': link.selected}">
          <mat-icon [color]=" link.selected ? 'accent': ''" mat-list-icon *ngIf="link.icon != null">{{link.icon}}</mat-icon>
          <div mat-line>{{link.label}}</div>
          <span></span>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-template>
    </ng-container>

  </mat-nav-list>

</div>