<define-feed-step-card [(feed)]="feed" [(step)]="step">

  <feed-step-readonly-content>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start" class="read-only-row">
        <div fxFlex="50">
          <span fxFlex="25" translate>views.common.DN</span>
          <span>{{feed.feedName}}</span>
        </div>
        <div fxFlex="50">
          <span fxFlex="25" translate>views.define-feed-general-info.SN</span>
          <span>{{feed.systemFeedName}}</span>
        </div>
      </div>

      <div class="read-only-row">
        <span fxFlex="25" translate>views.define-feed-general-info.Category</span>
        <span>{{feed.category.name}}</span>
      </div>

      <div class="read-only-row">
        <span fxFlex="25" translate>views.define-feed-general-info.Description</span>
        <span>{{feed.description}}</span>
      </div>

      <div class="read-only-row">
        <span fxFlex="25" translate>views.feed-details.DO</span>
        <span>{{feed.dataOwner}}</span>
      </div>

      <!-- feed properties -->
      <property-list  [editable]="false" [properties]="feed.userProperties"></property-list>

      <feed-schedule [parentForm]="formGroup" [editable]="false" [feed]="feed"></feed-schedule>


    </div>

  </feed-step-readonly-content>

  <feed-step-edit-content>
    <div fxLayout="column" [formGroup]="formGroup">
      <div fxLayout="row" fxLayoutAlign="start">
        <mat-form-field fxFlex="50">
          <input matInput formControlName="feedName" placeholder="Feed name"  >
        </mat-form-field>

        <mat-form-field fxFlex="50">
          <input matInput placeholder="System Feed name"  formControlName="systemFeedName">
        </mat-form-field>

      </div>


      <mat-form-field>
        <input matInput placeholder="Category" aria-label="Category" formControlName="category" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="categoryAutocompleteDisplay">
          <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                  <span class="item-title" [class.disabled]="!category.createFeed">
                       <ng-md-icon icon="{{category.icon}}" style="fill:{{category.iconColor}}" *ngIf="category.createFeed"></ng-md-icon>
                    <ng-md-icon icon="block" class="disabled" *ngIf="!category.createFeed"></ng-md-icon>
                    <span> {{category.name}} </span>
                    <small>{{category.description}}</small>
                  </span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description" rows="3" ></textarea>
      </mat-form-field>

      <!-- Once the feed has been defined show the following components -->
      <div *ngIf="feed.id != null">


      <!-- Data Owner ... TODO disabled flag
      {{'views.define-feed-properties.DO' | translate}}
      -->
        <mat-form-field fxFlex>
          <input matInput  placeholder="Data Owner" formControlName="dataOwner" >
        </mat-form-field>

        <!-- feed properties -->
        <property-list #propertyList  [editable]="true" [parentFormGroup]="formGroup" [(properties)]="feed.userProperties"></property-list>


        <feed-schedule #feedSchedule [parentForm]="formGroup"  [editable]="true" [(feed)]="feed"></feed-schedule>


        <!-- TODO: Access Controls form here -->

      </div>
    </div>

  </feed-step-edit-content>
</define-feed-step-card>
