<md-card layout-align="center center" >
    <span class="card-title kpi-header">Feed Health</span>
    <span class="md-caption kpi-subtitle ">Monitors All Feed Health</span>
    <md-card-content  layout="column"  layout-align="center center" class="kpi-content" style="width:100%;">
        <div ng-if="vm.dataLoaded">
            <nvd3 flex options="vm.chartOptions" data="vm.chartData" api="vm.chartApi" config="vm.chartConfig"></nvd3>
            <div layout="row" layout-align="space-between end" flex class="kpi-health-count-container" >
            <span layout="column">
                <span class="kpi-health-count" ng-class="{'healthy':vm.dataMap.Healthy.count >0}">{{vm.dataMap.Healthy.count}}</span>
                <span class="md-caption kpi-health-label">Healthy</span>
            </span>
            <span layout="column">
                <span class="kpi-health-count" ng-class="{'unhealthy':vm.dataMap.Unhealthy.count >0}">{{vm.dataMap.Unhealthy.count}}</span>
                <span class="md-caption kpi-health-label">Unhealthy</span>
            </span>
            </div>
        </div>
        <div ng-if="!vm.dataLoaded" class="kpi-loading">  <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
        </div></div>



    </md-card-content>
</md-card>