<td-layout>
  <mat-toolbar>
    {{datasource.title}}
  </mat-toolbar>
  <mat-card>
    <div fxLayout="row" >
    <nav mat-tab-nav-bar>
      <a *ngFor="let tab of tabs" mat-tab-link [uiSref]="tab.sref"
         uiSrefStatus #ref="uiSrefStatus"
         [active]="ref.status.active"
         [disabled]="isDisabled(tab)"
      >{{tab.label}}</a>
    </nav>
      <span fxFlex=""></span>

      <div>
          <button mat-raised-button  mat-button  color="primary" (click)="wrangleDataSets()" [disabled]="dataSetCollectionSize == 0">{{"FEED_MGR.CATALOG.DATASOURCE.WRANGLE_DATA" | translate}} ({{dataSetCollectionSize}})</button>
      </div>
      <span fxFlex="10"></span>
    </div>
    <ui-view></ui-view>
  </mat-card>
</td-layout>
