<md-menu >
  <md-button aria-label="Options" class="md-icon-button" ng-click="$ctrl.openMenu($mdMenu.open, $event)">
    <ng-md-icon icon="{{$ctrl.menuIcon}}"></ng-md-icon>
  </md-button>
  <md-menu-content width="3">
    <md-menu-item>
      <header> <ng-md-icon icon="account_circle" style="margin-left:-5px;margin-right:10px;color:grey"></ng-md-icon>{{$ctrl.username}}</header>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="$ctrl.logout()">{{"views.kylo-options.Logout" | translate}}</md-button>
    </md-menu-item>
    <md-menu-divider></md-menu-divider>
    <md-menu-item layout="column">
      <md-button ng-click="$ctrl.openDocs(true)">
        <span style="float:left;">{{"views.kylo-options.DocsThisVersion" | translate}}</span>
      </md-button>
    </md-menu-item>
    <md-menu-item layout="column">
      <md-button ng-click="$ctrl.openDocs(false)">
        <span style="float:left;">{{"views.kylo-options.DocsLatestVersion" | translate}}</span>
      </md-button>
    </md-menu-item>
    <md-menu-divider></md-menu-divider>
    <md-menu-item layout="column">
      <md-button ng-click="$ctrl.aboutKylo()" md-prevent-menu-close="md-prevent-menu-close">
        <span style="float:left;">{{"views.kylo-options.AK" | translate}}</span>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
