<div  flex style="width:100%" ng-controller="DefineFeedController as vm">

    <div layout="column" flex class="md-padding feed-templates" layout-align="start center" ng-if="vm.stepperUrl == null">
        <div layout="row">
            <div layout="column" flex layout-fill layout-align="center center">
                <div class="md-title">Select the type of feed <span ng-if="vm.allowImport">or <a href="" ng-click="vm.gotoImportFeed()">Import</a> from an archive</span></div>
            </div>
        </div>

        <div layout="column" flex layout-fill layout-align="center center" ng-if="vm.layout == 'first'">

        <md-card style="width:450px;max-width:450px;max-height:121px;height:121px" ng-repeat="template in vm.firstTemplates track by $index" flex="initial" flex-md="initial" flex-sm="50" ng-click="vm.selectTemplate(template)">
            <md-card-title>
                <md-card-title-text>
                    <span style="font-size: 20px;font-weight:400;letter-spacing: .005em;">{{template.templateName}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <ng-md-icon icon="{{template.icon}}" size="40" style="fill:{{template.iconColor}};margin-right:-20px;" class="md-media-xs"></ng-md-icon>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <div style="word-wrap:break-word;">{{template.description | characters:100}}</div>
            </md-card-content>
        </md-card>
            <div>
          <a href="" ng-click="vm.more()" ng-if="vm.displayMoreLink">More</a>
            </div>
        </div>

        <div layout="row" flex class="md-padding feed-templates" layout-align="start start"  layout-wrap ng-if="vm.layout == 'all'">
            <md-card style="width:400px;max-width:400px;max-height:121px;height:121px" ng-repeat="template in vm.allTemplates track by $index" flex="initial" flex-md="initial" flex-sm="50" ng-click="vm.selectTemplate(template)">
                <md-card-title>
                    <md-card-title-text>
                        <span style="font-size: 16px;font-weight:400;letter-spacing: .005em;">{{template.templateName}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <ng-md-icon icon="{{template.icon}}" size="40" style="fill:{{template.iconColor}};margin-right:-20px;" class="md-media-xs"></ng-md-icon>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <div style="word-wrap:break-word;">{{template.description | characters:100}}</div>
                </md-card-content>
            </md-card>

        </div>

    </div>


<thinkbig-stepper total-steps="{{vm.totalSteps}}" stepper-name="DefineFeedStepper"  core-data-model="vm.model" on-cancel-stepper="vm.cancelStepper()" template-url="{{vm.stepperUrl}}" ng-if="vm.stepperUrl != null"></thinkbig-stepper>

</div>
