<card-layout class="centered">
  <header-section layout-column>
    <span class="card-title kpi-header">Processors Run Time (sec)</span>
    <span class="md-caption kpi-subtitle ">Average Processing Time</span>
  </header-section>


  <body-section>
    <div ng-if="vm.dataLoaded" layout-padding>
      <div layout="row">
        <md-input-container class="md-block layout-padding-top-bottom">
          <label class="md-container-ignore label-small layout-padding-top">Time Frame</label>
          <md-select ng-model="vm.timeFrame" ng-change="vm.onTimeFrameChange()" aria-label="Rule Type">
            <md-option value="{{opt.value}}" ng-repeat="opt in vm.timeFrameOptions track by opt.value">{{ opt.label }}</md-option>
          </md-select>
        </md-input-container>
        <span flex></span>

        <div layout="column">
          <span class="hint">{{vm.lastRefreshTime | date:'HH:mm:ss'}}</span>
          <span class="md-caption">Last Refreshed</span>
        </div>
      </div>
      <div layout="row" flex>
        <div layout="column" flex="25">
          <span class="hint">{{vm.jobsStarted}}</span>
          <span class="md-caption">Jobs Started</span>
        </div>
        <div layout="column" flex="25">
          <span class="hint">{{vm.jobsFinished}}</span>
          <span class="md-caption">Jobs Finished</span>
        </div>
        <div layout="column" flex="25">
          <span class="hint">{{vm.jobsFailed}}</span>
          <span class="md-caption">Jobs Failed</span>
        </div>
        <div layout="column" flex="25">
          <span class="hint">{{vm.avgJobDuration}}</span>
          <span class="md-caption">Avg Job Duration (sec)</span>
        </div>
      </div>
      <nvd3 flex options="vm.chartOptions" data="vm.chartData" api="vm.chartApi"></nvd3>
    </div>
    <div ng-if="!vm.dataLoaded" class="kpi-loading">
      <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>

  </body-section>
</card-layout>
