<div layout="row" layout-align="center start">
  <mat-card class="centered"  style="max-width:980px;width:980px;" flex="initial">
    <mat-card-title>
      <div class="card-title" flex>{{"FEED_MGR.SLA.EMAIL_TEMPLATES.SLA_TEMPLATE"| translate}}</div>
    </mat-card-title>

    <mat-card-content style="padding: 0;">
      <div class="layout-padding-left-right-16" >
        <div *ngIf="availableSlaActions.length ==0" class="layout-padding-bottom" layout="column">
          <div layout="row" layout-align="start start">
            <span>
              <ng-md-icon icon="warning" class="warn" ></ng-md-icon>
            </span>
          <span class="md-subhead layout-padding-left">{{"FEED_MGR.SLA.EMAIL_TEMPLATES.WARNING"| translate}}</span>
            <span flex></span>
          </div>
            <span class="hint">{{"FEED_MGR.SLA.EMAIL_TEMPLATES.EMAIL_PLUGIN_DESCRIPTION"| translate}}</span>
        </div>
        <form #slaEmailTemplateForm="ngForm">

        <div *ngIf="template != null" layout="column">
          <mat-form-field>
            <input matInput name="templateName" placeholder="{{'FEED_MGR.SLA.EMAIL_TEMPLATES.TEMPLATE_NAME'| translate}}" [(ngModel)]="template.name" required>
          </mat-form-field>

          <mat-form-field style="margin:18px 0;">
            <input matInput name="templateSubject" placeholder="{{'FEED_MGR.SLA.EMAIL_TEMPLATES.SUBJECT'| translate}}" [(ngModel)]="template.subject" required>
            <mat-hint align="start">
                <span class="hint"> {{"FEED_MGR.SLA.EMAIL_TEMPLATES.SLA_NAME_DECRIPTION"| translate}}</span>
            </mat-hint>
          </mat-form-field>

          <codemirror name="template" [(ngModel)]="template.template" 
                [config]="{
                            lineWrapping : true,
                            indentWithTabs: true,
                            smartIndent: true,
                            lineNumbers: true,
                            matchBrackets : true,
                            autofocus: true,
                            mode: 'text/velocity'
                          }">
          </codemirror >

          <div layout="row" layout-align="space-between start">
            <div class="condensed-no-float md-block layout-padding-top-bottom" flex="50">
              <mat-checkbox name="enableTemplate" [(ngModel)]="template.enabled" attr.aria-label="{{'FEED_MGR.SLA.EMAIL_TEMPLATES.ENABLED'| translate}}" [disabled]="relatedSlas.length >0">
                Active
              </mat-checkbox>
              <mat-hint align="start">
                <div class="hint" *ngIf="relatedSlas.length >0">{{"FEED_MGR.SLA.EMAIL_TEMPLATES.DISABLED_SLA"| translate}}</div>
              </mat-hint>
              </div>

            <button (click)="exampleTemplate()" *ngIf="template.template && template.template.length ==0">{{"FEED_MGR.SLA.EMAIL_TEMPLATES.LOAD_EXAMPLE_TEMPLATE"| translate}}</button>
          </div>

          <div class="condensed-no-float md-block layout-padding-bottom">
            <mat-checkbox name="defaultTemplate" [(ngModel)]="template.default" attr.aria-label="{{'FEED_MGR.SLA.EMAIL_TEMPLATES.DEFAULT'| translate}}" [disabled]="isDefault">
              Default Template
            </mat-checkbox>
            <mat-hint align="start">
              <div class="hint">{{"FEED_MGR.SLA.EMAIL_TEMPLATES.DEFAULT_TEMPLATE"| translate}}</div>
            </mat-hint>
          </div>

          <div layout="row" layout-align="space-between start">
            <div layout="row" layout-align="space-between start" flex="50">
              <button class="md-button md-kylo-theme md-ink-ripple" (click)="validate()">{{"FEED_MGR.SLA.EMAIL_TEMPLATES.PREVIEW"| translate}}</button>
              <mat-form-field>
                <input name="emailAddress" matInput placeholder="Test email address" [(ngModel)]="emailAddress" type="email" size="50">
              </mat-form-field>
              <button (click)="sendTestEmail()" class="md-primary md-button md-kylo-theme md-ink-ripple" [disabled]="allowEdit && (emailAddress == null || emailAddress == '')">Send Test</button>
            </div>
            <button (click)="saveTemplate()" class="md-primary md-button md-kylo-theme md-ink-ripple" [disabled]="!slaEmailTemplateForm.form.valid && !allowEdit">Save</button>
          </div>

        </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card offsetleftfromprevious top="8" card-css="layout-fill"
               style="max-width:250px;width:250px;min-width:250px;" flex="initial">
    <mat-card-title>
      <div class="card-title">{{"FEED_MGR.SLA.EMAIL_TEMPLATES.TEMPLATE_VARIABLES"| translate}}</div>

    </mat-card-title>

    <mat-card-content style="padding: 0;">
      <div class="layout-padding-left-right">
      <div layout="column" class="layout-padding-top-bottom">
        <mat-list  class="md-dense">
          <mat-list-item class="md-2-line" *ngFor="let item of templateVariables">
            <div class="md-list-item-text" layout="column">
              <span>{{item.item}}</span>
              <span class="hint">{{item.desc}}</span>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-divider style="position:relative;width: auto;"></mat-divider>
      <div class="md-subhead">{{"FEED_MGR.SLA.EMAIL_TEMPLATES.RELATED_SLA"| translate}}</div>
      <mat-list  class="md-dense">
        <mat-list-item class="md-2-line" *ngFor="let item of relatedSlas">
          <div class="md-list-item-text pointer" layout="column" (click)="navigateToSla(item.slaId)">
            <h3>{{item.name}}</h3>
            <mat-hint align="start">
              <span class="hint">{{item.description}}</span>
            </mat-hint>
          </div>
        </mat-list-item>
      </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>