<h2 mat-dialog-title>{{'SHARED.APPLY_DOMAIN_TYPE.APPLY_DOMAIN_TYPE' | translate}}</h2>

<mat-dialog-content class="mat-typography">
    <div style="padding-bottom: 12px;">{{'SHARED.APPLY_DOMAIN_TYPE.COLOUMN_DESELECT' | translate}}</div>

    <td-data-table
        #dataTable
        [data]="filteredData"
        [columns]="columns"
        [selectable]="true"
        [clickable]="false"
        [(value)]="selectedRows"
        [multiple]="false"
        [sortable]="true"
        [sortBy]="sortBy"
        [sortOrder]="sortOrder"
        (sortChange)="sort($event)"
        (rowSelect)="onRowSelected($event)"
        [style.height.px]="200">
      <ng-template tdDataTableTemplate="domainType" let-value="value">
        <span><ng-md-icon [icon]="value.icon" [ngStyle]="{'fill':value.iconColor}"></ng-md-icon> {{value.title}}</span>
      </ng-template>

    </td-data-table>
    <div  *ngIf="!dataTable.hasData" fxLayout="row" fxLayoutAlign="center center">
      <h3>{{'views.main.no-results' | translate}}</h3>
    </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button  mat-raised-button  (click)="cancel()">{{'view.main.cancel' | translate}}</button>
  <button  mat-raised-button color="primary" (click)="hide()">{{'views.query-table-header.filter-apply' | translate}}</button>
</mat-dialog-actions>
