vs-table-header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.mat-menu-item {
    height: auto !important;
    line-height: 27px;
}

.dropDown-button {
    min-width: 20px;
    padding: 0;
}