<div class="table-header">
  <div class="ui-grid-cell-contents ui-grid-header-cell-primary-focus table-header-data">
    <span class="ui-grid-header-cell-label">
      <div class="ui-grid-header-cell-title" matToolTip="header.headerTooltip || 'Loading'">{{ header.displayName || 'Loading'}}</div>
      <span *ngIf="header.dataType" style="display: block;">{{ header.dataType || ''}}</span>
    </span>
    <span>
      <i [ngClass]="{'ui-grid-icon-up-dir': header.sort.direction == 'asc', 'ui-grid-icon-down-dir': header.sort.direction == 'desc', 'ui-grid-icon-blank': header.sort.direction == null}"></i>
    </span>
  </div>
  <span *ngIf="domainType" class="kylo-visual-query-table-domain-type">
    <mat-icon [ngStyle]="{'color': domainType.iconColor}" matTooltip="domainType.title">{{ domainType.icon }}</mat-icon>
  </span>
  <button [matMenuTriggerFor]="tableMenu" class="md-icon-button dropDown-button" style="line-height:24px;">
    <mat-icon>arrow_drop_down</mat-icon>
  </button> 
</div>
<mat-menu #tableMenu="matMenu" xPosition="before" yPosition="below" [overlapTrigger]="false">
      <button mat-menu-item (click)="header.delegate.showAnalyzeColumn(header, table)">
        <i class="material-icons dropdown-icons">assessment&nbsp;</i> {{"views.query-table-header.analyze" | translate}}
      </button>
    <mat-divider></mat-divider>
      <button mat-menu-item (click)="header.delegate.renameColumn(header, table)">
        <i class="material-icons dropdown-icons">mode_edit</i> {{"views.query-table-header.rename-column" | translate}}
      </button>
      <button mat-menu-item (click)="header.delegate.hideColumn(header, table)">
        <i class="material-icons dropdown-icons">remove_circle</i> {{"views.query-table-header.hide-column" | translate}}
      </button>
      <button mat-menu-item (click)="header.delegate.cloneColumn(header, table)">
        <i class="material-icons dropdown-icons">content_copy</i> {{"views.query-table-header.clone-column" | translate}}
      </button>

    <button mat-menu-item [matMenuTriggerFor]="availableCastsMenu" *ngIf="availableCasts.length > 0"  >
        <i class="material-icons dropdown-icons">font_download</i> Change type
      </button>
      
    <mat-divider></mat-divider>
      <button mat-menu-item *ngIf="header.sort.direction != 'asc'" (click)="header.delegate.sortColumn('asc', header, table)">
        <i class="ui-grid-icon-sort-alt-up">&nbsp;</i> {{"views.query-table-header.sort-ascending" | translate}}
      </button>
      <button mat-menu-item *ngIf="header.sort.direction != 'desc'" (click)="header.delegate.sortColumn('desc', header, table)">
        <i class="ui-grid-icon-sort-alt-down">&nbsp;</i> {{"views.query-table-header.sort-descending" | translate}}
      </button>

        <button mat-menu-item *ngIf="header.delegate.filters.length !== 0"  >
            <i class="material-icons dropdown-icons">filter_list</i> {{"views.query-table-header.filter" | translate}}
          </button>
    
    <ng-container  *ngIf="header.delegate.transforms.defaults.length !== 0">
         <mat-divider></mat-divider>

        <button mat-menu-item *ngFor="let transform of header.delegate.transforms.defaults" (click)="header.delegate.transformColumn(transform, header, table)">
          <i class="material-icons dropdown-icons" [ngClass]="{'custom-icon': (transform.icon.length === 1)}">{{ transform.icon }}</i> {{ transform.name }}
        </button>
      </ng-container>
      <button mat-menu-item *ngIf="header.delegate.transforms.math.length !== 0"   [matMenuTriggerFor]="mathMenu">
        <i class="material-icons dropdown-icons">transform</i> {{"views.query-table-header.math" | translate}}
         
      </button>

      <button mat-menu-item *ngIf="header.delegate.transforms.format.length !== 0"   [matMenuTriggerFor]="formatMenu">
        <i class="material-icons dropdown-icons">transform</i> {{"views.query-table-header.format" | translate}}   
      </button>

      <button mat-menu-item *ngIf="header.delegate.transforms.replace.length !== 0"   [matMenuTriggerFor]="replaceMenu">
        <i class="material-icons dropdown-icons">transform</i> {{"views.query-table-header.replace" | translate}}
      </button>

      <button mat-menu-item *ngIf="header.delegate.transforms.extract.length !== 0"   [matMenuTriggerFor]="extractMenu">
        <i class="material-icons dropdown-icons">transform</i> {{"views.query-table-header.extract" | translate}}
      </button>

      <button mat-menu-item *ngIf="header.delegate.transforms.ml.length !== 0"   [matMenuTriggerFor]="mlMenu">
        <i class="material-icons dropdown-icons">transform</i> {{"views.query-table-header.ml" | translate}}
      </button>

      <button mat-menu-item *ngIf="header.delegate.transforms.other.length !== 0" [matMenuTriggerFor]="otherMenu">
        <i class="material-icons dropdown-icons">transform</i> {{"views.query-table-header.other" | translate}}
      </button>
</mat-menu>

<mat-menu>
  <div class="visual-query-column-menu visual-query-filter-menu">
    <div mat-menu-item *ngFor="let filter of header.delegate.filters">
      <i class="material-icons dropdown-icons" [ngClass]="{'custom-icon': (filter.icon.length === 1)}">{{ filter.icon }}</i>
      <mat-form-field md-no-float>
        <input matInput placeholder="{{ filter.label }}" type="text" [ngModel]="filter.term" (change)="header.delegate.validateFilter(header,filter, table)" >
      </mat-form-field>
    </div>
    <button mat-menu-item class="md-raised" (click)="header.delegate.applyFilters(header,header.delegate.filters, table)">
      {{"views.query-table-header.filter-apply" | translate}}
    </button>
  </div>
</mat-menu>

<mat-menu #mathMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
  <div class="visual-query-column-menu">
    <ng-container *ngFor="let transform of header.delegate.transforms.math">
      <button mat-menu-item (click)="header.delegate.transformColumn(transform, header, table)">
        <i class="material-icons dropdown-icons" [ngClass]="{'custom-icon': (transform.icon.length === 1)}">{{ transform.icon }}</i> {{ transform.name }}
      </button>
    </ng-container>
  </div>
</mat-menu>

<mat-menu #formatMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
  <div class="visual-query-column-menu">
    <ng-container *ngFor="let transform of header.delegate.transforms.format">
      <button mat-menu-item (click)="header.delegate.transformColumn(transform, header, table)">
        <i class="material-icons dropdown-icons" [ngClass]="{'custom-icon': (transform.icon.length === 1)}">{{ transform.icon }}</i> {{ transform.name }}
      </button>
    </ng-container>
  </div>
</mat-menu>

<mat-menu #replaceMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
  <div class="visual-query-column-menu">
    <ng-container *ngFor="let transform of header.delegate.transforms.replace">
      <button mat-menu-item (click)="header.delegate.transformColumn(transform, header, table)">
        <i class="material-icons dropdown-icons" [ngClass]="{'custom-icon': (transform.icon.length === 1)}">{{ transform.icon }}</i> {{ transform.name }}
      </button>
    </ng-container>
  </div>
</mat-menu>

<mat-menu #extractMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
  <div class="visual-query-column-menu">
    <ng-container *ngFor="let transform of header.delegate.transforms.extract">
      <button mat-menu-item (click)="header.delegate.transformColumn(transform, header, table)">
        <i class="material-icons dropdown-icons" [ngClass]="{'custom-icon': (transform.icon.length === 1)}">{{ transform.icon }}</i> {{ transform.name }}
      </button>
    </ng-container>
  </div>
</mat-menu>

<mat-menu #mlMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
  <div class="visual-query-column-menu">
    <ng-container *ngFor="let transform of header.delegate.transforms.ml">
      <button mat-menu-item (click)="header.delegate.transformColumn(transform, header, table)">
        <i class="material-icons dropdown-icons" [ngClass]="{'custom-icon': (transform.icon.length === 1)}">{{ transform.icon }}</i> {{ transform.name }}
      </button>
    </ng-container>
  </div>
</mat-menu>

<mat-menu #otherMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
  <div class="visual-query-column-menu">
    <ng-container *ngFor="let transform of header.delegate.transforms.other">
      <button mat-menu-item (click)="header.delegate.transformColumn(transform, header, table)">
        <i class="material-icons dropdown-icons" [ngClass]="{'custom-icon': (transform.icon.length === 1)}">{{ transform.icon }}</i> {{ transform.name }}
      </button>
    </ng-container>
  </div>
</mat-menu>

<mat-menu #availableDomainTypesMenu="matMenu">
    <div class="visual-query-column-menu">
        <button mat-menu-item (click)="header.delegate.setDomainType(header, null)"><em>None</em></button>
      <ng-container *ngFor="let domainType of availableDomainTypes">
        <button mat-menu-item (click)="header.delegate.setDomainType(header, domainType.id)">
          <i class="material-icons dropdown-icons" [ngStyle]="{'color':domainType.iconColor}">{{domainType.icon}}</i>
          {{domainType.title}}
        </button>
      </ng-container>
    </div>
  </mat-menu>


<mat-menu #availableCastsMenu="matMenu">
    <div class="visual-query-column-menu">
      <ng-container  *ngFor="let type of availableCasts">
        <button mat-menu-item (click)="header.delegate.castTo(type)">
          <i class="material-icons dropdown-icons" [ngStyle]="{'color':type.iconColor}">{{type.icon}}</i>
          {{type.name}}
        </button>
      </ng-container>
      <mat-divider></mat-divider>
      <button mat-menu-item *ngIf="availableDomainTypes != null && availableDomainTypes.length > 0" [matMenuTriggerFor]="availableDomainTypesMenu">
            <i class="material-icons dropdown-icons">local_offer</i> Other
      </button>
        
    </div>
  </mat-menu>