<vertical-section-layout section-title="Feed Details" on-save-edit="vm.onSave()" on-edit="vm.onEdit()" on-cancel-edit="vm.onCancelEdit()" allow-edit="vm.allowEdit"
                         editable="vm.editableSection" keep-editable-after-save="true">

    <readonly-section>
        <div layout="column">
            <div layout="row" class="layout-padding-top-bottom" ng-if="vm.model.registeredTemplate.dataTransformation == false">
                <span flex="25" class="property-name">Source</span>

                <div flex>
                    {{vm.model.inputProcessor.name}}
                </div>
            </div>

            <div layout="row" class="layout-padding-top-bottom" ng-if="vm.model.registeredTemplate.dataTransformation == true">
                <span flex="25" class="property-name">Query</span>

                <div flex>
                    {{vm.model.dataTransformation.sql}}
                </div>
            </div>

            <div layout="row" ng-repeat="property in vm.model.inputProcessor.properties" class="layout-padding-top-bottom">
                <span flex="25" class="property-name" ng-if="property.key != 'Backoff Period'">{{property.key}}</span>
                <span flex="25" class="property-name" ng-if="property.key == 'Backoff Period'">Source Retention Period</span>

                <div flex>
                    <span ng-if="property.key != 'Backoff Period'">{{property.value}}</span>
                    <span ng-if="property.key == 'Backoff Period'">{{property.value | nifiTimeUnit}}</span>
                </div>
            </div>

            <div layout="column" ng-repeat="processor in vm.model.nonInputProcessors" class="layout-padding-top-bottom">
                <div layout="row" ng-repeat="property in processor.properties" class="layout-padding-top-bottom">
                    <span flex="25" class="property-name">{{property.key}}</span>

                    <div flex>
                        {{property.value}}
                    </div>
                </div>

            </div>
        </div>

    </readonly-section>
    <editable-section>

        <div layout="column">
            <div style="padding-bottom:10px;" ng-if="vm.model.registeredTemplate.dataTransformation == false">
                <div class="md-subhead">Choose a Feed Input</div>
                <div class="layout-padding-indent" style="padding-top:8px;">
                    <md-radio-group ng-model="vm.editModel.inputProcessorId" layout="row">
                        <md-radio-button ng-repeat="inputProcessor in vm.model.inputProcessors" ng-value="inputProcessor.processorId" aria-label="{{inputProcessor.name}}">
                            {{inputProcessor.name}}
                            <div class="hint" ng-if="vm.model.inputProcessor.config.comments != ''">{{vm.inputProcessor.config.comments}}</div>
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>

            <div layout="row" class="layout-padding-top-bottom" ng-if="vm.model.registeredTemplate.dataTransformation == true">
                <span flex="25" class="property-name">Query</span>
            </div>
            <div layout="row">
                <md-button class="md-raised" href="#/edit-feed/{{vm.model.feedId}}" ng-if="vm.model.registeredTemplate.dataTransformation">Edit Query...</md-button>
            </div>

            <div flex ng-if="vm.editModel.inputProcessor != null && (vm.editModel.inputProcessor.feedPropertiesUrl == null || vm.editModel.inputProcessor.feedPropertiesUrl == undefined)">
                <div class="layout-padding-indent">
                    <md-input-container ng-class="{'condensed':property.renderType == 'radio' }" nifi-property-input class="md-block layout-padding-top-bottom" property="property" flex-gt-sm
                                        ng-repeat="property in vm.editModel.inputProcessor.properties " track by property.key/>
                </div>
            </div>

            <div ng-if="vm.editModel.inputProcessor != null && vm.editModel.inputProcessor.feedPropertiesUrl != null">
                <ng-include src="vm.editModel.inputProcessor.feedPropertiesUrl"/>
            </div>

            <div ng-repeat="processor in vm.editModel.nonInputProcessors track by processor.processorId" flex>
                <div class="md-subhead">{{processor.name}}</div>
                <div class="layout-padding-indent">
                    <div ng-repeat="property in processor.properties track by property.key">
                        <md-input-container ng-class="{'condensed':property.renderType == 'radio' }" nifi-property-input property="property" class="md-block layout-padding-top-bottom" flex-gt-sm/>
                    </div>
                </div>

            </div>
        </div>

    </editable-section>
</vertical-section-layout>
