<vertical-section-layout section-title="Feed Definition" on-save-edit="vm.onSave()" on-edit="vm.onEdit()" on-cancel-edit="vm.onCancelEdit()" allow-edit="vm.model.state == 'ENABLED' && vm.allowEdit"
                         editable="vm.editableSection" keep-editable-after-save="true" the-form="vm.editFeedDefinitionForm">

    <readonly-section>
        <div layout="row" class="layout-padding-top-bottom">
            <span flex="25" class="property-name">Feed Name</span>
            <div flex>
                {{vm.model.feedName}}
            </div>
        </div>
        <div layout="row" class="layout-padding-top-bottom">
            <span flex="25" class="property-name">System Name</span>

            <div flex>
                {{vm.model.systemFeedName}}
            </div>
        </div>
        <div layout="row" class="layout-padding-top-bottom">
            <span flex="25" class="property-name">Description</span>

            <div flex>
                {{vm.model.description}}
            </div>
        </div>
        <div layout="row" class="layout-padding-top-bottom">
            <span flex="25" class="property-name">Feed Type</span>

            <div flex>
                {{vm.model.templateName}}
            </div>
        </div>
    </readonly-section>
    <editable-section>
        <ng-form name="vm.editFeedDefinitionForm">
        <div layout="row" layout-align="space-between start">
            <md-input-container flex="45" class="condensed">
                <label>Display Name</label>
                <input required ng-model="vm.editModel.feedName" name="feedName" />

                <div ng-show="vm.editFeedDefinitionForm.feedName.$touched && vm.editFeedDefinitionForm.feedName.$invalid" ng-messages="vm.editFeedDefinitionForm.feedName.$error">
                    <div ng-show="vm.editFeedDefinitionForm.feedName.$error.required" ng-message="required">Required.</div>
                </div>
            </md-input-container>
            <div flex="10"></div>
            <md-input-container flex="45" class="condensed">
                <label>System Name</label>
                <input  readonly ng-model="vm.editModel.systemFeedName"/>
            </md-input-container>
        </div>

        <md-input-container class="md-block condensed">
            <label>Description</label>
            <textarea ng-model="vm.editModel.description"></textarea>
        </md-input-container>
        <md-input-container flex="45" class="condensed">
            <label>Feed Type</label>
            <input  readonly ng-model="vm.model.templateName"/>
        </md-input-container>
        </ng-form>
    </editable-section>
</vertical-section-layout>
