<vertical-section-layout section-title="Data Policies" on-save-edit="vm.onSave()" on-edit="vm.onEdit()" on-cancel-edit="vm.onCancelEdit()" allow-edit="vm.model.state == 'ENABLED'" ng-if="vm.model.registeredTemplate.defineTable">

    <readonly-section>
        <md-list flex layout-fill class="list-item-table list-condensed">

            <md-list-item >
                <div layout="row" layout-fill>
                    <div flex="25" class="md-list-item-text hint">
                        Field Name
                    </div>
                    <div flex="10" class="md-list-item-text hint">
                        Index
                    </div>
                    <div flex="10" class="md-list-item-text hint">
                        Profile
                    </div>
                    <div flex="25" class="md-list-item-text hint">
                        Standardize
                    </div>
                    <div flex="25" class="md-list-item-text hint">
                        Validate
                    </div>
                </div>
            </md-list-item>


            <md-list-item ng-repeat="policy in vm.model.table.fieldPolicies">
                <div layout="row" layout-fill>
                    <div flex="25" class="md-list-item-text">
                        <div>{{policy.name}}</div>
                    </div>
                    <div flex="10" class="md-list-item-text ">
                        <ng-md-icon class="primary-color-1" icon="check_box" ng-if="policy.index" ></ng-md-icon>
                        <ng-md-icon class="primary-color-1" icon="check_box_outline_blank" ng-if="!policy.index"></ng-md-icon>
                    </div>
                    <div flex="10" class="md-list-item-text ">
                        <ng-md-icon class="primary-color-1" icon="check_box" ng-if="policy.profile"></ng-md-icon>
                        <ng-md-icon class="primary-color-1" icon="check_box_outline_blank" ng-if="!policy.profile"></ng-md-icon>
                    </div>
                    <div flex="25" class="md-list-item-text hint">
                            <ul ng-if="policy.standardization != null && policy.standardization.length >0">
                                <li ng-repeat="rule in policy.standardization">{{rule.name}}</li>
                            </ul>
                    </div>
                    <div flex="25" class="md-list-item-text hint">
                        <ul ng-if="policy.validation != null && policy.validation.length >0">
                            <li ng-repeat="rule in policy.validation">{{rule.name}}</li>
                        </ul>
                    </div>
                </div>
                <md-divider ></md-divider>
            </md-list-item>
        </md-list>

        <div layout="row" class="layout-padding-top-bottom" ng-if="vm.model.table.method != 'EXISTING_TABLE'">
            <span flex="25" class="property-name">Merge Strategy</span>

            <div flex layout="column">
                <span>{{vm.model.table.targetMergeStrategy}}</span>
            </div>
        </div>
        <div layout="row" class="layout-padding-top-bottom">
            <span flex="25" class="property-name">Target Format</span>
            <span>{{vm.model.table.targetFormat}}</span>
        </div>

        <div layout="row" class="layout-padding-top-bottom">
            <span flex="25" class="property-name">Compression options</span>
            <span>{{vm.model.table.options.compressionFormat}}</span>
        </div>



        <div layout="row" class="layout-padding-top-bottom">
            <span flex="25" class="property-name">Options</span>

            <div flex layout="row" layout-align="start start" layout-wrap="true">
                <div layout="row">
                    <ng-md-icon class="primary-color-1" icon="check_box" ng-if="vm.model.table.options.auditLogging"></ng-md-icon>
                    <ng-md-icon class="primary-color-1" icon="check_box_outline_blank" ng-if="!vm.model.table.options.auditLogging"></ng-md-icon>
                    <span class="property-name">Audit Logging</span>
                </div>
                <div layout="row" style="padding-left:10px;">
                    <ng-md-icon class="primary-color-1" icon="check_box" ng-if="vm.model.table.options.encrypt"></ng-md-icon>
                    <ng-md-icon class="primary-color-1" icon="check_box_outline_blank" ng-if="!vm.model.table.options.encrypt"></ng-md-icon>
                    <span class="property-name">Encrypt</span>
                </div>
            </div>
        </div>

        <div layout="row" class="layout-padding-top-bottom">
            <span flex="25" class="property-name">Security Groups</span>

            <div flex>
                {{vm.model.table.securityGroups | join: ',':'name'}}
            </div>
        </div>




    </readonly-section>
    <editable-section>
        <md-list flex layout-fill class="list-item-table list-condensed">

            <md-list-item >
                <div layout="row" layout-fill>
                    <div flex="25" class="md-list-item-text hint">
                        Field Name
                    </div>
                    <div flex="10" class="md-list-item-text hint">
                        Index
                    </div>
                    <div flex="10" class="md-list-item-text hint">
                        Profile
                    </div>
                    <div flex="25" class="md-list-item-text hint">
                        Standardize
                    </div>
                    <div flex="25" class="md-list-item-text hint">
                        Validate
                    </div>
                </div>
            </md-list-item>


            <md-list-item ng-repeat="policy in vm.editModel.fieldPolicies">
                <div layout="row" layout-fill>
                    <div flex="25" class="md-list-item-text">
                        <md-input-container class="md-block" flex-gt-sm>
                            <div>{{policy.name}}</div>
                        </md-input-container>
                    </div>
                    <div flex="10" class="md-list-item-text ">
                        <md-input-container class="md-block"  flex-gt-sm>
                            <input type="checkbox" ng-model="policy.index" aria-label="Index"/>
                        </md-input-container>
                    </div>
                    <div flex="10" class="md-list-item-text ">
                        <md-input-container class="md-block"  flex-gt-sm>
                            <input type="checkbox" ng-model="policy.profile" aria-label="Profile"/>
                        </md-input-container>
                    </div>
                    <div flex="25" class="md-list-item-text hint" layout-align="start center">
                        <div ng-click="vm.showFieldRuleDialog(policy,'standardization')" style="color:#2D78B1;">
                            <md-button class="icon-btn" style="padding-left:2px;padding-right:2px;"><ng-md-icon icon="add_circle_outline" style="fill:#2D78B1;"></ng-md-icon></md-button>ADD</div>
                        <div ng-if="policy.standardization != null && policy.standardization.length >0" class="orange" style="padding-left:32px;">
                            {{policy.standardization.length}} Added
                        </div>
                    </div>
                    <div flex="25" class="md-list-item-text hint" layout-align="start center">
                        <div href ng-click="vm.showFieldRuleDialog(policy,'validation')" style="color:#2D78B1;">
                            <md-button class="icon-btn" style="padding-left:2px;padding-right:2px;"><ng-md-icon icon="add_circle_outline" style="fill:#2D78B1;"></ng-md-icon></md-button>ADD</div>
                        <div ng-if="policy.validation != null && policy.validation.length >0" class="orange" style="padding-left:32px;">
                            {{policy.validation.length}} Added
                        </div>
                    </div>
                </div>
                <md-divider ></md-divider>
            </md-list-item>
        </md-list>


        <md-input-container class="md-block layout-padding-top-bottom flex-gt-sm condensed" flex-gt-sm="" style="">
            <label class="label-small md-container-ignore">Merge Strategy</label>
            <md-radio-group ng-model="vm.editModel.table.targetMergeStrategy" layout="row" layout-wrap="true" class="layout-padding-top">
                <md-radio-button ng-repeat="strategy in vm.mergeStrategies"
                                 ng-value="strategy.type"
                                 aria-label="{{strategy.name}}"
                                 ng-disabled="{{strategy.disabled}}">
                    {{strategy.name}}
                    <div class="hint">{{strategy.hint}}</div>
                </md-radio-button>
            </md-radio-group>

        </md-input-container>


        <md-input-container class="md-block layout-padding-top-bottom flex-gt-sm condensed" flex-gt-sm="" style="" >
            <label class="label-small md-container-ignore">Target Format</label>
            <md-select ng-model="vm.editModel.table.targetFormat" disabled="true">
                <md-option ng-repeat="opt in vm.targetFormatOptions" ng-value="opt.value">
                    {{opt.label}}
                </md-option>
            </md-select>
        </md-input-container>


        <md-input-container class="md-block layout-padding-top-bottom flex-gt-sm condensed" flex-gt-sm="" style="" >
            <label class="label-small md-container-ignore">Compression options</label>
            <md-select ng-model="vm.editModel.table.options.compressionFormat" disabled="true">
                <md-option ng-repeat="opt in vm.compressionOptions track by $index" ng-value="opt">
                    {{opt}}
                </md-option>
            </md-select>
        </md-input-container>



        <md-input-container class="md-block layout-padding-top-bottom condensed" style="padding-left:0px;padding-right:0px;">
            <label class="label-small md-container-ignore">Options</label>
            <div layout="row" class="layout-padding-top ">
                <md-checkbox  ng-model="vm.editModel.table.options.auditLogging" aria-label="Audit Logging">
                    Audit Logging
                </md-checkbox>
                <md-checkbox  ng-model="vm.editModel.table.options.encrypt" aria-label="Encrypt">
                    Encrypt
                </md-checkbox>
            </div>
        </md-input-container>

        <md-input-container class="md-block layout-padding-top-bottom flex-gt-sm condensed" flex-gt-sm="" style="">
            <label class="label-small md-container-ignore">Security Groups</label>
            <md-chips ng-model="vm.editModel.table.securityGroups" md-autocomplete-snap
                      md-transform-chip="vm.transformChip($chip)"
                      md-require-match="true" class="layout-padding-top-bottom">
                <md-autocomplete
                        md-min-length="0"
                        md-selected-item="vm.securityGroupChips.selectedItem"
                        md-search-text="vm.securityGroupChips.searchText"
                        md-items="item in vm.feedSecurityGroups.querySearch(vm.securityGroupChips.searchText)"
                        md-item-text="item.name"
                        placeholder="Add a Security Group">
                    <span md-highlight-text="vm.securityGroupChips.searchText">{{item.name}}</span>
                </md-autocomplete>
                <md-chip-template>
                            <span>
                              <strong>{{$chip.name}}</strong>
                            </span>
                </md-chip-template>
            </md-chips>
        </md-input-container>

        </editable-section>

</vertical-section-layout>