<mat-card>
  <mat-card-title>
    <div layout="row" layout-align="space-between-center" flex>
      <div class="card-title" flex>{{'FEEDMGR.TEMPLATES.STEPPER.ACCESS_CONTROL' | translate}}</div>
      <h2 class="card-sub-header" [translate]="'FEEDMGR.TEMPLATES.STEPPER.SELECT.COUNTER'" [translateParams]="{before : 4, after: 5}"></h2>
    </div>
  </mat-card-title>

  <mat-card-content class="md-padding">

  <form [formGroup]="templateAccessControlForm">

    <entity-access-control-ng2 [entity]="model" entityType="template" [parentForm]="templateAccessControlForm" [readOnly]="!allowEdit"></entity-access-control-ng2>
    <br/><br/><br/>

    <div style="display: flex; justify-content: space-between;">
      <button mat-button matStepperPrevious (click)="stepper.previous()">{{'views.step-buttons.Previous-btn' | translate}}</button>
      <button mat-button matStepperNext (click)="stepper.next()">{{'views.step-buttons.Continue-btn' | translate}}  5</button>
    </div>

  </form>

  </mat-card-content>
</mat-card>
