<mat-card>
  <mat-card-title>
    <div layout="row" layout-align="space-between-center" flex>
      <div class="card-title" flex>Access Control</div>
      <h2 class="card-sub-header">4 of 5</h2>
    </div>
  </mat-card-title>

  <mat-card-content class="md-padding">

  <form #templateAccessControlForm=ngForm name="templateAccessControlForm">

    <entity-access-control [entity]="model" entityType="template" [theForm]="templateAccessControlForm" [readOnly]="!allowEdit"></entity-access-control>
    <br/><br/><br/>

  </form>

  </mat-card-content>
</mat-card>