:host ::ng-deep td-data-table .td-data-table-cell-content-wrapper > span {
  overflow:hidden; text-overflow: ellipsis; white-space: nowrap;
}


::ng-deep dataset-simple-table .td-data-table-scrollable {
  overflow-x: auto!important;
}