.dataset-list {
border-right:2px solid #607D8B;
}

.selected-dataset {
  background-color:#CCC;
}

.removed-dataset {
  text-decoration: line-through;
  background-color:lightgrey;
}
.dataset-simple-table {
  width:100%;
  overflow: scroll;
}