<form fxLayout="column" fxLayoutAlign="start start">

  <div fxLayout="row" fxLayoutAlign="space-between start" fxFill>
    <div  fxLayout="row" *ngIf="datasets != undefined" fxFill>

    <div fxFlex="200px" class="dataset-list">

      <mat-nav-list dense >
        <h3 matSubheader>Data sets</h3>
        <ng-container *ngFor="let dataset of datasets">
        <mat-list-item  (click)="onDatasetSelected(dataset.key)"  [ngClass]="{'selected-dataset': dataset.key == selectedDataSet.key}">

          <h3 matLine [class.strike]="!dataset.isCollected()">{{dataset.displayKey}}</h3>
          <p mat-line [class.strike]="!dataset.isCollected()"> {{dataset.mimeType}} </p>
          <span></span>
          <td-notification-count color="accent" [notifications]="dataset.items.length">
          </td-notification-count>
          <button mat-icon-button  *ngIf="showRemoveFromCollectionButton(dataset)" (click)="removeFromCollection(dataset)"><mat-icon>remove</mat-icon></button>
          <mat-icon color="accent" *ngIf="!editable && dataset.isCollected()">check</mat-icon>

        </mat-list-item>
          <mat-divider [inset]="true"></mat-divider>
        </ng-container>

      </mat-nav-list>


    </div>
      <div  fxFlex fxLayout="column" fxLayoutAlign="start start">
        <div fxLayout="column"  *ngIf="selectedDataSet">

          <mat-progress-bar mode="indeterminate" *ngIf="selectedDataSet.loading"></mat-progress-bar>
          <mat-tab-group dynamicHeight>
            <mat-tab label="Data">

                <div *ngIf="message" class="pad-top pad-bottom">
                  <mat-icon>warning</mat-icon> {{message}}
                </div>

                <div *ngIf="selectedDataSet.hasPreviewError()" fxLayout="column">
                  <p>
                    <mat-icon>warning</mat-icon> {{selectedDataSet.message}}
                  </p>

                  <div class="pad-left">
                    <button mat-raised-button (click)="openSchemaParseSettingsDialog()">Settings</button>
                  </div>

                  <dataset-simple-table [(columns)]="selectedDataSet.raw.columns" [rows]="selectedDataSet.raw.rows" *ngIf="selectedDataSetViewRaw == true && selectedDataSet.hasRaw()"></dataset-simple-table>
                </div>

                <div *ngIf="!selectedDataSet.hasPreviewError()" fxLayout="column">

                  <div fxLayout="row" fxLayoutAlign="start center" *ngIf="selectedDataSet.allowsRawView">

                    <span fxFlex="5" ></span>

                    <mat-slide-toggle [checked]="selectedDataSetViewRaw" (change)="onToggleRaw()">View Raw
                    </mat-slide-toggle>

                    <span fxFlex="5" ></span>

                    <button mat-raised-button (click)="openSchemaParseSettingsDialog()">Settings</button>

                    <span fxFlex="5" ></span>

                    <button mat-raised-button   *ngIf="showAddToCollectionButton(selectedDataSet)"  (click)="addToCollection(selectedDataSet)"><mat-icon>add</mat-icon>{{addToCollectionButtonName}}</button>
                    <button mat-raised-button  *ngIf="showRemoveFromCollectionButton(selectedDataSet)" (click)="removeFromCollection(selectedDataSet)"><mat-icon>remove</mat-icon>{{removeFromCollectionButtonName}}</button>

                  </div>


                  <dataset-simple-table [columns]="selectedDataSet.raw.columns" [rows]="selectedDataSet.raw.rows" *ngIf="selectedDataSetViewRaw == true && selectedDataSet.hasRaw()"></dataset-simple-table>

                  <dataset-simple-table [(columns)]="selectedDataSet.preview.columns" [rows]="selectedDataSet.preview.rows" *ngIf="selectedDataSetViewRaw == false && selectedDataSet.hasPreview()"></dataset-simple-table>

                </div>

            </mat-tab>

            <mat-tab label="Schema">

              <dataset-schema-definition  [(columns)]="selectedDataSet.schema"></dataset-schema-definition>

            </mat-tab>



          </mat-tab-group>

        </div>
      </div>

        <!--
        <kylo-visual-query-transform
        <thinkbig-visual-query-transform engine="vm.coreDataModel.engine" height-offset="64" model="vm.coreDataModel.model" step-index="1" ng-if="vm.selectedStepIndex == 1 || vm.isStepVisited(1)">
        </thinkbig-visual-query-transform>
        -->


    </div>
</div>

</form>
