<h1 mat-dialog-title>Schema Parse Settings</h1>
<div fxLayout="column" mat-dialog-content>

  <inline-field-policy-form  [showAdvancedOptions]="false" [expandAdvancedOptions]="true"
                             [(selectedPolicyRule)]="selectedParser" policyParameter="sparkSchemaParser"  [defaultValue]="'XML'" selectLabel="FileParser" ></inline-field-policy-form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="apply()" cdkFocusInitial>Apply</button>
</div>