
<mat-card class="md-padding">
  <mat-tab-group md-dynamic-height md-border-bottom>
    <mat-tab id="jcr-query" label="Jcr Query">
        <div layout-padding>
          <div layout="row" layout-align="space-between">
            <span class="mat-title">{{"views.common.executeQ" | translate}}</span>
            <div>
              <mat-input-container *ngIf="previousQueries.length >0">
                <label>{{"views.common.previousQ" | translate}}</label>
                <mat-select [(ngModel)]="previousQuery" (change)="changePreviousQuery()" >
                  <mat-option *ngFor="let q of previousQueries">
                    {{q }}
                  </mat-option>
                </mat-select>
              </mat-input-container>
            </div>
        </div>
        <codemirror [config]="codemirrorOptions" [(ngModel)]="sql"></codemirror>
        <button mat-button class="md-primary md-raised" [disabled]="loading" (click)="executeQuery()">
          {{"views.common.executeQ" | translate}}
        </button>
        <mat-progress-linear [mode]="indeterminate" *ngIf="loading"></mat-progress-linear>
        <div class="browse-results" *ngIf="loading == false ">
          <span *ngIf="queryTime != null" class="md-subhead"
                [translate]="'ADMIN.jcrquery.query.return'" [translateParams]="{resultSize : resultSize, queryTime:queryTime}"></span><!--| timeWithMillis -->
          <div *ngIf="!loading && queryExecuted" style="width:100%;height:500px;">
            <td-data-table
                [data]="tableData"
                [columns]="gridOptions"
                [sortable]= "true"
                [resizableColumns]="true">
            </td-data-table>
          </div>
        </div>
          <div layout="column" *ngIf="explainPlan != null">
            <div class="md-subhead">{{"ADMIN.jcrquery.explain.plan" | translate}}</div>
            <div style="white-space: pre-wrap;">{{explainPlan}}</div>
          </div>
        </div>
    </mat-tab>
    <mat-tab id="jcr-indexes" label="Jcr indexes">
        <div layout="column" layout-padding>
          <div layout="row" layout-align="space-between">
            <div class="mat-title">{{indexes.length}} {{"ADMIN.jcrquery.existing.indexes" | translate}}</div>
            <button mat-button class="md-primary md-raised"  (click)="reindex()">
              {{"ADMIN.jcrquery.reindex" | translate}}
            </button>
          </div>
        </div>
        <filtered-paginated-table-view 
              [filteredData]="filteredData"
              [columns]="indexColumns"
              [clickable]="false"
              [sortable]="true"
              [sortOrder]="sortOrder"
              [sortBy]="sortBy"
              [firstLast]="false"
              [pageSize]="pageSize"
              [filteredTotal]="filteredTotal"
              [showToolbar]="false"
              [allowedPageSize]="[5,10,20,50]"
              (sortChanged)="sort($event)"
              (pageSizeChanged)="onPageSizeChange($event)"
          >
              <ng-template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
                  <div layout="row">
                    <mat-button class="icon-btn md-icon-button auto-height" (click)="unregisterIndex(row.indexName)">
                      <mat-icon class="ng-md-icon" size="20" >delete</mat-icon>
                    </mat-button>
                  </div>
              </ng-template>
          </filtered-paginated-table-view>

        <div layout="column">
          <form #indexForm="ngForm" name="indexForm" layout="column">
          <span class="mat-title">{{"ADMIN.jcrquery.add.index" | translate}}</span>
          <mat-input-container>
            <label>{{"ADMIN.jcrquery.index.name" | translate}}</label>
            <input matInput name="indexName" [(ngModel)]="index.indexName" required>
          </mat-input-container>

            <mat-input-container>
              <label>{{"ADMIN.jcrquery.kind" | translate}}</label>
              <mat-select name="indexKind" [(ngModel)]="index.indexKind">
                <mat-option *ngFor="let kind of indexKinds" ng-value="kind">
                  {{kind}}
                </mat-option>
              </mat-select>
            </mat-input-container>

          <mat-input-container>
            <label>{{"ADMIN.jcrquery.index.node.type" | translate}}</label>
            <input matInput name="nodeType" [(ngModel)]="index.nodeType" required>
          </mat-input-container>

          <mat-input-container>
            <label>{{"ADMIN.jcrquery.property.name" | translate}}</label>
            <input matInput name="propertyName" [(ngModel)]="index.propertyName" required>
          </mat-input-container>

            <mat-input-container>
              <label>{{"ADMIN.jcrquery.property.type" | translate}}</label>
              <mat-select name="propertyType" [(ngModel)]="index.propertyType">
                 <mat-option *ngFor="let type of propertyTypes" ng-value="type.value">
                  {{type.name}}
                </mat-option>
              </mat-select>
            </mat-input-container>
            <div flex="50">
              <button mat-button class="md-primary md-raised" [disabled]="loading" (click)="registerIndex() ">
                {{"ADMIN.jcrquery.register.index" | translate}}
              </button>
            </div>
          </form>


        </div>
    </mat-tab>

  </mat-tab-group>
</mat-card>



