<div class="jcr-sql-editor" ui-codemirror ng-model="vm.sql" ui-codemirror-opts="vm.codemirrorOptions">
</div>
<md-button class="md-primary md-raised" ng-disabled="vm.loading" ng-click="vm.executeQuery()">
  Execute Query
</md-button>
<md-progress-linear md-mode="indeterminate" ng-if="vm.loading"></md-progress-linear>
<div class="browse-results" ng-if="vm.loading == false">
<span>The query took: {{vm.queryTime | time}} </span>
  <div ui-grid-auto-resize  style="width:100%;height:500px;"
       ui-grid="vm.gridOptions"
  ></div>
</div>