<div style="white-space: nowrap;margin-top:6px;" class="card-title">{{cardTitle | translate}}</div>
<span class="flex-5"></span>
<div *ngIf="customFilterTemplate != ''" >
  <div ng-include="customFilterTemplate" onload="ctl = cardController"></div>
</div>
<span class="flex-5" *ngIf="customFilterTemplate != ''"></span>

<div class="md-input-container flex md-kylo-theme" style="margin-top:0px;margin-bottom:0px;" *ngIf="renderFilter">
  <label></label>
  <input [(ngModel)]="filterModel" [ngModelOptions]="filterModelOptions" (change)="changeFilter(filterModel)" 
          class="ng-pristine ng-untouched ng-valid md-input ng-empty" placeholder='{{"views.card-filter-header-template.Filter" | translate}}'/>
</div>
<div layout="row" layout-align="space-between center" class="layout-align-space-between-center layout-row" *ngIf="renderFilter">
  <button md-butto aria-label="Filter Help" class="md-icon-button filter-help-button" (click)="showFilterHelpPanel($event)" *ngIf="renderHelp">
  <mat-icon md-icon size="15" style="color:grey;">help</mat-icon>
  </button>
  <tba-view-type-selection [viewType]="viewType" (viewTypeChange)="onViewTypeChange($event)" style="margin-left:10px;"></tba-view-type-selection>
  <tba-options-menu [sortOptions]="sortOptions" showPagination="false" [menuKey]="pageName" [selectedOption]="selectedOption"
                [openedMenu]="menuOpen" [additionalOptions]="additionalOptions" [selectedAdditionalOption]="selectedAdditionalOption"
                showViewType="false" menuIcon="more_vert"></tba-options-menu>
</div>
 
