<form #myForm name="form">
  <vertical-section-layout section-title="Patterns" (on-save-edit)="onSave()" (on-edit)="onEdit()" (on-cancel-edit)="onCancel()" 
                          [editable]="isEditable" [isValid]="myForm.$valid" [allowEdit]="allowEdit">
    <readonly-section>
      <div layout="row" class="layout-padding-top-bottom">
        <span flex="25" class="property-name">Column Name</span>
        <regexp-editor flex name="columnNameValue" [model]="columnNameValue" ngDefaultControl readonly></regexp-editor>
      </div>

      <div layout="row" class="layout-padding-top-bottom">
        <span flex="25" class="property-name">Sample Values</span>
        <regexp-editor flex name="sampleDataValue" [model]="sampleDataValue" ngDefaultControl readonly></regexp-editor>
      </div>
    </readonly-section>
    <editable-section>
      <p style="margin: 0 0 32px 0;">This domain type will be automatically applied to columns of new feeds if those columns match the regular expressions below:</p>

      <div class="md-block">
        <mat-label style="color: rgba(0,0,0,0.54); transform: translate3d(0,6px,0) scale(.75);">Column Name</mat-label>
        <regexp-editor flex name="columnNameRegex" [(model)]="columnNameEditValue" (on-syntax-error)="columnNameSyntaxError = error" ngDefaultControl></regexp-editor>
        <!-- <div ng-messages="form.columnNameRegex.$error" md-auto-hide="false">
          <div ng-message="syntaxError">{{columnNameSyntaxError}}</div>
        </div> -->
      </div>

      <div class="md-block">
        <mat-label style="color: rgba(0,0,0,0.54); transform: translate3d(0,6px,0) scale(.75);">Sample Values</mat-label>
        <regexp-editor flex name="sampleDataRegex" [(model)]="sampleDataEditValue" (on-syntax-error)="sampleDataSyntaxError = error" ngDefaultControl></regexp-editor>
        <!-- <div ng-messages="form.sampleDataRegex.$error" md-auto-hide="false">
          <div ng-message="syntaxError">{{sampleDataSyntaxError}}</div>
        </div> -->
      </div>
    </editable-section>
  </vertical-section-layout>
</form>
