<form #myForm name="form">
  <vertical-section-layout section-title="Patterns" (on-save-edit)="onSave()" (on-edit)="onEdit()" (on-cancel-edit)="onCancel()" 
                          [editable]="isEditable" [isValid]="myForm.$valid" [allowEdit]="allowEdit">
    <readonly-section>
      <div layout="row" class="layout-padding-top-bottom">
        <span flex="25" class="property-name">{{"FEED_MGR.DOMAIN_TYPES.DETAILS.MATCHERS.COLUMN_NAME" | translate}}</span>
        <regexp-editor style="border: 1px solid gray;" flex name="columnNameValue" [model]="columnNameValue" ngDefaultControl readonly></regexp-editor>
      </div>

      <div layout="row" class="layout-padding-top-bottom">
        <span flex="25" class="property-name">{{"FEED_MGR.DOMAIN_TYPES.DETAILS.MATCHERS.SAMPLE_VALUES" | translate}}</span>
        <regexp-editor style="border: 1px solid gray; max-width: 650px;" flex name="sampleDataValue" [model]="sampleDataValue" ngDefaultControl readonly></regexp-editor>
      </div>
    </readonly-section>
    <editable-section>
      <p style="margin: 0 0 32px 0;">{{"FEED_MGR.DOMAIN_TYPES.DETAILS.MATCHERS.DESCRIPTION" | translate}}</p>

      <div class="md-block">
        <mat-label style="color: rgba(0,0,0,0.54); transform: translate3d(0,6px,0) scale(.75);">{{"FEED_MGR.DOMAIN_TYPES.DETAILS.MATCHERS.COLUMN_NAME" | translate}}</mat-label>
        <regexp-editor flex [(model)]="columnNameEditValue" (on-syntax-error)="columnNameSyntaxError = $event" ngDefaultControl></regexp-editor>
        <!-- <div ng-messages="form.columnNameRegex.$error" md-auto-hide="false">
          <div ng-message="syntaxError">{{columnNameSyntaxError}}</div>
        </div> -->
      </div>

      <div class="md-block">
        <mat-label style="color: rgba(0,0,0,0.54); transform: translate3d(0,6px,0) scale(.75);">{{"FEED_MGR.DOMAIN_TYPES.DETAILS.MATCHERS.SAMPLE_VALUES" | translate}}</mat-label>
        <regexp-editor flex [(model)]="sampleDataEditValue" (on-syntax-error)="sampleDataSyntaxError = $event" ngDefaultControl></regexp-editor>
        <!-- <div ng-messages="form.sampleDataRegex.$error" md-auto-hide="false">
          <div ng-message="syntaxError">{{sampleDataSyntaxError}}</div>
        </div> -->
      </div>
    </editable-section>
  </vertical-section-layout>
</form>
