<div  flex style="width:100%" >

    <div flex class="md-padding " layout-align="start start" >
        <div layout="column" flex layout-fill layout-align="center center">
            <div class="item-title">{{'FEEDMGR.TEMPLATES.IMPORT.CHOOSE_METHOD' | translate}}</div>
        </div>
        <div layout="column" flex layout-fill layout-align="center center">
            <mat-card style="width:450px;max-width:450px;max-height:121px;height:121px" *ngFor="let method of registrationMethods" flex="initial" flex-md="initial" flex-sm="50" (click)="method.onClick()">
                <mat-card-title>
                    <mat-card-title-text>
                        <span style="font-size: 20px;font-weight:400;letter-spacing: .005em;">{{method.name}}</span>
                    </mat-card-title-text>
                </mat-card-title>
                <mat-card-content>
                    <div style="word-wrap:break-word;">{{method.description | truncate:100}}</div>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>
