<mat-card>
        <mat-card-content>
<div>
        <div fxLayout="row" >
                <nav mat-tab-nav-bar>
                        <a *ngFor="let tab of tabs" mat-tab-link (click)=onTabClicked(tab)
                           [disabled]="isDisabled(tab)"
                        >{{tab.label}}</a>
                </nav>
        </div>

        <remote-files [datasource]="datasource" [useRouterStates]="false" [params]="params"  *ngIf="selectedTab && selectedTab.sref =='.browse'"   ></remote-files>
        <preview-schema [paths]="paths" [datasource]="datasource" *ngIf="selectedTab && selectedTab.sref =='.preview'" [editable]="!feed.readonly" [autoCollect]="true" addToCollectionButtonName="Select as source"  removeFromCollectionButtonName="Remove source" (customDatasetAddition)="onDatasetAdd($event)" (customDatasetRemoval)="onDatasetRemoval($event)"></preview-schema>

</div>
        </mat-card-content>
</mat-card>