<mat-card class="mat-typography">
  <mat-card-header>
    <mat-card-title>{{datasource.title}}</mat-card-title>
    <span fxFlex></span>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" *ngIf="!feed.readonly">
      <form  fxFlex="1 1 auto" fxLayout="column">
        <remote-files [fileRowTemplate]="fileRowTemplate" [datasource]="datasource" [useRouterStates]="false" [params]="params" >
        </remote-files>
      </form>
    </div>

    <div *ngIf="feed.readonly" fxLayout="column" >
      No source(s) has been selected for this feed.
    </div>

  </mat-card-content>
  <mat-card-actions *ngIf="!feed.readonly">
    <button mat-button (click)="onCancel()">Cancel</button>
    <span fxFlex></span>
    <button mat-button color="primary"(click)="onSave()" >Save</button>
  </mat-card-actions>
</mat-card>

<ng-template #toolbarActionTemplate>
  <dataset-collection-preview-cart ></dataset-collection-preview-cart>
</ng-template>

<ng-template #fileRowTemplate let-file="file" let-columns="columns"  let-parent="parent">

        <td td-data-table-cell>
              <button mat-button *ngIf="!parent.isSelectChildDisabled(file.name) && !parent.isChildSelected(file.name)" (click)="addDataSet($event,file,parent)">{{addDataSetButtonText}} </button>
              <button mat-button *ngIf="!parent.isSelectChildDisabled(file.name) && parent.isChildSelected(file.name)" (click)="removeDataSet($event,file,parent)">Remove </button>
              <button mat-button *ngIf="!parent.isSelectChildDisabled(file.name)" (click)="preview(file)">Preview </button>
          <td-notification-count *ngIf="parent.numberOfSelectedDescendants(file.name) > 0" color="accent" [notifications]="parent.numberOfSelectedDescendants(file.name)"
                                 [positionX]="after" [positionY]="bottom" style="margin-top: -15px; margin-left: -3px; margin-right: -30px; min-height: 0; min-width: 0"></td-notification-count>

        </td>
        <td td-data-table-cell *ngFor="let column of columns"
            [numeric]="column.numeric" [width]="column.width" (click)="parent.rowClick(file)">

                <div class="cell-content">
                        <span class="cell-icon" *ngIf="column.icon"><ng-md-icon [icon]="file.getIcon(column)"></ng-md-icon></span>
                        <span class="cell-value" *ngIf="!column.icon">{{column.format ? column.format(file[column.name]) : file[column.name]}}</span>
                </div>
        </td>
</ng-template>

