.source-sample-container {

}


.feed-card.source-sample-card .mat-card-content {
  padding-top:0px !important;
}

::ng-deep dataset-preview-stepper  .mat-horizontal-stepper-header {
  height:32px !important;
}

.mat-form-field-width {
  width:800px;
}
.property-heading{
  padding-left:0px !important;
}