<define-feed-step-card [feed]="feed" [step]="step" [singleCardView]="false" [displayEditActions]="false">
  <feed-step-custom-content>
    <form class="source-sample-container" [formGroup]="sourceForm">
      <mat-card class="feed-card source-sample-card" fxFlex>
        <mat-card-header>
          <mat-card-title>Source</mat-card-title>
          <mat-card-subtitle>Choose a source to help build the target schema</mat-card-subtitle>
          <span fxFlex></span>
        </mat-card-header>
        <mat-card-content class="pad-top-none ">
          <define-feed-step-source-sample [showSkipSourceButton]="showSkipSourceButton" [(showCatalog)]="showCatalog" (previewSaved)="onSampleSourceSaved($event)"  [feed]="feed" [step]="step"></define-feed-step-source-sample>
        </mat-card-content>

      </mat-card>

    </form>
    <mat-card class="feed-card" fxFlex *ngIf="!showCatalog">
      <mat-card-header>
        <mat-card-title>Source Location</mat-card-title>
        <mat-card-subtitle>Modify the source location</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="sourcePropertiesForm">
          <feed-nifi-properties #feedNifiPropertiesComponent [feed]="feed" [step]="step" [formGroup]="sourcePropertiesForm" mode="INPUT"  *ngIf="!showCatalog"></feed-nifi-properties>
        </form>
      </mat-card-content>
      <mat-card-actions *ngIf="!feed.readonly && !showCatalog">
        <button mat-button (click)="onCancelEdit()">Cancel</button>
        <button mat-raised-button color="accent" (click)="onSave()">Save</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="feed-card">
      <mat-card-header>
        <mat-card-title>Advanced Options</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row">
          <div class="layout-padding-indent-20">
            <mat-form-field class="mat-form-field-width">
              <textarea matInput placeholder="Raw Storage Format" [(ngModel)]="feed.table.feedFormat" [disabled]="feed.readonly"></textarea>
            </mat-form-field>
            <div class="hint">Specify the storage format clause for feed Hive table</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>




  </feed-step-custom-content>
</define-feed-step-card>

<!--
<ng-template #toolbarActionTemplate>
  <div *ngIf="!feed.readonly">
    <button mat-button (click)="onCancelEdit()">Cancel</button>
    <button mat-raised-button color="accent" (click)="onSave()">Save</button>
  </div>
</ng-template>
-->