<button md-button aria-label="Options" class="md-icon-button md-button md-kylo-theme md-ink-ripple" style="margin-top:-10px" [matMenuTriggerFor]="menu" (click)="openMenu($mdOpenMenu, $event)">
    <mat-icon>{{menuIcon}}</mat-icon>
</button>
<mat-menu class="options-menu md-menu-content width-3 md-kylo-theme" #menu style="min-width: 192px">
        <div class="md-menu-item" *ngIf="showPagination == true" >
            <div md-input-container>
                <label>{{"views.all-page.Rows_per_page" | translate}}</label>
                <mat-select class="" [(ngModel)]="paginationData.rowsPerPage">
                    <mat-option *ngFor="let x of paginationData.rowsPerPageOptions" [value]="x">
                        {{ x }}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="md-menu-item md-menu-item-header" *ngIf="showViewType == true">
            <span md-menu-align-target  class="md-subheader md-menu-item-header">{{'options.menu.view' | translate}}</span>
        </div>
        <div class="md-menu-item" layout="column" *ngIf="showViewType == true">
            <button class="md-button md-kylo-theme md-ink-ripple" (click)="selectOption(viewType)" md-prevent-menu-close="md-prevent-menu-close">
                <span style="float:left;">{{viewType.label}}</span>
                <span style="float:right;">
                    <mat-icon class="ng-md-icon">{{viewType.icon}}</mat-icon>
                </span>
            </button>
        </div>
        <div class="md-menu-item md-menu-item-header">
            <span md-menu-align-target  class="md-subheader md-menu-item-header"> {{"views.options-menu-template.SO" | translate}}</span>
        </div>
        <div *ngFor="let item of sortOptions" layout="column" class="md-menu-item layout-column">
            <button class="md-button md-kylo-theme md-ink-ripple" (click)="selectOption(item)" md-prevent-menu-close="md-prevent-menu-close">
                <span style="float:left;">{{item.label}}</span>
                <span  *ngIf="item.icon && item.icon != ''" style="float:right;">
                    <mat-icon class="ng-md-icon">{{item.icon}}</mat-icon>
                </span>
            </button>
        </div>
        <mat-divider *ngIf="additionalOptions && additionalOptions.length > 0"></mat-divider>
        <div class="md-menu-item" *ngIf="additionalOptions && additionalOptions.length > 0">
            <div *ngFor="let item of additionalOptions" [class]="{'md-menu-item-header': item.header}">
                <span md-menu-align-target class="md-subheader md-menu-item-header" *ngIf="item.header">{{item.label}}</span>
                <button class="md-button md-kylo-theme md-ink-ripple" (click)="selectAdditionalOption(item)" md-prevent-menu-close="md-prevent-menu-close" *ngIf="!item.header" [disabled]="item.disabled">
                    <span style="float:left;">{{item.label}}</span>
                    <span *ngIf="item.icon && item.icon != ''" style="float:right;">
                        <mat-icon class="ng-md-icon">
                            {{item.icon}}
                        </mat-icon>
                    </span>
                </button>
            </div>
        </div>
</mat-menu>