thinkbig-visual-query-transform {
  // Sidebar
  md-sidenav.md-locked-open:not(.collapsed) {
    $width: 257px;
    max-width: $width;
    min-width: $width;
    width: $width;
  }

  // Toolbars
  md-toolbar.md-kylo-theme:not(.md-menu-toolbar) {
    background-color: #f5f5f5;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .87);
    padding: 0 16px;
    width: 100%;
    z-index: 1;
  }

  // Formula bar
  .formula-editor {
    font-size: 14px;
    letter-spacing: normal;
  }

  // Function history
  .visual-query-function-history md-list-item {
    > md-icon:first-child {
      margin-right: 16px;
    }

    > p {
      /*margin-right: 40px;*/
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    > button.md-button.md-secondary-container.md-icon-button {
      margin-right: -22px;
    }
  }

  // Sample menu
  .visual-query-sample-menu {
    background-color: white;
    border: 1px solid grey;
    left: 114px;
    min-width: 300px;
    padding: 0 16px 12px 16px;
    position: absolute;
    top: 0;
    transition: all linear 0.2s;
    z-index: 9999;
  }

  .visual-query-sample-menu.ng-hide {
    opacity: 0;
  }

  // Visual Query Table
  visual-query-table {
    position: absolute;
    top: 0;

    .fattable-viewport > div {
      border-bottom: 1px solid rgba(0, 0, 0, .24);
      padding: 0 28px;
      vertical-align: middle;
    }

    .fattable-header-container .fattable-viewport {
      > div {
        color: rgba(0, 0, 0, .54);
        letter-spacing: .02em;
        white-space: nowrap;
      }
      > div:first-child {
        padding-left: 24px;
        padding-right: 0;
      }
    }

    .fattable-body-container .fattable-viewport > div {
      letter-spacing: .01em;
    }
  }
}
