@import "../../../../../../../../node_modules/@angular/material/theming";

thinkbig-visual-query-transform {


  // Sidebar
  md-sidenav.md-locked-open:not(.collapsed) {
    $width: 257px;
    max-width: $width;
    min-width: $width;
    width: $width;
  }

  // Toolbars
  md-toolbar.md-kylo-theme:not(.md-menu-toolbar) {
    background-color: #f5f5f5;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .87);
    padding: 0 16px;
    width: 100%;
    z-index: 1;
  }
  .formula-editor {
    font-size: 14px;
    letter-spacing: normal;
  }

  .visual-query-function-history md-list-item > md-icon:first-child {
    margin-right: 16px;
  }

  .visual-query-function-history md-list-item > p {
    /*margin-right: 40px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .visual-query-function-history md-list-item > button.md-button.md-secondary-container.md-icon-button {
    margin-right: -22px;
  }

  .visual-query-sample-menu {
    background-color: white;
    border: 1px solid grey;
    left: 114px;
    min-width: 300px;
    padding: 0 16px 12px 16px;
    position: absolute;
    top: 0;
    transition: all linear 0.2s;
    z-index: 9999;
  }

  .visual-query-sample-menu.ng-hide {
    opacity: 0;
  }

  thinkbig-step-buttons {
    padding-bottom: 0;
    padding-left: inherit;
    padding-right: 0;
    padding-top: 0;
  }

  visual-query-table {
    position: absolute;
    top: 0;

    .fattable-viewport > div {
      padding: 0px 5px 0px 0px;
      text-overflow: ellipsis;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      font-size: 13px;
      border-bottom: 1px solid rgb(230, 230, 230);
      border-right: 1px solid rgb(230, 230, 230);
    }

    .fattable-viewport > div.odd {
      background-color: rgb(245, 245, 245);
    }

    .fattable-viewport > div.odd {
      background-color: rgba(0,0,0, 0.01);
    }

    .fattable-viewport > div.invalid, div.invalidinvalid {
      background-color: #ffcdd2 !important;
    }

    .fattable-viewport > div.null {
      background-color: #f5f5f5;
    }
    .fattable-viewport > div.selected {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
    .fattable-header-container .fattable-viewport > div {
      font-size: 13px;
      color: rgba(0, 0, 0, 0.54);
      letter-spacing: .02em;
      white-space: nowrap;
      border-right: 1px solid lightgray;
    }
    .fattable-header-container .fattable-viewport > div:first-child {
      padding-left: 24px;
      padding-right: 0;
    }
    .fattable-body-container .fattable-viewport > div {
      letter-spacing: .01em;
    }
    .kylo-visual-query-table-domain-type {
      line-height: inherit;
      position: absolute;
      right: 46px;
      top: 1px;
    }
    .kylo-visual-query-table-menu-content {
      max-height: 352px;
    }

  }
  /* Column headers */
  .ui-grid-header-cell-label {
    color: steelblue;
    margin-right: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ui-grid-header-cell-title {
    color: black;
  }

  /* Column menu button */
  .ui-grid-column-menu-button {
    padding: 0;
  }

  .ui-grid-column-menu-button > .md-button.md-icon-button {
    height: inherit;
    line-height: inherit;
    padding: 0 6px;
    font-size: 13px;
  }

  .ui-grid-column-menu-button .ui-grid-icon-angle-down {
    display: inline-block;
    height: 23px;
    margin: auto;
  }

  /** Tooltip */
  .md-tooltip.visual-query-tooltip {
    height: auto;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .md-tooltip.visual-query-tooltip ul {
    color: #ffcdd2;
    margin: 0;
    padding-left: 20px;
  }

  /**
    Override toolbar buttons
     */
  .md-kylo-powerui .md-button {
    min-height: 27px;
    line-height: 27px;
    font-size: 12px;
  }

  /*
Override spacing for context menu
 */
  md-menu-content.md-kylo-theme md-menu-item {
    font-size: 14px;
    height: 36px;
  }

}