<ul class="list-item">
  <li ng-if="vm.getAllFieldPolicies(vm.policy).length <= 2" ng-repeat="rule in vm.getAllFieldPolicies(vm.policy) | limitTo:2">{{rule.name}}</li>
  <li ng-if="vm.getAllFieldPolicies(vm.policy).length > 2" ng-repeat="rule in vm.getAllFieldPolicies(vm.policy) | limitTo:1">{{rule.name}}</li>
  <li ng-if="vm.getAllFieldPolicies(vm.policy).length > 2">
    + {{vm.getAllFieldPolicies(vm.policy).length - 1}} More
    <!--<ng-md-icon-->
        <!--size="18"-->
        <!--style="height: 15px"-->
        <!--icon="more_horiz"></ng-md-icon>-->
  </li>
</ul>
