<h2 mat-dialog-title>{{'SHARED.APPLY_DOMAIN_TYPE.DATATYPE_CONFLICT' | translate}}</h2>
<mat-dialog-content>
   <h2>{{'SHARED.APPLY_DOMAIN_TYPE.REMOVE_DT' | translate}}</h2>
    <div>
      <p [translate]="'SHARED.APPLY_DOMAIN_TYPE.COLOUMN_FIELD_DESC' | translate" [translateParams]="{columnName:columnDef.name, domainType:domainType.title, propertyName:propertyName,propertyValue:propertyValue }"></p>
    </div> 
</mat-dialog-content>

<mat-dialog-actions>

  <span fxFlex=""></span>
    <button mat-raised-button (click)="cancel()">{{'view.main.cancel' | translate}}</button>
    <button mat-raised-button (click)="keep()">{{'view.main.keep' | translate}}</button>
    <button mat-raised-button color="primary" (click)="remove()">{{'views.entity-access-control.Remove' translate}}</button>
</mat-dialog-actions>
