<div>
    <div ng-if="vm.loading">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        <span flex>Loading...</span>
    </div>
    <div ng-if="!vm.loading" overflow-scroll parent="md-dialog-content" offset-height="100">
        <div class="layout-padding-left">
            <md-input-container>
                <label>Filter</label>
                <input ng-model="vm.profileFilter"/>
            </md-input-container>
        </div>

        <md-list flex layout-fill class="list-item-table registered-templates">
            <md-list-item class="md-secondary"
                          dir-paginate="row in vm.data.rows | unique:'columnname' | orderBy:['columnname'] | filter:vm.profileFilter | itemsPerPage:vm.rowsPerPage"
                          pagination-id="profile_stats_0">
                <div layout="row" layout-fill>
                    <div flex="100" layout="column" class="item-column md-list-item-text " title="{{row}}"
                         ng-click="vm.rowDetails($event, row)">
                         <span class="item-title" title="{{row}}">
                         {{::row['columnname']}}
                         </span>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
            <md-list-item ng-show="vm.loading == false && vm.data.length ==0">
                No results found
            </md-list-item>
        </md-list>


        <!--<div flex="initial">-->

            <!--<table class="hive-table" style="width:100%">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>-->
                        <!--Column-->
                    <!--</th>-->
                    <!--<th>-->
                        <!--Metric-->
                    <!--</th>-->
                    <!--<th>-->
                        <!--Value-->
                    <!--</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr dir-paginate="row in vm.data.rows |filter:vm.profileFilter  |orderBy:['columnname','metrictype']|itemsPerPage:vm.rowsPerPage"-->
                    <!--pagination-id="profile_stats_0">-->
                    <!--<td>-->
                        <!--{{::row['columnname']}}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{::row['metrictype']}}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<span style="white-space:pre-wrap;"> {{::row['metricvalue']}}</span>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
            <!--</table>-->
        <!--</div>-->

    </div>
</div>