<vertical-section-layout [allowEdit]="false" [showVerticalCheck]="true" sectionTitle='{{"views.category-feeds.RF" | translate}}'>
    <readonly-section>
        <mat-list layout-fill class="list-item-table list-condensed" id="policy-list" *ngIf="model.relatedFeedSummaries != null && model.relatedFeedSummaries.length > 0">
            <mat-list-item>
                <div layout="row" layout-fill>
                    <div flex="50" class="mat-list-item-text hint">
                        {{"views.category-feeds.Name" | translate}}
                    </div>
                    <div flex="10" class="mat-list-item-text hint">
                        {{"views.category-feeds.Active" | translate}}
                    </div>
                    <div flex="40" class="mat-list-item-text hint">
                        {{"views.category-feeds.LM" | translate}}
                    </div>
                </div>
            </mat-list-item>
            <mat-list-item *ngFor="let feed of model.relatedFeedSummaries" >
                <div layout="row" class="hover" layout-fill (click)="onFeedClick(feed)">
                    <div flex="50" class="mat-list-item-text">
                        <div md-input-container class="md-block" flex-gt-sm>
                            <div>{{feed.feedName}}</div>
                        </div>
                    </div>
                    <div flex="10" class="mat-list-item-text ">
                        <mat-icon>check</mat-icon>
                    </div>
                    <div flex="40" class="mat-list-item-text ">
                        {{feed.updateDate | date : 'MM/dd/yyyy hh:mm:ss'}}
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
        <div *ngIf="model.loadingRelatedFeeds">
            {{"views.category-feeds.Loading" | translate}}<br/>
            <mat-spinner mode="indeterminate" [diameter]="25"></mat-spinner>
        </div>
        <div *ngIf="!model.loadingRelatedFeeds && (model.relatedFeedSummaries == null || model.relatedFeedSummaries.length === 0)">
            {{"views.category-feeds.Tanfawtc" | translate}}
        </div>
    </readonly-section>
</vertical-section-layout>
