<define-feed-step-card [feed]="feed" [step]="step" [singleCardView]="true" (cancelEdit)="onCancelEdit()" (saved)="onSave()">
  <feed-step-readonly-content>
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="20px">

      <mat-radio-group [formControl]="inputProcessorControl">
        <mat-radio-button *ngFor="let processor of inputProcessors" [value]="processor">{{processor.name}}</mat-radio-button>
      </mat-radio-group>

      <feed-details-processor-field [processor]="inputProcessor" [readonly]="feed.readonly"></feed-details-processor-field>
      <feed-details-processor-field *ngFor="let processor of nonInputProcessors" [processor]="processor" [readonly]="feed.readonly"></feed-details-processor-field>

    </form>
  </feed-step-readonly-content>
  <feed-step-edit-content>
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="20px">

      <span>Choose a source</span>
      <mat-radio-group [formControl]="inputProcessorControl">
        <mat-radio-button *ngFor="let processor of inputProcessors" [value]="processor">{{processor.name}}</mat-radio-button>
      </mat-radio-group>

      <feed-details-processor-field [processor]="inputProcessor" [readonly]="feed.readonly"></feed-details-processor-field>
      <feed-details-processor-field *ngFor="let processor of nonInputProcessors" [processor]="processor" [readonly]="feed.readonly"></feed-details-processor-field>

    </form>
  </feed-step-edit-content>
</define-feed-step-card>
