
/* ==========================================================================
Main page styles
========================================================================== */

.disabled {
    color: lightgray;
}

form {
    padding: 1rem;
    margin: 1rem -15px;
    border: solid #f7f7f9;
    border-width: .2rem 0 0;
}
