<mat-card class="example-card">
        <div class="title">Welcome to Kylo Configuration Inspector!</div>
        <div class="subtitle">This application will check your Kylo configuration by reading its properties and assessing their values</div>

        <div class="form" fxLayout="column" fxLayoutAlign="space-evenly start">
            <mat-form-field class="path">
                <input matInput placeholder="Absolute path to Kylo installation, e.g. /opt/kylo" [formControl]="path" required>
                <mat-error *ngIf="path.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-checkbox [formControl]="devMode">Running from source</mat-checkbox>
            <button fxFlex="nogrow" [disabled]="path.invalid" mat-raised-button
                    (click)="checkConfig()">Inspect Configuration
            </button>
        </div>


        <mat-card class="inspection" *ngFor="let check of checks; let i = index"
                  [class.disabled]="check.enabled.value === false"
                  [class.active]="check.id === selectedCheckId">
            <mat-card-content>
                <div fxLayout="row">
                    <div fxFlex>
                        <span class="inspection-header">{{check.name}}</span>
                    </div>
                    <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="space-around center">
                        <i *ngIf="check.isLoading === true" class="fa fa-cog fa-spin fa-larger"></i>
                        <i *ngIf="check.status.valid === true" class="fa fa-check fa-larger"></i>
                        <i *ngIf="check.status.valid === false" class="fa fa-warning fa-larger"></i>
                        <mat-checkbox class="inspection-enabled-check" name="check_{{ i }}" [formControl]="check.enabled">Enabled</mat-checkbox>
                    </div>
                </div>
                <div class="inspection-description">
                    {{check.description}}
                </div>
                <div *ngIf="check.status.description" class="inspection-status-description">
                    {{check.status.description}}
                </div>
                <div *ngIf="check.status.error" class="inspection-status-error">
                    {{check.status.error}}
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>
