/* ==========================================================================
Main page styles
========================================================================== */

.title {
    font-size: 25px;
}

.subtitle {
    color: dimgray;
    font-size: 15px;
}

.inspection {
    margin-bottom: 10px;
}

.inspection-header {
    font-size: 18px;
}

.inspection-description {
    color: dimgray;
    font-size: 15px;
    margin-bottom: 10px;
}

.inspection-enabled-check {
    color: dimgray;
}

.inspection-status-description {

}

.inspection-status-error {

}

.disabled {
    color: lightgray;
}

.disabled, .disabled .inspection-description {
    color: lightgray;
}

.form {
    margin-top: 20px;
    margin-bottom: 10px;
}

.form > * {
    margin-bottom: 10px;
}

.form .path {
    margin-right: 10px;
    min-width: 500px;
}

.fa {
    color: gray;
    margin-right: 15px;
}

.fa-warning {
    color: tomato;
}

.fa-check {
    color: seagreen;
}

.fa-larger {
    font-size: 1.7em;
}
