<div fxLayout="row">
  <div fxFlex="60%">
    <mat-card class="steps feed-card" >
      <mat-card-header >
        <mat-card-title>
          <mat-icon>playlist_add_check</mat-icon>
          <span>Setup Guide</span>
        </mat-card-title>
        <mat-card-subtitle>Required and optional steps</mat-card-subtitle>
        <span fxFlex></span>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list" dense>
          <mat-divider *ngIf="requiredSteps.length >0"></mat-divider>
            <h3 mat-subheader *ngIf="requiredSteps.length >0">Required</h3>
          <mat-divider *ngIf="requiredSteps.length >0"></mat-divider>

          <ng-container *ngFor="let step of requiredSteps; let $last=last">
            <ng-template [ngTemplateOutlet]="setupStepSummary"
                         [ngTemplateOutletContext]="{$implicit:step, $last:$last}">
            </ng-template>
          </ng-container>
          <mat-divider *ngIf="optionalSteps.length >0"></mat-divider>
          <h3 mat-subheader *ngIf="optionalSteps.length >0">Optional</h3>
          <mat-divider *ngIf="optionalSteps.length >0"></mat-divider>
          <ng-container *ngFor="let step of optionalSteps; let $last=last">
            <ng-template [ngTemplateOutlet]="setupStepSummary"
                         [ngTemplateOutletContext]="{$implicit:step, $last:$last}">
            </ng-template>
          </ng-container>

        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="column"  fxFlex="40%">

    <mat-card *ngIf="feed.isDraft()" >
      <mat-card-content>
        <div fxFlex="100" fxLayout="row">
        <mat-icon>playlist_play</mat-icon>
        <span fxFlex="100"> Not ready for deployment</span>
        <button mat-raised-button color="primary" [disabled]="true">Deploy</button>
        </div>
      </mat-card-content>
    </mat-card>



    <mat-card class="feed-info-card feed-card" >
      <mat-card-header>
        <mat-card-title>Feed Info</mat-card-title>
        <mat-card-subtitle>Additional details</mat-card-subtitle>
        <span fxFlex></span>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column" class="feed-info-list">
          <feed-info-name [feed]="feed"></feed-info-name>
          <mat-divider></mat-divider>

          <feed-info-description [feed]="feed"  ></feed-info-description>
          <mat-divider></mat-divider>

          <feed-info-tags [feed]="feed"></feed-info-tags>
          <mat-divider></mat-divider>

          <feed-info-item [feed]="feed" name="{{feed.isDraft() ? 'DRAFT' : feed.state}}" description="Status" icon="stars"  [editable]="false" >
          </feed-info-item>
          <mat-divider></mat-divider>

          <feed-info-category [feed]="feed"  ></feed-info-category>
          <mat-divider></mat-divider>

          <feed-info-schedule [feed]="feed"  ></feed-info-schedule>


        </div>
      </mat-card-content>
    </mat-card>

  </div>


</div>


<ng-template #setupStepSummary let-step let-$last="$last">
  <mat-list-item (click)="onStepSelected(step)" [ngClass]="{'disabled-step':step.disabled}" class="overview-step">
    <mat-icon mat-list-icon color="green" *ngIf="step.complete">check_circle</mat-icon>
    <mat-icon mat-list-icon color="accent" *ngIf="!step.complete && step.icon">{{step.icon}}</mat-icon>
    <h4 mat-line [ngClass]="{'completed-step':step.complete}">
     {{step.name}}
    </h4>
    <p mat-line [ngClass]="{'completed-step':step.complete}"> {{step.description}}</p>
    <span></span>
    <mat-icon color="accent">keyboard_arrow_right</mat-icon>
  </mat-list-item>
  <mat-divider *ngIf=" !$last"></mat-divider>
</ng-template>