<mat-toolbar>
  <div>Feed Summary {{feed.feedName}}</div>
  <span fxFlex="100"></span>
</mat-toolbar>

<div fxLayout="row">
<mat-card class="mat-typography" fxFlex="75%">
  <mat-card-header>
    <mat-card-title>Feed summary</mat-card-title>
    <mat-card-subtitle><span *ngIf="feed.mode == 'DRAFT'">DRAFT</span>
      <span *ngIf="feed.mode !='DRAFT'">{{feed.state}}</span>
    </mat-card-subtitle>
    <span fxFlex></span>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <ng-container *ngFor="let step of feed.steps">

        <mat-list-item (click)="onStepSelected(step)" [ngClass]="{'selected-step': (selectedStep != undefined && step.number == selectedStep.number), 'disabled-step':step.disabled}">
          <h3 matLine>{{step.number}}. {{step.name}}</h3>
          <p mat-line> {{step.description}}</p>
          <span></span>
          <mat-icon color="accent" *ngIf="step.complete">check</mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>

    </mat-list>
  </mat-card-content>
</mat-card>

  <div fxLayout="column"  fxFlex="25%">


    <mat-card class="mat-typography" *ngIf="feed.isDraft()">
      <mat-card-content>
        <button mat-button [disabled]="!feed.isValid">Publish</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-typography" >
      <mat-card-header>
        <mat-card-title>Feed details</mat-card-title>
        <mat-card-subtitle><span *ngIf="feed.mode == 'DRAFT'">DRAFT</span>
          <span *ngIf="feed.mode !='DRAFT'">{{feed.state}}</span>
        </mat-card-subtitle>
        <span fxFlex></span>
      </mat-card-header>
      <mat-card-content>
        Details Card
      </mat-card-content>
    </mat-card>

  </div>


</div>
