<div ng-controller="ImportTemplateController as vm">

<card-layout  header-css="filter-header" class="centered">

    <header-section >
        <div layout="row" layout-align="center start">
            <h2 class="md-title">Import a Template</h2>
            <span flex></span>
            <ng-md-icon icon="file_upload" style="fill:#F08C38;padding-right:16px;" size="30"></ng-md-icon>
        </div>
    </header-section>


    <body-section>





        <div layout="column" flex>
            <div  layout="row" layout-align="center center" style="padding-left:25px;">
                <input type="file"  file-model="vm.templateFile"/>
                <md-checkbox ng-model="vm.overwrite" aria-label="Overwrite if exists">
                    Overwrite Template if it already exists
                </md-checkbox>
                <md-button class="md-raised" ng-click="vm.importTemplate();" ng-if="vm.templateFile != null" ng-disabled="vm.importBtnDisabled">
                    Import Template
                </md-button>
            </div>


            <div ng-if="vm.importResult != null && vm.importResult.success == false">
                <div>Errors were found attempting to register the template: {{vm.importResult.templateName}}</div>
                <md-list class="padding-left" ng-repeat="(severity,errors)  in vm.errorMap">
                    <md-subheader class="md-warn" ng-if="errors.length >0">{{::severity}} errors</md-subheader>
                    <md-list-item class="md-2-line" ng-repeat="error in errors track by $index" >
                        <div class="md-list-item-text" >
                            <div ng-if="error.processorName != null && error.processorName != '' " style="color:grey">Processor: {{::error.processorName}}</div>
                            <div class="md-warn-text">{{::error.message}}</div>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </div>
            <div ng-if="vm.importResult != null && vm.importResult.success == true">
                <div> Successfully imported and Registered the template: {{vm.importResult.templateName}}</div>
            </div>
        </div>
    </body-section>
</card-layout>
    </div>