{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": false
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
