<mat-tab-group dynamicHeight="true">
  <mat-tab label="Categorical">
    <div fxLayout="row" class="pad-top">
      <div fxFlex="70" class="histo">
        <table td-data-table>
          <thead>
          <tr td-data-table-column-row>
            <th td-data-table-column class="truncate">Value</th>
            <th td-data-table-column numeric="true">Count</th>
            <th td-data-table-column numeric="true">%</th>
            <th td-data-table-column numeric="true">Cum. %</th>
          </tr>
          </thead>
          <tbody>
          <tr td-data-table-row *ngFor="let row of data">
            <td td-data-table-cell>
              <div class="truncate" fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="start">
                {{row.domain}}
                <span class="bar bar-success" [style.width]="row.width.toFixed(0) + '%'"></span>
              </div>
            </td>
            <td td-data-table-cell numeric="true">{{row.count}}</td>
            <td td-data-table-cell numeric="true">{{row.frequency | number:'1.1-1'}}</td>
            <td td-data-table-cell numeric="true">{{row.cumm | number:'1.1-1'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="summary-section" fxFlex="30" fxHide.xs="true">
        <div style="padding-left:10px">
          <strong>Summary</strong>
          <table>
            <tbody>
            <tr *ngIf="showValid">
              <th>Valid</th>
              <td colspan="2" [textContent]="validCount">0</td>
            </tr>
            <tr *ngIf="showValid">
              <th>Invalid</th>
              <td colspan="2" [textContent]="invalidCount">0</td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <th>Total</th>
              <td class="numeric" [textContent]="totalCount">0</td>
              <td class="numeric">&nbsp;</td>
            </tr>
            <tr>
              <th>Unique</th>
              <td class="numeric" [textContent]="unique">0</td>
              <td class="numeric" [textContent]="(percUnique | number: '1.1-1')+ '%'">0%</td>
            </tr>
            <tr *ngIf="emptyCount != null">
              <th>Empty</th>
              <td class="numeric" [textContent]="emptyCount">0</td>
              <td class="numeric" [textContent]="(percEmpty | number: '1.1-1') + '%'">0.0%</td>
            </tr>
            <tr>
              <th>Null</th>
              <td class="numeric" [textContent]="nullCount">0</td>
              <td class="numeric" [textContent]="(percNull | number: '1.1-1') + '%'">0.0%</td>
            </tr>
            <tr>
              <td colspan="2">&nbsp;</td>
            </tr>
            <tr *ngIf="maxLen != null">
              <th>Max Len.</th>
              <td class="numeric" [textContent]="maxLen">0</td>
              <td>&nbsp;</td>
            </tr>
            <tr *ngIf="minLen != null">
              <th>Min Len.</th>
              <td class="numeric" [textContent]="minLen">0</td>
              <td>&nbsp;</td>
            </tr>
            <tr *ngIf="max != null">
              <th>Max</th>
              <td colspan="2" [textContent]="max | number:'1.4-4'">0</td>
            </tr>
            <tr *ngIf="min != null">
              <th>Min</th>
              <td colspan="2" [textContent]="min | number:'1.4-4'">0</td>
            </tr>
            <tr *ngIf="sum != null">
              <th>Sum</th>
              <td colspan="2" [textContent]="sum | number:'1.4-4'">0</td>
            </tr>
            <tr *ngIf="mean != null">
              <th>Mean</th>
              <td colspan="2" [textContent]="mean | number:'1.4-4'">0</td>
            </tr>
            <tr *ngIf="variance != null">
              <th>Variance</th>
              <td colspan="2" [textContent]="variance | number:'1.4-4'">0</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Numerical" [disabled]="histo == undefined">
    <column-histogram *ngIf="histo != undefined" [chart-data]="histo"></column-histogram>
  </mat-tab>
</mat-tab-group>
