<form #theForm="ngForm">
  <mat-toolbar [color]="['primary']">
    <span>Schema Layout</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-icon-button (click)="hide()">
      <mat-icon arial-label="Close dialog">close</mat-icon>
    </button>
  </mat-toolbar>
  <div mat-dialog-actions class="mat-dialog-actions">
    <span fxFlex="1 1 auto"></span>
    <button mat-button (click)="hide()">Cancel</button>
    <button mat-raised-button style="margin-right:10px" [color]="['primary']" [disabled]="theForm.invalid || !isChanged" (click)="apply()">Apply</button>
  </div>

  <div mat-dialog-content class="mat-dialog-content" style="max-height:90%">

    <mat-list>

      <td-virtual-scroll-container style="height:75vh;width:100%" [data]="columns">
        <ng-template let-row="row" let-i="index" let-last="last" tdVirtualScrollRow>
          <mat-list-item style="margin-top:10px">
            <mat-icon matListAvatar [color]="['accent']">text_format</mat-icon>

            <mat-form-field mat-line style="width:170px" *ngIf="!row.deleted">
              <input matInput placeholder="Name" [(ngModel)]="row.newName" required pattern="^[a-zA-Z_][a-zA-Z0-9_]*$" name="{{row.origName}}">
            </mat-form-field>

            <h4 matLine *ngIf="row.deleted" style="text-decoration: line-through">{{row.newName}}</h4>

            <span fxFlex="1 1 auto"></span>

            <button mat-icon-button *ngIf="!row.deleted" (click)="remove(i)">
              <mat-icon class="mat-24">delete</mat-icon>
            </button>

            <button mat-icon-button *ngIf="row.deleted" (click)="restore(i)">
              <mat-icon class="mat-24">restore_from_trash</mat-icon>
            </button>

            <!-- <mat-icon style="margin-left:20px" class="mat-24">drag_handle</mat-icon> -->
          </mat-list-item>
          <mat-divider *ngIf="!last" [inset]="false"></mat-divider>
        </ng-template>

      </td-virtual-scroll-container>

    </mat-list>
<!--
    <h2 style="padding-top:20px" *ngIf="trash.length > 0">Trash</h2>

    <mat-list>
      <mat-list-item>
        Deleted Column
      </mat-list-item>
      <td-virtual-scroll-container style="height:75vh" [data]="trash">
        <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
          <mat-list-item>
            <mat-icon matListAvatar [color]='secondary'>text_format</mat-icon>
            <h3 mat-line> {{ row.origName }} </h3>
            <button mat-icon-button (click)="restore(i)">
              <mat-icon class="mat-24">restore_from_trash</mat-icon>
            </button>
            <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
          </mat-list-item>
        </ng-template>

      </td-virtual-scroll-container>
    </mat-list>
-->
  </div>
</form>