

<mat-card class="steps feed-card" >
  <mat-card-header >
    <mat-card-title>
      <!--<mat-icon>{{kyloIcons.Links.feedActivity}}</mat-icon>-->

      <div fxLayout="row" fxLayoutAlign="end start" class="pull-bottom">
        <span>Activity</span>
        <div fxFlex=""></div>
        <mat-button-toggle-group #dateSelection="matButtonToggleGroup" value="1-M"  (change)="onDateSelectionChange($event)">
          <mat-button-toggle value="3-D">
            <span translate class="mat-subheading-1">views.feed-activity-template.3D</span>
          </mat-button-toggle>
          <mat-button-toggle value="1-M">
            <span translate class="mat-subheading-1">views.feed-activity-template.1M</span>
          </mat-button-toggle>
          <mat-button-toggle value="3-M">
            <span translate class="mat-subheading-1">views.feed-activity-template.3M</span>
          </mat-button-toggle>
          <mat-button-toggle value="1-Y">
            <span translate class="mat-subheading-1">views.feed-activity-template.1Y</span>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </mat-card-title>
  <!--  <mat-card-subtitle>Feed operations activity</mat-card-subtitle> -->
    <span fxFlex></span>
  </mat-card-header>
  <mat-card-content>

    <nvd3 [options]="chartOptions" [data]="chartData" ></nvd3>

  </mat-card-content>
</mat-card>

