<div layout="column" class="layout-padding-left" style="padding-top:10px;" >
    <div >
        <div layout="row" layout-align="start stretch">
            <ng-md-icon icon="check" style="fill:#009933;margin-left: -9px;" ng-if="showVerticalCheck == true"></ng-md-icon>
            <span class="md-subhead layout-padding-left"  >{{sectionTitle}}</span>
            <span flex></span>
            <md-button class="icon-btn md-primary" ng-click="edit($event)" ng-if="allowEdit ==true"><ng-md-icon icon="edit"></ng-md-icon></md-button>
        </div>

        <div class="vertical-step-border">
            <div ng-if="!editable" class="md-padding">
            <div ng-transclude="readonly" >
                REadonly SEction

            </div>
            </div>
            <div ng-if="editable == true" class="md-padding">
            <form name="{{formName}}">
                <div ng-transclude="editable" >
                    Editable SEction

                </div>
                <div layout="row" layout-align="end center">
                    <md-button ng-click="delete($event)" ng-disabled="allowDelete == false" ng-if="onDelete !== undefined" >Delete</md-button>
                    <span flex></span>
                    <md-button ng-click="cancel($event)">Cancel</md-button>
                    <md-button class="md-primary md-raised" ng-click="save($event)">Save</md-button>
                </div>
                </form>
            </div>

        </div>
    </div>

</div>