<div flex style="width: 100%" ng-controller="EditFeedController as vm">
    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="vm.model.loaded == false">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <thinkbig-stepper total-steps="{{vm.totalSteps}}" stepper-name="EditFeedStepper" core-data-model="vm.model" on-cancel-stepper="vm.cancelStepper()" template-url="{{vm.stepperUrl}}"
                      selected-step-index="{{vm.selectedStepIndex}}" ng-if="vm.model.loaded == true">
    </thinkbig-stepper>
</div>
