<mat-card class="mat-typography">

  <mat-card-header>
    <mat-card-title *ngIf="mode === editMode" translate>Sla.Details.EditSla</mat-card-title>
    <mat-card-title *ngIf="mode === newMode" translate>Sla.Details.CreateNewSla</mat-card-title>
    <mat-card-subtitle *ngIf="feedModel && (feedModel.state === stateDisabled)" class="warn" translate>Sla.DisabledFeedWarning</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="slaForm">
      <sla-form [formGroup]="slaForm" [sla]="sla" [feed]="feedModel" [mode]="mode"></sla-form>
    </form>
  </mat-card-content>

  <mat-card-actions *ngIf="!loadingFeed && !loadingSla && allowEdit">
    <button mat-button mat-raised-button color="primary" (click)="onSaveSla()" [disabled]="slaForm.invalid || savingSla || deletingSla">{{"Sla.Details.Save" | translate}}</button>
    <button mat-button mat-raised-button (click)="onCancelSaveSla()" [disabled]="savingSla || deletingSla">{{"Sla.Details.Cancel" | translate}}</button>
    <button mat-button mat-raised-button (click)="onDeleteSla()" [disabled]="deletingSla || savingSla" *ngIf="mode === editMode">{{"Sla.Details.Delete" | translate}}</button>
  </mat-card-actions>

</mat-card>

