
<td-layout *ngIf="feed != undefined">
    <td-layout-manage-list opened="true" mode="side">
      <mat-toolbar td-sidenav-content (click)="gotoFeeds()" style="cursor:pointer">Feeds</mat-toolbar>
      <div td-sidenav-content>
        <mat-nav-list>
          <h3 mat-subheader>Feed Definition</h3>
       <!--   <a mat-list-item  (click)="onSummarySelected()" *ngIf="!feed.isNew() ">
            <h3 matLine>Summary</h3>
            <span></span>
          </a>
          <mat-divider></mat-divider>
          -->
          <ng-template let-step let-last="last" ngFor [ngForOf]="feed.steps">
            <a mat-list-item (click)="onStepSelected(step)" class="pad-left-sm" [ngClass]="{'selected-step': (isSelectedStep(step)), 'disabled-step':step.disabled}">
              <h3 matLine>{{step.number}}. {{step.name}}</h3>
              <span></span>
              <mat-icon color="accent" *ngIf="step.complete">check</mat-icon>
            </a>
          </ng-template>

          <mat-divider></mat-divider>
          <h3 mat-subheader>Links</h3>
          <ng-template let-link let-last="last" ngFor [ngForOf]="feedLinks">
            <a mat-list-item (click)="onLinkSelected(link)" class="pad-left-sm" [ngClass]="{'selected-step': (isSelected(link.sref))}">
              <mat-icon mat-list-icon *ngIf="link.icon != null">{{link.icon}}</mat-icon>
              <div matLine>{{link.label}}</div>
              <span></span>
            </a>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-template>

        </mat-nav-list>
      </div>
      <mat-toolbar>
      <!--  <button mat-button tdLayoutManageListToggle>
          Toggle
        </button>
        -->
        <div *ngIf="selectedStep != undefined">{{feed.feedName}}</div>
        <span fxFlex="100"></span>
        <span class="hint" *ngIf="!feed.isNew()">Last updated: {{feed.updateDate | date:'short'}}</span>
        <button mat-icon-button (click)="onCancelEdit()" *ngIf="!feed.readonly" [disabled]="isLinkState()">Cancel</button>
        <button mat-icon-button (click)="onEdit()" *ngIf="feed.readonly" [disabled]="isLinkState()"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button (click)="onSave()" *ngIf="!feed.readonly" [disabled]="isLinkState()"><mat-icon>save</mat-icon></button>
        <button mat-icon-button (click)="onDelete()" *ngIf="!feed.readonly" [disabled]="isLinkState()"><mat-icon>delete</mat-icon></button>
      </mat-toolbar>
      <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']" *tdLoading="'processingFeed'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
      <ui-view></ui-view>
      </div>
    </td-layout-manage-list>


</td-layout>

