<md-card layout-align="center center" >
    <span class="card-title kip-header">Job Activity</span>
    <span class="md-caption kpi-subtitle "style="padding-bottom:10px">Currently Running Jobs</span>
    <md-card-content layout="column" layout-align="center center" class="kpi-content">
        <div ng-if="vm.dataLoaded">
            <nvd3 flex options="vm.chartOptions" data="vm.chartData" api="vm.chartApi" ></nvd3>
            <div layout="row" layout-align="center center" flex  style="width:100%" >
               <span layout="column">
                <span class="md-title" ng-class="{'healthy':vm.running >0}">{{vm.running}}</span>
                <span class="md-caption kpi-health-label">Running</span>
            </span>
            </div>
        </div>
        <div ng-if="!vm.dataLoaded" class="kpi-loading">  <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
        </div></div>
    </md-card-content>
</md-card>