<td-layout>
  <ng-container>
    <mat-card>
      <mat-list *ngIf="templates.length > 0">
        <td-search-box placeholder="Search Marketplace" debounce="0" [alwaysVisible]="true" (searchDebounce)="search($event)">
        </td-search-box>
        <ng-template let-item let-last="last" ngFor [ngForOf]="filteredTemplates">
          <mat-list-item>
            <div flex="40" layout="column" class="item-column md-list-item-text">
              <ng-md-icon icon="done" style="fill:green" size="20" *ngIf="item.installed"></ng-md-icon>
              <ng-md-icon *ngIf="!item.installed" icon="file_upload" (click)="toggleImportTemplate(item)" style="fill:#F08C38;cursor: pointer;" size="20"></ng-md-icon>
            </div>
            <div flex="40" layout="column" style="overflow:hidden; text-overflow:ellipsis;" class="item-column md-list-item-text">
              <span class="item-title" >
                 {{item.templateName}} <span><ng-md-icon icon="layers" style="fill:#9e9e9e" size="15"></ng-md-icon></span>
              </span>
              <div layout="row" class="column-title column-title-bottom">
                <span>{{item.description}}</span>
              </div>
            </div>
          </mat-list-item>
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-template>

        <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
          <span hide-xs>Rows per page:</span>
          <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
            <mat-option *ngFor="let size of [50, 100, 200, 500]" [value]="size">
              {{size}}
            </mat-option>
          </mat-select>
          {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
        </td-paging-bar>
      </mat-list>

      <div *ngIf="templates.length == 0" class="connectors-empty" fxLayout="column" fxLayoutAlign="center center">
        <ng-md-icon class="tc-grey-500" icon="find_in_page" size="96"></ng-md-icon>
        <h2>No Templates or Feeds available in marketplace.</h2>
        <span>No Templates or Feeds available in marketplace.</span>
      </div>
    </mat-card>
  </ng-container>

</td-layout>