<ng-container *ngIf="templates.length > 0">
    <mat-card>
        <mat-nav-list>
          <button class="md-raised md-primary md-button ng-scope md-kylo-theme" type="button" (click)="importTemplates()">
            Import
          </button>
            <ng-template let-item let-last="last" ngFor [ngForOf]="templates">
                <mat-list-item matRipple class="cursor-pointer">
                    <div flex="30" layout="column" style="overflow:hidden; text-overflow:ellipsis;" class="item-column md-list-item-text">
                      <mat-checkbox [disabled]="item.installed" (change)="toggleImportTemplate($event, item)">
                      </mat-checkbox>
                    </div>
                    <div flex="30" layout="column" style="overflow:hidden; text-overflow:ellipsis;" class="item-column md-list-item-text" (click)="importTemplate(item)">
                        <span class="item-title" >
                           {{item.templateName}}
                        </span>
                        <span class="column-title column-title-bottom">File Name: {{item.fileName}} | Description: {{item.description}}</span>
                    </div>
                </mat-list-item>
                <mat-divider *ngIf="!last"></mat-divider>
            </ng-template>
        </mat-nav-list>
    </mat-card>
  </ng-container>
  
  <div *ngIf="templates.length == 0" class="connectors-empty" fxLayout="column" fxLayoutAlign="center center">
    <ng-md-icon class="tc-grey-500" icon="find_in_page" size="96"></ng-md-icon>
    <h2>No Templates</h2>
    <span>There are no available templates.</span>
  </div>
  