<label ng-class="{'label-small md-container-ignore':vm.property.renderWithCodeMirror || vm.property.renderType =='radio'}"
       ng-if="vm.property.renderType == null || !( vm.property.renderType == 'checkbox-true-false' || vm.property.renderType == 'checkbox-custom')">{{vm.property.key}}</label>


<div ng-if="vm.property.renderWithCodeMirror && property.renderType != 'text/x-hive' " ng-model="vm.property.value" ui-codemirror="{
        lineWrapping : true,
        indentWithTabs: true,
        smartIndent: true,
        lineNumbers: true,
        matchBrackets : true,
        autofocus: true,
        mode: '{{::vm.property.renderType}}'
      }">
</div>

<thinkbig-hql-editor ng-model="vm.property.value" ng-if="vm.property.renderWithCodeMirror && vm.property.renderType == 'text/x-hive'" allow-fullscreen="false" allow-database-browse="false"
                     allow-execute-query="false"></thinkbig-hql-editor>

<div ng-if="!vm.property.renderWithCodeMirror && !vm.property.isLoading">
    <input empty-string-to-null name="{{vm.property.formKey}}" ng-model="vm.property.value" ng-if="!vm.property.sensitive && (vm.property.renderType == 'text' || vm.property.renderType == null)" ng-required="vm.property.required" ng-disabled="vm.propertyDisabled" ng-change="vm.onPropertyChanged(vm.property)" autocomplete="new-password"/>

    <input empty-string-to-null name="{{vm.property.formKey}}" ng-model="vm.property.value" string-to-number type="number" ng-if="vm.property.renderType == 'number'" ng-required="vm.property.required" ng-disabled="vm.propertyDisabled" ng-change="vm.onPropertyChanged(vm.property)" autocomplete="new-password"/>

    <input empty-string-to-null name="{{vm.property.formKey}}" ng-model="vm.property.value" type="password" ng-if="vm.property.renderType == 'password' || (vm.property.renderType == 'text' && vm.property.sensitive)" ng-required="vm.property.required" ng-disabled="vm.propertyDisabled" ng-change="vm.onPropertyChanged(vm.property)" autocomplete="new-password"/>

    <textarea name="{{vm.property.formKey}}" ng-model="vm.property.value" ng-if="vm.property.renderType == 'textarea'" ng-required="vm.property.required" ng-disabled="vm.propertyDisabled" ng-change="vm.onPropertyChanged(vm.property)">
        {{vm.property.value}}
    </textarea>

    <md-checkbox name="{{vm.property.formKey}}" ng-if="vm.property.renderType == 'checkbox-true-false'" ng-disabled="vm.propertyDisabled" ng-change="vm.onPropertyChanged(vm.property)" ng-model="vm.property.value" aria-label="vm.property.key"
                 ng-true-value="'true'" ng-false-value="'false'">{{vm.property.key}}
    </md-checkbox>

    <md-checkbox name="{{vm.property.formKey}}" ng-if="vm.property.renderType == 'checkbox-custom'" ng-disabled="vm.propertyDisabled" ng-change="vm.onPropertyChanged(vm.property)" ng-model="vm.property.value" aria-label="vm.property.key"
                 ng-true-value="'{{vm.property.renderOptions['trueValue']}}'" ng-false-value="'{{vm.property.renderOptions['falseValue']}}'">{{vm.property.key}}
    </md-checkbox>

    <md-radio-group ng-model="vm.property.value" ng-if="vm.property.renderType == 'radio' && vm.property.propertyDescriptor.allowableValues != null " layout="row" layout-wrap="true">
        <md-radio-button name="{{vm.property.formKey}}" ng-repeat="allowableValue in vm.property.propertyDescriptor.allowableValues" value="{{allowableValue.value}}" ng-disabled="vm.propertyDisabled">
            {{allowableValue.displayName}}
        </md-radio-button>
    </md-radio-group>

  <md-select name="{{vm.property.formKey}}" ng-model="vm.property.value"
             ng-if="vm.property.renderType == 'select' && ((vm.property.selectOptions != null && vm.property.selectOptions.length >0) && ( vm.property.propertyDescriptor.allowableValues == null || vm.property.propertyDescriptor.allowableValues.length == 0))"
             ng-disabled="vm.propertyDisabled"
             ng-change="vm.onPropertyChanged(vm.property)"
             ng-required="vm.property.required">
    <md-option ng-value="" ng-if="!vm.property.required">Not Set</md-option>
    <md-option ng-repeat="allowableValue in vm.property.selectOptions" value="{{allowableValue}}">
      {{allowableValue}}
    </md-option>
  </md-select>

  <md-select name="{{vm.property.formKey}}" ng-model="vm.property.value" ng-if="vm.property.renderType == 'select' &&  (vm.property.propertyDescriptor.allowableValues != null && vm.property.propertyDescriptor.allowableValues.length > 0)"
             ng-disabled="vm.propertyDisabled"
             ng-change="vm.onPropertyChanged(vm.property)"
             ng-required="vm.property.required">
    <md-option ng-value="" ng-if="!vm.property.required">Not Set</md-option>
        <md-option ng-repeat="allowableValue in vm.property.propertyDescriptor.allowableValues" value="{{allowableValue.value}}">
            {{allowableValue.displayName}}
        </md-option>
    </md-select>
</div>

<div ng-if="!vm.property.renderWithCodeMirror && vm.property.isLoading" style="margin-top: 20px;">
    <md-progress-circular md-diameter="20px" md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-messages="vm.theForm[vm.property.formKey].$error" md-auto-hide="false">
  <div ng-message="required">This field is required.</div>
</div>

<div class="hint">{{vm.property.propertyDescriptor.description}}</div>

<md-tooltip md-direction="left" ng-if="vm.property.sensitive">
  This is a sensitive property.
</md-tooltip>