<div>
  <mat-card class="flex-70 centered" style="margin:auto;" *ngIf="loaded">
    <mat-card-title>
      <div layout="row" layout-align="center start">
        <div class="card-title">{{"FEED_MGR.DOMAIN_TYPES.DETAILS.DOMAIN_TYPE_DETAILS" | translate}}</div>
        <span flex></span>
        <ng-md-icon icon="{{model.icon}}" [ngStyle]="{'fill':model.iconColor}" style="padding-right:16px;" size="30"></ng-md-icon>
      </div>
    </mat-card-title>
    <mat-card-content class="md-padding">
      <domain-type-metadata-details [allowEdit]="allowEdit" [model]="model"></domain-type-metadata-details>
      <domain-type-matchers-details *ngIf="!isNew" [allowEdit]="allowEdit" [model]="model"></domain-type-matchers-details>
      <domain-type-rules-details *ngIf="!isNew" [allowEdit]="allowEdit" [model]="model"></domain-type-rules-details>
    </mat-card-content>
  </mat-card>
</div>
