<mat-content class="mat-padding">

  <div fxLayout="column">

    <div fxLayout="row">
      <span class="mat-title"> Is Kylo Clustered</span>
      <div fxFlex class="layout-padding-left">
        <mat-icon *ngIf="isClustered" icon="check_circle" class="healthy"></mat-icon>
        <mat-icon *ngIf="!isClustered" icon="do_not_disturb" class="warn"></mat-icon>
      </div>
    </div>
  </div>

  <div *ngIf="isClustered" class="layout-padding-top">

    <div *ngIf="members.length <=1" class="layout-padding-bottom" fxLayout="column">
      <div fxLayout="row" layout-align="start start">
            <span>
              <mat-icon icon="warning" class="warn"></mat-icon>
            </span>
        <span class="mat-subhead layout-padding-left">Warning.  Only 1 member is found in the cluster. </span>
        <span fxFlex> </span>
      </div>
      <span class="hint">Please ensure your Kylo cluster configuration is configured correctly.</span>
    </div>

    <div fxLayout="column" class="layout-padding-top-bottom">
      <mat-divider></mat-divider>
      <span class="mat-title layout-padding-top">Cluster Members</span>
      <div fxLayout="column" ng-repeat="member in members" class="layout-padding-top layout-padding-left">
        {{member}}
      </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column">
      <span class="mat-title layout-padding-top">Send a Message</span>
      <div fxLayout="row" class="layout-padding-top layout-padding-left">
        <mat-input-container class="condensed">
          <label>Send a Message</label>
          <input mat-input [(ngModel)]="simpleMessage" required>
        </mat-input-container>
        <button mat-button (click)="sendMessage();" color="primary" class="md-raised">Send</button>
      </div>
    </div>


    <mat-divider></mat-divider>
    <div fxLayout="column">
      <span class="mat-title layout-padding-top">Received Messages</span>
      <mat-list layout-fill fxLayout="column" class="list-item-table">
        <mat-list-item ng-repeat="msg in receivedMessages|orderBy:'-dateTime' ">
          <div fxLayout="row" layout-fill>
            <div fxFlex="60" fxLayout="column" class="item-column mat-list-item-text ">
              <span class="item-title">{{msg.message}}</span>
              <span class="column-title column-title-bottom">
                              Message
            </span>
            </div>

            <div fxLayout="column" fxFlex="20" class="item-column mat-list-item-text ">
              <span class="item-title">{{msg.from}}</span>
              <span class="column-title column-title-bottom">
                              From
            </span>
            </div>
            <div fxLayout="column" fxFlex="20" class="item-column mat-list-item-text ">
              <span class="item-title">{{msg.dateTime | date:'HH:mm:ss'}}</span>
              <span class="column-title column-title-bottom">
                              Date
            </span>
            </div>

          </div>
          <mat-divider *ngIf="!$last"></mat-divider>
        </mat-list-item>
        <mat-list-item *ngIf="receivedMessages.length == 0">
          <div style="width:100%" class="item-column">
            <span class="item-title">No Messages received</span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div *ngIf="!isClustered" fxLayout="column">
    <span>Kylo is not clustered.  Please follow the <a href="http://kylo.readthedocs.io/en/latest/how-to-guides/KyloClusterConfiguration.html" target="_blank">Clustering Kylo" documentation</a> and ensure the following items are configured.</span>
    <span class="hint">The default Kylo installation provides sample configuration files for the items below in the <i>'/opt/kylo/setup/config/kylo-cluster/'</i></span>

    <ul>
      <li>Modeshape jgroups configuration</li>
      <li>
        <ul>
          <li>Ensure the correct modeshape-jgroups xml exists in the <i>'/kylo-services/conf'</i> and is configured.</li>
          <li>Ensure the file above is configured and referenced in the metadata-repository.json file.</li>
        </ul>
      </li>
      <li>Kylo jgroups configuration</li>
      <li>
        <ul>
          <li>Ensure the kylo-cluster-jgroups-config.xml exists in the <i>'/kylo-services/conf'</i> and is configured.</li>
          <li>The property in the kylo-services/conf/application.properties exists referring to the file above:<br/>
            <pre>
                kylo.cluster.jgroupsConfigFile=kylo-cluster-jgroups-config.xml
              </pre>
          </li>
        </ul>
      </li>
      <li>Quartz Scheduler</li>
      <li>
        <ul>
          <li>Ensure the Quartz Scheduler is configured for cluster mode and the 'quartz.properties' file is in the <i>'/kylo-services/conf'</i></li>
        </ul>
      </li>
    </ul>
  </div>
</mat-content>
