<mat-content class="mat-padding">

  <div fxLayout="column">

    <div fxLayout="row">
      <span class="mat-title"> {{"ADMIN.CLUSTER.CLUSTER-TEST.TITLE" | translate}}</span>
      <div fxFlex class="layout-padding-left">
        <mat-icon *ngIf="isClustered" class="healthy">check_circle</mat-icon>
        <mat-icon *ngIf="!isClustered" class="warn">do_not_disturb</mat-icon>
      </div>
    </div>
  </div>

  <div *ngIf="isClustered" class="layout-padding-top">

    <div *ngIf="members.length <=1" class="layout-padding-bottom" fxLayout="column">
      <div fxLayout="row" layout-align="start start">
            <span>
              <mat-icon icon="warning" class="warn"></mat-icon>
            </span>
        <span class="mat-subhead layout-padding-left">{{"ADMIN.CLUSTER.CLUSTER-TEST.WARNING" | translate}}</span>
        <span fxFlex> </span>
      </div>
      <span class="hint">{{"ADMIN.CLUSTER.CLUSTER-TEST.ENSURE.REQUEST" | translate}}</span>
    </div>

    <div fxLayout="column" class="layout-padding-top-bottom">
      <mat-divider></mat-divider>
      <span class="mat-title layout-padding-top">{{"ADMIN.CLUSTER.CLUSTER-TEST.MEMBERS" | translate}}</span>
      <div fxLayout="column" ng-repeat="member in members" class="layout-padding-top layout-padding-left">
        {{member}}
      </div>
    </div>

    <mat-divider></mat-divider>

    <div fxLayout="column">
      <span class="mat-title layout-padding-top">{{"ADMIN.CLUSTER.CLUSTER-TEST.SENDMESSAGE" | translate}}</span>
      <div fxLayout="row" class="layout-padding-top layout-padding-left">
        <mat-input-container class="condensed">
          <label>{{"ADMIN.CLUSTER.CLUSTER-TEST.SENDMESSAGE" | translate}}</label>
          <input mat-input [(ngModel)]="simpleMessage" required>
        </mat-input-container>
        <button mat-button (click)="sendMessage();" color="primary" class="md-raised">{{"ADMIN.CLUSTER.CLUSTER-TEST.SENDBUTTON" | translate}}</button>
      </div>
    </div>


    <mat-divider></mat-divider>
    <div fxLayout="column">
      <span class="mat-title layout-padding-top">{{"ADMIN.CLUSTER.CLUSTER-TEST.RECEIVEDMESSAGE" | translate}}</span>
      <mat-list layout-fill fxLayout="column" class="list-item-table">
        <mat-list-item ng-repeat="msg in receivedMessages|orderBy:'-dateTime' ">
          <div fxLayout="row" layout-fill>
            <div fxFlex="60" fxLayout="column" class="item-column mat-list-item-text ">
              <span class="item-title">{{msg.message}}</span>
              <span class="column-title column-title-bottom">
                {{"ADMIN.CLUSTER.CLUSTER-TEST.MESSAGETEXT" | translate}}
            </span>
            </div>

            <div fxLayout="column" fxFlex="20" class="item-column mat-list-item-text ">
              <span class="item-title">{{msg.from}}</span>
              <span class="column-title column-title-bottom">
                {{"ADMIN.CLUSTER.CLUSTER-TEST.FROMTEXT" | translate}}
            </span>
            </div>
            <div fxLayout="column" fxFlex="20" class="item-column mat-list-item-text ">
              <span class="item-title">{{msg.dateTime | date:'HH:mm:ss'}}</span>
              <span class="column-title column-title-bottom">
                {{"views.common.date" | translate}}
            </span>
            </div>

          </div>
          <mat-divider *ngIf="!$last"></mat-divider>
        </mat-list-item>
        <mat-list-item *ngIf="receivedMessages.length == 0">
          <div style="width:100%" class="item-column">
            <span class="item-title">{{"ADMIN.CLUSTER.CLUSTER-TEST.NO_MESSAGES_RECEIVED_TEXT" | translate}}</span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div *ngIf="!isClustered" fxLayout="column">
    <span>{{"ADMIN.CLUSTER.CLUSTER-TEST.NOT_CLUSTERED_PART1" | translate}} <a href="http://kylo.readthedocs.io/en/latest/how-to-guides/KyloClusterConfiguration.html" target="_blank">Clustering Kylo documentation</a> {{"ADMIN.CLUSTER.CLUSTER-TEST.NOT_CLUSTERED_PART2" | translate}}</span>
    <span class="hint">{{"ADMIN.CLUSTER.CLUSTER-TEST.DEFAULT_KYLO_CONF_TEXT" | translate}} <i>'/opt/kylo/setup/config/kylo-cluster/'</i></span>

    <ul>
      <li>{{"ADMIN.CLUSTER.CLUSTER-TEST.MODESHAPE_JGROUPS_CONF" | translate}}</li>
      <li>
        <ul>
          <li [translate]="'ADMIN.CLUSTER.CLUSTER-TEST.ENSURE.MODESHAPE_JGROUPS_PART1'" [translateParams]="{fileName:'modeshape-jgroups xml',filePath:'/kylo-services/conf'}"></li>
          <li [translate]="'CLUSTER.CLUSTER-TEST.ENSURE.FILE_CONFIGURED'" [translateParams]="{fileName:'metadata-repository.json'}"></li>
        </ul>
      </li>
      <li>{{"ADMIN.CLUSTER.CLUSTER-TEST.KYLO_JOB_CONF_TEXT" | translate}}</li>
      <li>
        <ul>
          <li [translate]="'ADMIN.CLUSTER.CLUSTER-TEST.ENSURE.KYLO_CLUSTER_CONF_PART1'" [translateParams]="{fileName:'kylo-cluster-jgroups-config.xml',filePath:'/kylo-services/conf'}"></li>
          <li [translate]="'ADMIN.CLUSTER.CLUSTER-TEST.ENSURE.PROPERTY_EXISTS'" [translateParams]="{filePath:'kylo-services/conf/application.properties',fileKey:'kylo.cluster.jgroupsConfigFile=kylo-cluster-jgroups-config.xml'}">
          </li>
        </ul>
      </li>
      <li>{{"ADMIN.CLUSTER.CLUSTER-TEST.QUARTZ_SCHEDULER" | translate}}</li>
      <li>
        <ul>
          <li [translate]="'ADMIN.CLUSTER.CLUSTER-TEST.ENSURE.QUARTZ_SCHEDULER'" [translateParams]="{fileName: 'quartz.properties', filePath: '/kylo-services/conf'}"></li>
        </ul>
      </li>
    </ul>
  </div>
</mat-content>
