table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

th {
  background-color: #F08C38;
  color: white;
}
